<!DOCTYPE html>
<html class="no-js" lang="en" data-ng-app="intranet">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="{{app.description}}">
        <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
        
        <title data-ng-bind="::pageTitle()">Intranet Altatec</title>
        
        <!-- Fuentes de datepicker -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
        
        <!-- Bootstrap styles-->
        <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
        <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
        
        <!-- Application styles-->
        <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
        <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
        
        <!-- Themes-->
        <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
        
        <!-- Angular tree drag&drop -->
		<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    </head>

    <body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}" data-ng-controller="IndexController">
	    
        <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
        
        <!-- Básicas -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="app/vendor/sparklines/jquery.sparkline.min.js"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		
		<!-- Enrutado de las vistas -->
        <script src="bower_components/angular-route/angular-route.js"></script>
        
        <!-- Cookies y elementos de sesión -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        
        <!-- Control de usuarios de DreamFactory -->
        <script src="bower_components/dreamfactory-user-management/dreamfactory-user-management.js"></script>
        
        <!-- Subida de archivos -->
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
                	
		<!-- datetimepicker -->
		<script src="app/js/datetime-picker.js"></script>
		<script src="app/js/ui-bootstrap.tpls.js"></script>
		
		<!-- LocalStorage -->
		<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
		
		<!-- Angular tree drag&drop -->
		<script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
		
		<!-- Cambios sin guardar en los formularios -->
		<script src="bower_components/angular-unsavedChanges/src/unsavedChanges.js"></script>
		
		<!-- Archivos de código -->
		<script src="app/js/base.js"></script>
		<script src="app/js/app.js"></script>
		<script src="app/js/servicios.js"></script>
		<script src="app/js/funciones.js"></script>
		
		<!-- Controladores propios de la aplicación -->
		<script src="app/js/controllers/indexController.js"></script>
		<script src="app/js/controllers/sidebarController.js"></script>
		<script src="app/js/controllers/loginFormController.js"></script>
		<script src="app/js/controllers/errorController.js"></script>
		<script src="app/js/controllers/logoutController.js"></script>
		<script src="app/js/controllers/registerFormController.js"></script>
		<script src="app/js/controllers/resetPassController.js"></script>
		<script src="app/js/controllers/userBlockController.js"></script>
		
		<!-- Controladores de las vistas del menú -->
		<script src="app/js/controllers/dashboardController.js"></script>
		
		<script src="app/js/controllers/sistemas/sistemasConController.js"></script>
		<script src="app/js/controllers/sistemas/sistemasContratoController.js"></script>
		<script src="app/js/controllers/sistemas/sistemasController.js"></script>
		<script src="app/js/controllers/sistemas/sistemasElemController.js"></script>
		<script src="app/js/controllers/sistemas/sistemasFormController.js"></script>
		<script src="app/js/controllers/sistemas/sistemasInciController.js"></script>
		<script src="app/js/controllers/sistemas/sistemasInstController.js"></script>
		<script src="app/js/controllers/sistemas/sistemasLlavesController.js"></script>
		
		<script src="app/js/controllers/contratos/constratosController.js"></script>
		<script src="app/js/controllers/contratos/contratosFormController.js"></script>
		<script src="app/js/controllers/contratos/contratosServiciosController.js"></script>
		
		<script src="app/js/controllers/contactos/contactosController.js"></script>
		<script src="app/js/controllers/contactos/contactosFormController.js"></script>
		<script src="app/js/controllers/contactos/contactosSistemasController.js"></script>
		
		<script src="app/js/controllers/instalaciones/instalacionesController.js"></script>
		<script src="app/js/controllers/instalaciones/instalacionesFasesController.js"></script>
		<script src="app/js/controllers/instalaciones/instalacionesFormController.js"></script>
		<script src="app/js/controllers/instalaciones/instalacionesOrdeTrabajoController.js"></script>
		<script src="app/js/controllers/instalaciones/InstalacionesPendientesController.js"></script>
		
		<script src="app/js/controllers/pendientesController.js"></script>
		
		<script src="app/js/controllers/incidencias/incidenciasController.js"></script>
		<script src="app/js/controllers/incidencias/incidenciasFormController.js"></script>
		<script src="app/js/controllers/incidencias/incidenciasTareasController.js"></script>
		
		<script src="app/js/controllers/clientesController.js"></script>
		
		<script src="app/js/controllers/presupuestos/presupuestosAceptacionContactosController.js"></script>
		<script src="app/js/controllers/presupuestos/presupuestosAceptacionFormController.js"></script>
		<script src="app/js/controllers/presupuestos/presupuestosAceptacionRentingController.js"></script>
		<script src="app/js/controllers/presupuestos/presupuestosAceptacionServiciosController.js"></script>
		<script src="app/js/controllers/presupuestos/presupuestosController.js"></script>
		
		<script src="app/js/controllers/aceptaciones/aceptacionesContactosController.js"></script>
		<script src="app/js/controllers/aceptaciones/aceptacionesController.js"></script>
		<script src="app/js/controllers/aceptaciones/aceptacionesFormController.js"></script>
		<script src="app/js/controllers/aceptaciones/aceptacionesRentingController.js"></script>
		<script src="app/js/controllers/aceptaciones/aceptacionesServiciosController.js"></script>
		
		<script src="app/js/controllers/fasesController.js"></script>
		
		<script src="app/js/controllers/serviciosController.js"></script>
		
		<script src="app/js/controllers/productosController.js"></script>
		
		<script src="app/js/controllers/financiacionController.js"></script>
		
		<script src="app/js/controllers/catalogoController.js"></script>
		
		<script src="app/js/controllers/provinciasController.js"></script>
		
		<script src="app/js/controllers/poblacionesController.js"></script>
		
	</body>
</html>