@page{
	size: A4;
	margin: 10mm; /*38px*/
}
html, body{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%
	min-height: 90%;
}
table{
	 width: 100% !important;
	 border-collapse: collapse;
}
table > tbody > tr > td{
	padding-left: 10px !important;
}
/*-------------------- Vista de Configuraciones --------------------*/
 .centrado{
	text-align: center !important;
	padding-top: 5px !important;
 }
 .table > thead > tr > th {
  border-bottom-width: 1px !important;
}
.table > tbody + tbody {
  border-bottom-width: 1px !important;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(23, 151, 190, 0.1) !important;
}
.tituloCampoConfig{
	width: 120px !important;
	font-weight: bold !important;
}
.text-tituloTabla{
	font-size: 15px !important;
}
.sinColor{
	background-color: transparent !important;
}
.tablaFuera{
	border: solid 1px !important;
}
.tdFuera{
	border: solid 1px !important;
}
.tdDentroR{
	border-right: solid 1px;
}
.tdDentroB{
	border-bottom: solid 1px;
}
 
/*-------------------- Márgenes --------------------*/
.m0{
	margin: 0px !important;
}
.mr-xs{
	margin-right: 1px !important;
}
.ml-xs{
	margin-left: 1px !important;
}

.mt-sm{
	margin-top: 5px !important;
}
.mb-sm{
	margin-bottom: 5px !important;
}

.mr{
	margin-right: 10px !important;
}
.ml{
	margin-left: 10px !important;
}
/*-------------------- Padding --------------------*/
.p0{
	padding: 0px !important;
}
.p-sm{
	padding: 5px !important;
}

.pl0{
	padding-left: 0px !important;	
}
.pr0{
	padding-right: 0px !important;	
}

.pl-sm{
	padding-left: 5px !important;
}
.pr-sm{
	padding-right: 5px !important;
}

/*-------------------- Bordes --------------------*/
.b0{
	border: 0px !important;
}
.bl0{
	border-left: 0px !important;
}
.bt0{
	border-top: 0px !important;
}
.br0{
	border-right: 0px !important;
}
.bb0{
	border-bottom: 0px !important;
}