@page{
	size: A4;
	margin: 10mm; /*38px*/
}
html, body{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%
	min-height: 90%;
	/*background-color: green;*/
}
h3{
	padding: 0px;
	margin: 0px;
}
h5{
	text-align: center;
	padding-top: 5px;
	margin-top: 0px;
}
th{
	font-family:Arial, sans-serif;
	font-size:15px;
	font-weight:normal;
	padding:1px 1px;
	border-style:solid;
	border-width:1px;
	border-top-left-radius:5px;
	overflow:hidden;
	word-break:normal;
	font-weight: bold;
}
#divEmpresaCliente{
	margin: 0px;
}
#divPosicion{
	min-height: 1px;
	/*background-color: red;*/
}
#divPresupuesto{
	clear: both;
	margin: 0px;
	padding-top: 10px;
}
#divFooter{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.titulo{
	background-color: #cccccc;
	border: solid 1px;
	border-radius: 5px;
	text-align: center;
	padding-top: 5px; /*5px*/
	padding-bottom: 5px; /*5px*/
	margin-bottom: 10px; /*10px*/
}
.cuadroDatos{
	position: relative;
	padding: 0px !important;
	width: 50%;
	float: left;
}
.cuadro{
	border: solid 1px;
	border-radius: 5px;	
	padding-left: 10px;
	padding-top: 5px;
	height: 215px !important;
}
.parrafoCuadrados{
	margin-bottom: 5px;
}
.bordeadoEstrecho{
	border: solid 1px;
	border-radius: 5px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
.fecha{
	float: right;
	min-width: 150px;
}
.divTabla{
	text-align: center;
	margin: 0px;
	margin-top: 10px;
	/*margin-bottom: 292px; /*175*/
	padding: 0px;
}
.tabla{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.radiusTL{
	border-top-left-radius: 5px;
}
.radiusTR{
	border-top-right-radius:5px;
}
.tdNombre{
	font-family:Arial, sans-serif;
	font-size:12px;
	padding:2px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align:left;
	min-width: 150px;
}
.tdDesc{
	font-family:Arial, sans-serif;
	font-size:12px;
	padding:2px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align:left;
}
.tdPvp{
	min-width: 70px
}
.tdTotal{
	min-width: 70px
}
.textoTabla{
	font-family:Arial, sans-serif;
	font-size:12px;
	padding:2px 1px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align:center;
}
.textoRight{
	text-align:right !important;
}
.fbold{
	font-weight: bold;
}
.textoInfo{
	font-size: small;
	text-indent: 25px;
}
.cuadroFirma{
	border: solid 1px;
	border-radius: 10px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-right: 1px;
	height: 150px;
}
.tituloFirma{
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.observaciones{
	border: solid 1px;
	border-radius: 5px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	height: 100px;
}
 
/*-------------------- Márgenes --------------------*/
.m0{
	margin: 0px !important;
}
.mr-xs{
	margin-right: 1px !important;
}
.ml-xs{
	margin-left: 1px !important;
}

.mt-sm{
	margin-top: 5px !important;
}
.mb-sm{
	margin-bottom: 5px !important;
}

.mr{
	margin-right: 10px !important;
}
.ml{
	margin-left: 10px !important;
}
/*-------------------- Padding --------------------*/
.p0{
	padding: 0px !important;
}
.p-sm{
	padding: 5px !important;
}

.pl0{
	padding-left: 0px !important;	
}
.pr0{
	padding-right: 0px !important;	
}

.pl-sm{
	padding-left: 5px !important;
}
.pr-sm{
	padding-right: 5px !important;
}

/*-------------------- Bordes --------------------*/
.bl0{
	border-left: 0px !important;
}
.bt0{
	border-top: 0px !important;
}
.br0{
	border-right: 0px !important;
}
.bb0{
	border-bottom: 0px !important;
}