<span style="margin-bottom: 10px">{{cuerpo}}</span>

<h2 style="text-align: center !important;padding-top: 5px !important;">Configuraciones de los elementos del sistema</h2>
						
<div style="width: 100%;min-height: 90%;">
	<table style="width: 100% !important;border-collapse: collapse;border: solid 1px !important;">
		<tr>
			<th style="border-bottom-width: 1px !important;text-align: center !important;padding-top: 5px !important;font-size: 15px !important;">Elemento</th>
			<th colspan="2" style="border-bottom-width: 1px !important;text-align: center !important;padding-top: 5px !important;font-size: 15px !important;">Configuraciones</th>
		</tr>
		<tr data-ng-repeat="elemento in elementosConfig">
			
			<td style="border-bottom-width: 1px !important;border: solid 1px !important;">{{elemento.nombre}}</td>
			
			<td style="border-bottom-width: 1px !important;border: solid 1px !important;padding: 0px !important;">
				<table style="width: 100% !important;border-collapse: collapse;background-color: transparent !important;margin: 0px !important;border: 0px !important;">
					<tr data-ng-repeat="configuracion in elemento.config">
						<td style="border-right: solid 1px;padding-left: 10px !important;width: 120px !important;font-weight: bold !important;border-bottom: solid 1px;">{{configuracion.key}}</td>
						<td style="padding-left: 10px !important;border-bottom: solid 1px;">{{configuracion.valor}}</td>
					</tr>
				</table>
			</td>
			
		</tr>
	</table>
</div>