<link rel="stylesheet" href="app/css/printConfig.css" data-ng-if="!app.layout.isRTL">
<h2 class="centrado ml-lg mt-lg">Configuraciones de los elementos del sistema</h2>
						
<div class="ml-lg mr-lg mb-lg">
	<table class="table table-striped table-bordered tablaFuera">
		<tr>
			<th class="centrado text-tituloTabla">Elemento</th>
			<th class="centrado text-tituloTabla" colspan="2">Configuraciones</th>
		</tr>
		<tr data-ng-repeat="elemento in elementosConfig">
			
			<td class="tdFuera">{{elemento.nombre}}</td>
			
			<td class="tdFuera pl0">
				<table class="table m0 sinColor b0">
					<tr data-ng-repeat="configuracion in elemento.config">
						<td class="tituloCampoConfig tdDentroR" data-ng-class="{'tdDentroB': $index != elemento.config.length-1}">{{configuracion.key}}</td>
						<td data-ng-class="{'tdDentroB': $index != elemento.config.length-1}">{{configuracion.valor}}</td>
					</tr>
				</table>
			</td>
			
		</tr>
	</table>
</div>