<link rel="stylesheet" href="app/css/print.css" data-ng-if="!app.layout.isRTL">
<div id="totalBody">
	<div id="divTitulo" class="titulo">	                 
		<h3>PRESUPUESTO</h3>
	</div>
	
	<div id="divEmpresaCliente">
	    <div class="cuadroDatos">
	        <div class="cuadro mr-xs">
		        <h5>EMPRESA</h5>
		        <p class="parrafoCuadrados">
			        <label>NOMBRE:</label>&nbspAltatec S.L
			    </p>
		        <p class="parrafoCuadrados">
			        <label>DIRECCIÓN:</label>&nbspAv. de la Vía Láctea, 2-4, 28830 San Fernando de Henares, Madrid
			    </p>
		        <p class="parrafoCuadrados">
			        <label>TELÉFONO:</label>&nbsp916 78 33 15					        
		        </p>
		        <p class="parrafoCuadrados">
			        <label>EMAIL:</label>&nbspinfo@altatec-seguridad.com
			    </p>
	        </div>
        </div>
        <div class="cuadroDatos">
	        <div class="cuadro ml-xs" data-ng-show="cliente">
			    <h5>CLIENTE</h5>
			    <p class="parrafoCuadrados">
			        <label>NOMBRE:</label>&nbsp{{cliente.nombre}}
			    </p>
			    <p class="parrafoCuadrados">
			        <label>DIRECCIÓN:</label>&nbsp{{cliente.direccion}}
			    </p>
			    <p class="parrafoCuadrados">
			        <label>TELÉFONO:</label>&nbsp{{cliente.telefono}}
			    </p>
			    <p class="parrafoCuadrados">
				    <label>EMAIL:</label>&nbsp{{cliente.email}}
			    </p>
	        </div>
        </div>
    </div>
    	        	        
    <div id="divPresupuesto">
        <div class="bordeadoEstrecho" data-ng-if="presupuesto.referencia">
        	<label class="ml">Nº PRESUPUESTO: {{presupuesto.referencia}}.</label>
        	<label class="mr fecha">FECHA: {{presupuesto.fecha}}.</label>
        </div>
    </div> 
       
    <div id="divTabla" class="divTabla">		        
	    <table class="tabla radiusTL radiusTR">
	    	<tr>
	        	<th class="radiusTL">NOMBRE</th>
	        	<th>DESCRIPCIÓN</th>
	        	<th>CANTIDAD</th>
	        	<th>PRECIO</th>
	        	<th class="radiusTR">TOTAL</th>
	    	</tr>
	    	<tr data-ng-repeat="producto in productos">
	    		<td class="tdNombre">{{producto.nombre}}</td>
	    		<td class="tdDesc">{{producto.descripcion}}</td>
	    		<td class="textoTabla">{{producto.cantidad}}</td>
	    		<td class="textoTabla tdPvp">{{producto.pvp}} €</td>
	    		<td class="textoTabla tdTotal textoRight">{{producto.total}} €</td>
	    	</tr>
	        			
			<tr data-ng-if="presupuesto.descuento && presupuesto.mostrarDescuento">
				<td class="textoTabla textoRight bt0 bl0 bb0 pr-sm" colspan="4">SUB TOTAL</td>
			    <td class="textoTabla textoRight">{{presupuesto.subTotal}} €</td>
			</tr>
			<tr data-ng-if="presupuesto.descuento && presupuesto.mostrarDescuento">
				<td class="textoTabla textoRight bt0 bl0 bb0 pr-sm" colspan="4">DESCUENTO</td>
			    <td class="textoTabla textoRight">{{presupuesto.precioDescuento}} €</td>
			</tr>
			
			<tr>
				<td class="textoTabla textoRight bt0 bl0 bb0 pr-sm" colspan="4">SUMA</td>
			    <td class="textoTabla textoRight">{{presupuesto.base}} €</td>
			</tr>
			<tr>
			    <td class="textoTabla textoRight bt0 bl0 bb0 pr-sm" colspan="3">% IVA</td>
			    <td class="textoTabla">{{impuesto}}</td>
			    <td class="textoTabla textoRight">{{iva}} €</td>
			</tr>
			<tr>
			    <td class="textoTabla textoRight bt0 bl0 bb0 pr-sm" colspan="3">TOTAL PRESUPUESTO</td>
			    <td class="textoTabla textoRight" colspan="2">{{presupuesto.total}} €</td>
			</tr>
			<tr data-ng-if="presupuesto.financiado">
			    <td class="textoTabla textoRight bt0 bl0 bb0 pr-sm" colspan="3">CUOTA FINACIACIÓN MENSUAL</td>
			    <td class="textoTabla textoRight" colspan="2">{{presupuesto.cuota}} €</td>
			</tr>
	    </table>	    
	</div>
	
	<div id="divPosicion"></div>
	
	<div id="divFooter">
		<div class="observaciones" data-ng-if="presupuesto.mostrarObservaciones">
			<label class="fbold p0 m0 ml">Observaciones</label>
			<p class="textoInfo m0 mt-sm mb-sm">{{presupuesto.observaciones}}</p>
		</div>
		
	    <div class="cuadroDatos">
		    <div class="cuadroFirma mr-xs p-sm">
			    <label class="fbold ml">Términos y Condiciones</label>
				<p class="textoInfo m0 mt-sm mb-sm">{{presupuesto.condiciones}}</p>
			</div>
	    </div>
	    
	    <div class="cuadroDatos">	        
	        <div class="cuadroFirma ml-xs">
		        <h5 class="tituloFirma">CONFORME EL CLIENTE FIRMA Y SELLO</h5>
	        </div>
	    </div>
	</div>	        
</div>