<div class="ngdialog-message">	
	<h3 class="centrado">COLUMNAS QUE FORMARÁN LA TABLA</h3>
	<h5 class="centrado">**En caso de querer filtrar por negación, seleccionar el check Excluir**</h5>
	<br>
	<div class="form-group">
		<form role="form" name="formFiltro" novalidate="" class="form-validate mb-lg">
			<div class="row padre">
				<div class="col-md-6 col-sm-12">
					<div class="form-group has-feedback">
						<label class="text-muted">Avisa:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[0].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						<input class="form-control" type="text" data-ng-model="filtros[0].valor" placeholder="¿Quien avisa de la incidencia?">
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">Técnico:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[1].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						<input class="form-control" type="text" data-ng-model="filtros[1].valor" placeholder="Técnico que añade la incidencia">
					</div>
					<div class="form-group has-feedback">
						<div>
							<label class="text-muted">Inicio:&nbsp&nbsp</label>
							<input type="checkbox" data-ng-model="filtros[10].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						    <p class="input-group">
						    	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="filtros[10].valor" is-open="open.date1" ng-click="openCalendar($event, 'date1')" required=""/>
								<span class="input-group-btn">
						           	<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date1')"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
						</div>
						<span ng-show="!formInciTask.fechaHora.$pristine && formInciTask.fechaHora.$error.required" class="text-danger">Campo obligatorio.</span>
					</div>
					<div class="form-group has-feedback">
						<div>
							<label class="text-muted">Caducidad:&nbsp&nbsp</label>
							<input type="checkbox" data-ng-model="filtros[5].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
							<p class="input-group">
						    	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="filtros[5].valor" is-open="open.date2" ng-click="openCalendar($event, 'date2')" required=""/>
								<span class="input-group-btn">
						        	<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date2')"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
						</div>
						<span ng-show="!formInciTask.fechaHora.$pristine && formInciTask.fechaHora.$error.required" class="text-danger">Campo obligatorio.</span>
					</div>
					<div class="form-group has-feedback">
						<div>
							<label class="text-muted">Fin:&nbsp&nbsp</label>
							<input type="checkbox" data-ng-model="filtros[4].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
							<p class="input-group">
						    	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="filtros[4].valor" is-open="open.date3" ng-click="openCalendar($event, 'date3')" required=""/>
								<span class="input-group-btn">
						        	<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date3')"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
						</div>
						<span ng-show="!formInciTask.fechaHora.$pristine && formInciTask.fechaHora.$error.required" class="text-danger">Campo obligatorio.</span>
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">Tipo:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[3].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
												
						<select ng-model="filtros[3].valor" value="" class="form-control" data-ng-options="tipo.id as tipo.nombre for tipo in tiposIncidencia">
							<option value="" data-ng-hide="!$pristine">Seleccione un Tipo</option>
					    </select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group has-feedback">
						<label class="text-muted">Concepto de factura:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[6].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						<input class="form-control" type="text" data-ng-model="filtros[6].valor" placeholder="Concepto de factura">
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">Sistema:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[12].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						<input class="form-control" type="text" data-ng-model="filtros[12].valor" placeholder="Sistema de la incidencia">
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">Descripción:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[9].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						<input class="form-control" type="text" data-ng-model="filtros[9].valor" placeholder="Descripción corta">
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">Concepto:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[2].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						<input class="form-control" type="text" data-ng-model="filtros[2].valor" placeholder="Concepto de la incidencia">
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">¿Registro policial?&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[7].valor">
						&nbsp&nbsp<input type="checkbox" data-ng-model="filtros[7].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">¿Facturar?&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[8].valor">
						&nbsp&nbsp<input type="checkbox" data-ng-model="filtros[8].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
					</div>
					<div class="form-group has-feedback">
						<label class="text-muted">Status:&nbsp&nbsp</label>
						<input type="checkbox" data-ng-model="filtros[11].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
						<select ng-model="filtros[11].valor" value="" class="ml-sm form-control">
					    	<option value="" data-ng-hide="!$pristine">Seleccione un Status</option>
							<option value="ABIERTA">ABIERTA</option>
							<option value="PENDIENTE">PENDIENTE</option>
							<option value="CERRADA">CERRADA</option>
						</select>
					</div>
				</div>
			</div>
			<div class="buttons clear">
				<button class="btn btn-primary mt-lg" data-ng-click="confirm(filtros)">Aceptar</button>
				<button class="btn btn-primary mt-lg" data-ng-click="resetearFiltros()">Resetear</button>
				<button class="btn btn-warning mt-lg" data-ng-click="closeThisDialog()">Cancelar</button>
			</div>
		</form>
		<div class="container-fluid">
			<div>
				<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
					{{currentError}}
		    	</div>
		    </div>
		</div>
	</div>
</div>