<div class="ngdialog-message">	
	<h3>LISTADO COMPLETO DE PRODUCTOS</h3>
	<div class="form-group has-feedback">
		<button class="btn btn-primary mt-lg" data-ng-click="confirm()">Añadir</button>
		<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridProductos" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-selection="" class="table-uigrid" ng-style="{height: comprobarTamano3()+'px'}"></div>
	</div>
</div>