<div class="ngdialog-message">
	<div class="form-group has-feedback mb0">				
		<div class="alignRight mt-lg">
			
		</div>
									
		<form role="form" name="formEmail" novalidate="" class="form-validate mb-lg">
			
			<div class="col-xs-6 col-sm-6 col-sm-12">
							    
			    <div class="form-group has-feedback">
			    	<label class="text-muted">Nombre receptor: </label>						               
					<input type="text" name="name" placeholder="Nombre del receptor" autocomplete="off" ng-model="datosEmail.name" class="form-control" autofocus="true" required=""/>
																	
			        <span ng-show="!formEmail.name.$pristine && formEmail.name.$error.required" class="text-danger">Campo obligatorio.</span>
			    </div>
			    
			    <div class="form-group has-feedback">
			    	<label class="text-muted">E-mail receptor: </label>						               
					<input type="email" name="email" placeholder="E-mail del receptor" autocomplete="off" ng-model="datosEmail.email" class="form-control" autofocus="true" required=""/>
																	
			        <span ng-show="!formEmail.email.$pristine && formEmail.email.$error.required" class="text-danger">Campo obligatorio.</span>
			    </div>
			    
			    <div class="form-group has-feedback">
			    	<label class="text-muted">Asunto del e-mail: </label>						               
					<input type="text" name="asunto" placeholder="Asunto del e-mail" autocomplete="off" ng-model="datosEmail.asunto" class="form-control" autofocus="true" required=""/>
																	
			        <span ng-show="!formEmail.asunto.$pristine && formEmail.asunto.$error.required" class="text-danger">Campo obligatorio.</span>
			    </div>
			    				
			</div>
			
			<div class="col-xs-6 col-sm-6 col-sm-12">
				
				<div class="form-group has-feedback">
			    	<label class="text-muted">Cuerpo del e-mail: </label>						               
					<textarea name="comments" rows="8" ng-model="datosEmail.cuerpo" class="form-control"></textarea>
			    </div>
											
			</div>
			
			<div class="clear centrado">
				<button data-ng-click="confirm(datosEmail)" data-ng-disabled="formEmail.$invalid" class="btn btn-sm btn-primary">Aceptar</button>
			</div>							            
		</form>
		
	</div>
</div>