<div class="ngdialog-message">	
	<h3>COLUMNAS QUE FORMARÁN LA TABLA</h3>
	<div class="form-group has-feedback">
		<form role="form" name="formCol" novalidate="" class="form-validate mb-lg">
			<ul class="listaSin">
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[0]">&nbsp&nbspAvisa.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[1]">&nbsp&nbspTécnico.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[2]">&nbsp&nbspConcepto.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[3]">&nbsp&nbspTipo.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[4]">&nbsp&nbspFin.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[5]">&nbsp&nbspCaducidad.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[6]">&nbsp&nbspConcepto factura.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[7]">&nbsp&nbsp¿Registro policial?</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[8]">&nbsp&nbsp¿Facturar?</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[9]">&nbsp&nbspDescripción.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[10]" data-ng-checked="true" data-ng-disabled="true">&nbsp&nbspInicio.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[11]">&nbsp&nbspStatus.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[12]">&nbsp&nbspSistema.</li>
			</ul>
			<button class="btn btn-primary mt-lg" data-ng-click="confirm(columnasSel)">Aceptar</button>
		</form>
	</div>
</div>