<div class="ngdialog-message">	
	<h3>CONTRATO {{contratoCompleto.ref}}</h3>
	<div class="form-group">
		<div class="row padre">
				<div class="col-md-6 col-sm-12">
				    <div class="form-group has-feedback">
						<label class="text-muted">Referencia:&nbsp&nbsp&nbsp</label>
						{{contratoCompleto.ref}}
					</div>
					           
					<div class="form-group has-feedback">
					    <label class="text-muted">Descripción:&nbsp&nbsp&nbsp</label>
					    {{contratoCompleto.descripcion}}
					</div>
					           
					<div class="form-group has-feedback">
					    <label class="text-muted">Sistema:&nbsp&nbsp&nbsp</label>
						{{contratoCompleto.nombre}}
					</div>
				</div>	
				
				<div class="col-md-6 col-sm-12">
					<div class="form-group has-feedback">
					    <label class="text-muted">Caduca:&nbsp&nbsp&nbsp</label>
					    {{contratoCompleto.caduca}}
					</div>
					           
					<div class="form-group has-feedback">
					    <label class="text-muted">Duración:&nbsp&nbsp&nbsp</label>
					    {{contratoCompleto.duracion}}
					</div>
					
					<div class="form-group has-feedback">
					    <label class="text-muted">Mensaje:&nbsp&nbsp&nbsp</label>
					    {{contratoCompleto.mensaje}}
					</div>
				</div>
		           
		<div class="buttons clear">
				<button class="btn btn-primary mt-lg" data-ng-click="confirm()">Aceptar</button>
		</div>
	</div>
</div>