<div class="ngdialog-message">
	<div class="form-group has-feedback">									
		<h3>FORMULARIO PARA GUARDAR UNA PLANTILLA</h3>
		<form role="form" name="formPlantilla" novalidate="" class="form-validate mb-lg">
			
			<div class="form-group has-feedback">
				<label class="text-muted">Nombre: </label>						               
				<input type="text" name="nombre" placeholder="Nombre del elemento" autocomplete="off" ng-model="plantilla.nombre" required="" class="form-control" focus-on="focusMe"/>												
			    <span ng-show="!formPlantilla.nombre.$pristine && formPlantilla.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
			</div>
			
			<div class="form-group has-feedback">
				<label class="text-muted">Descripción: </label>						               
				<textarea name="descripcion" placeholder="Descripción de la Plantilla" data-ng-model="plantilla.descripcion" class="form-control" cols="5"></textarea>												
			</div>		
		</form>
		
		<div class="alignLeft mb-sm">
			<button data-ng-click="comprobarNombre(plantilla); confirm()" data-ng-disabled="formPlantilla.$invalid" class="btn btn-sm btn-primary">Aceptar</button>
		</div>
	</div>
</div>