<div class="modal-content">
    <div class="rojoAlerta modal-header ng-scope">
	    <h4 id="myModalLabel" class="modal-title">¡Alerta!</h4>
	</div>
	<div class="modal-body ng-scope">
		<p>{{mensaje}}</p>
	</div>
	<div class="modal-footer ng-scope centrado pt-lg">
		<button ng-click="ok()" class="btn btn-primary">Aceptar</button>
	</div>
</div>