<div class="ngdialog-message">	
	<h3>LISTADO COMPLETO DE SISTEMAS</h3>
	<div class="form-group has-feedback">
		<scrollable height="350" width="auto" class="list-group">
			<ul id="listaCompleta" data-ng-show="desplegarUl">
				<li>
					<div>
						<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" autofocus="">
						<i class="fa fa-search icono"></i>
					</div>
				</li>
				<li data-ng-repeat="sistema in sistemas | orderBy: 'nombre' | filter: filtro" class="indentado"><a data-ng-click="confirm(sistema)" class="noLink">{{sistema.nombre}}</a></li>
			</ul>
		</scrollable>
	</div>
</div>