<div class="ngdialog-message">
	<div class="form-group has-feedback">
		<div class="alignLeft mb-lg" data-ng-hide="addElem">
			<button data-ng-click="setEditable()" data-ng-hide="elemEdit" class="btn btn-sm btn-info"><em class="fa fa-pencil"></em></button>
			
			<button data-ng-click="confirm('editar')" data-ng-show="elemEdit" data-ng-disabled="formElem.$invalid" class="btn btn-sm btn-success"><em class="fa fa-check"></em></button>
			<button data-ng-click="setNonEditable()" data-ng-show="elemEdit" class="btn btn-sm btn-warning"><em class="fa fa-close"></em></button>
		</div>
								
		<div class="alignRight mt-lg" data-ng-show="addElem">
			<button data-ng-click="confirm('nuevo')" data-ng-show="elemEdit" data-ng-disabled="formElem.$invalid" class="btn btn-sm btn-success"><em class="fa fa-check"></em></button>
		</div>
									
		<form role="form" name="formElem" novalidate="" class="form-validate mb-lg">
			
			<div class="col-xs-6 col-sm-6 col-sm-12 mb-lg">
				<div class="form-group has-feedback">
			    	<label class="text-muted">Nombre: </label>						               
					<input type="text" name="nombre" placeholder="Nombre del elemento" autocomplete="off" ng-model="elementoEdit.nombre" required="" class="form-control formEdit" data-ng-class="{'frente': elemEdit}" focus-on="focusMe"/>
												
					<span class="form-control formEdit">{{elemento.nombre}}</span>												
			        <span ng-show="!formElem.nombre.$pristine && formElem.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
			    </div>
			    
			</div>
			
			<div class="col-xs-6 col-sm-6 col-sm-12 mb-lg">
				
			    <div class="form-group has-feedback formEditMargin" data-ng-show="elemEdit">
			    	<div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                        	<input type="checkbox" name="checkbox" ng-model="elementoEdit.plantilla" class="needsclick ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
							<span class="fa fa-check"></span>¿Es plantilla?
						</label>
                    </div>
				</div>
				
				<div class="form-group has-feedback" data-ng-show="elemEdit && !elementoEdit.plantilla">
			    	<label class="text-muted">Plantillas: </label>
					
					<select ng-model="plantilla" value="" class="form-control formEdit" data-ng-options="p.id as p.nombre for p in plantillas" data-ng-change="cambiarPlantilla(plantilla)">
						<option value="" data-ng-hide="!$pristine">Seleccione una Plantilla</option>
					</select>
				</div>
							
			</div>
			
			<div class="clear">
				<br>
				<div>					
					<h3>Enlaces
						<div data-ng-show="elemEdit" class="floatRight">
							<button data-ng-click="newURL()" data-ng-hide="urlAdd" class="btn btn-sm btn-info"><em class="fa fa-plus"></em></button>
							<button data-ng-click="addURL()" data-ng-show="urlAdd" class="btn btn-sm btn-success"><em class="fa fa-check"></em></button>
							<button data-ng-click="cancelURL()" data-ng-show="urlAdd" class="btn btn-sm btn-warning"><em class="fa fa-close"></em></button>
						</div>
					</h3>
					<hr>
					
					<div class="form-group has-feedback" data-ng-show="urlAdd">
						<label class="text-muted">Nombre del Campo: </label>
						<input type="text" name="key" placeholder="Texto a mostrar" autocomplete="off" ng-model="urlNueva.key" class="form-control"/>			
					</div>
						
					<div class="col-xs-6 col-sm-6 col-sm-12 mb-xxl">
							
						<div class="form-group has-feedback" data-ng-show="urlAdd">
							<label class="text-muted">Texto: </label>
							<input type="text" name="fichaTexto" placeholder="Texto a mostrar" autocomplete="off" ng-model="urlNueva.texto" class="form-control"/>							
						</div>
						
						<div class="form-group has-feedback" data-ng-repeat="url in urlsI" data-ng-class="{'formEditMargin': url.clase}" data-ng-hide="urlAdd">
						    <label class="text-muted">{{url.key}}</label>
						    <button data-ng-click="eliminarURL('I',url)" class="btn btn-xs btn-danger floatRight" data-ng-show="elemEdit"><em class="fa fa-trash"></em></button>
						    <input type="text" name="nombre" autocomplete="off" ng-model="url.url" class="form-control formEdit" data-ng-class="{'frente': elemEdit}" data-ng-show="elemEdit"/>
						    <span class="form-control formEdit"><a data-ng-href="http://{{url.url}}" target="_blank">{{url.texto}}</a></span>
					    </div>
	
					</div>					
					
					<div class="col-xs-6 col-sm-6 col-sm-12 mb-xxl">
						
						<div class="form-group has-feedback" data-ng-show="urlAdd">
							<label class="text-muted">URL: </label>
							<input type="text" name="fichaURL" placeholder="URL" autocomplete="off" ng-model="urlNueva.url" class="form-control"/>
						</div>
						
						<div class="form-group has-feedback" data-ng-repeat="url in urlsD" data-ng-class="{'formEditMargin': url.clase}" data-ng-hide="urlAdd">
						    <label class="text-muted">{{url.key}}</label>
						    <button data-ng-click="eliminarURL('D',url)" class="btn btn-xs btn-danger floatRight" data-ng-show="elemEdit"><em class="fa fa-trash"></em></button>
						    <input type="text" name="nombre" autocomplete="off" ng-model="url.url" class="form-control formEdit" data-ng-class="{'frente': elemEdit}" data-ng-show="elemEdit"/>
						    <span class="form-control formEdit"><a data-ng-href="http://{{url.url}}" target="_blank">{{url.texto}}</a></span>
					    </div>
					    
					</div>									
				</div>
				
				<br>
				<div class="clear">
					<h3>Campos
						<div data-ng-show="elemEdit" class="floatRight">
							<button data-ng-click="newCampo()" data-ng-hide="campoAdd" class="btn btn-sm btn-info"><em class="fa fa-plus"></em></button>
							<button data-ng-click="addCampo()" data-ng-show="campoAdd" class="btn btn-sm btn-success"><em class="fa fa-check"></em></button>
							<button data-ng-click="cancelCampo()" data-ng-show="campoAdd" class="btn btn-sm btn-warning"><em class="fa fa-close"></em></button>
						</div>
					</h3>
					<hr>					
					<div class="col-xs-6 col-sm-6 col-sm-12 mb-lg" data-ng-if="camposI">
							
						<div class="form-group has-feedback" data-ng-show="campoAdd">
							<label class="text-muted">Nombre del campo</label>
							<input type="text" name="nombreCampo" autocomplete="off" ng-model="campoNuevo.key" class="form-control"/>
						</div>
						
						<div class="form-group has-feedback" data-ng-repeat="campo in camposI" data-ng-class="{'formEditMargin': campo.clase}" data-ng-hide="campoAdd">
						    <label class="text-muted">{{campo.key}}</label>
						    <button data-ng-click="eliminarCampo('I',campo)" class="btn btn-xs btn-danger floatRight" data-ng-show="elemEdit"><em class="fa fa-trash"></em></button>
						    <input type="text" name="nombre" autocomplete="off" ng-model="campo.valor" class="form-control formEdit" data-ng-class="{'frente': elemEdit}"/>					    												
							<span class="form-control formEdit">{{campo.valor}}</span>
					    </div>
	
					</div>
										
					<div class="col-xs-6 col-sm-6 col-sm-12 mb-lg" data-ng-if="camposD">
							
						<div class="form-group has-feedback" data-ng-show="campoAdd">
							<label class="text-muted">Valor del campo</label>
							<input type="text" name="valorCampo" autocomplete="off" ng-model="campoNuevo.valor" class="form-control"/>
						</div>
							
						<div class="form-group has-feedback" data-ng-repeat="campo in camposD" data-ng-class="{'formEditMargin': campo.clase}" data-ng-hide="campoAdd">
						    <label class="text-muted">{{campo.key}}</label>
						    <button data-ng-click="eliminarCampo('D',campo)" class="btn btn-xs btn-danger floatRight" data-ng-show="elemEdit"><em class="fa fa-trash"></em></button>
						    <input type="text" name="nombre" autocomplete="off" ng-model="campo.valor" class="form-control formEdit" data-ng-class="{'frente': elemEdit}"/>					    												
							<span class="form-control formEdit">{{campo.valor}}</span>
					    </div>
						    
					</div>
						
					<div class="clear"></div>
					
					<div class="container-fluid">
						<div>
							<div data-ng-if="errorCampo" class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorCampo()" aria-hidden="true">×</button>
								{{errorCampo}}
				           	</div>
				        </div>
				    </div>
					
				</div>				
			</div>							            
		</form>
		
	</div>
</div>