<div class="modal-content">
    <div class="rojoAlerta modal-header ng-scope">
	    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
	    <h4 id="myModalLabel" class="modal-title">¡Alerta!</h4>
	</div>
	<div class="modal-body ng-scope">
		<p>¿Está seguro de realizar esta acción?</p>
		<p>Si confirmas esta acción el presupuesto pasará de borrador a confirmado, de manera que no se podrá modificar posteriormente.</p>
	</div>
	<div class="modal-footer ng-scope">
		<button ng-click="ok()" class="btn btn-primary">OK</button>
		<button ng-click="cancel()" class="btn btn-warning">Cancel</button>
	</div>
</div>