<div class="ngdialog-message">	
	<div data-ng-hide="nuevoCliente">
		<h3>LISTADO DE CLIENTES
			<button type="button" data-ng-click="newCliente()" title="Nuevo cliente" class="btn btn-sm btn-success floatRight">Nuevo Cliente</button>
		</h3>
		<div class="form-group has-feedback">
			<scrollable height="350" width="auto" class="list-group">
				<ul id="listaCompleta" data-ng-show="desplegarUl">
					<li>
						<div>
							<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" autofocus="">
							<i class="fa fa-search icono"></i>
						</div>
					</li>
					<li data-ng-repeat="cliente in clientes | orderBy: 'id' | filter: filtro" class="indentado "><a data-ng-click="confirm(cliente)" class="noLink">{{cliente.nombre}}</a></li>
				</ul>
			</scrollable>
		</div>
	</div>
	
	<div class="panel panel-default mt-lg" data-ng-show="nuevoCliente">
		<form role="form" name="formCliente" novalidate="" class="form-validate mb-lg mr-lg ml-lg">	            
		    <h4>Añadir nuevo cliente</h4>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Nombre</label>
				<input type="text" name="nomnbre" placeholder="Nombre del Cliente" ng-model="clienteNuevo.nombre" class="form-control" required="" focus-on="mainFocus"/>
				<span ng-show="!formCliente.nomnbre.$pristine && formCliente.nomnbre.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Dirección</label>
		        <textarea name="direccion" placeholder="Dirección del Cliente" data-ng-model="clienteNuevo.direccion" class="form-control" cols="5"required=""></textarea>
		        <span ng-show="!formCliente.direccion.$pristine && formCliente.direccion.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
		    
	        <div class="form-group has-feedback">
		        <label class="text-muted">Teléfono</label>
				<input type="tel" name="telefono" ng-model="clienteNuevo.telefono" class="form-control" placeholder="Teléfono del Cliente" pattern="^[6,9][0-9]{8}" required="">
				<span ng-show="!formCliente.telefono.$pristine && formCliente.telefono.$error.required" class="text-danger">Campo obligatorio.</span>
				<span ng-show="!formCliente.telefono.$pristine && formCliente.telefono.$error.pattern" class="text-danger">Introduzca un número de teléfono correcto. Ej: 916852354/665248956.</span>              
	        </div>	 
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">e-mail</label>
				<input type="email" name="email" placeholder="E-mail del Cliente" ng-model="clienteNuevo.email" class="form-control" required=""/>
				<span ng-show="!formCliente.email.$pristine && formCliente.email.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	               
	    </form>
	    	
		<div class="alignLeft mb-lg ml-lg">
		    <button class="btn btn-primary" data-ng-disabled="formCliente.$invalid" data-ng-click="confirm(clienteNuevo)">Aceptar</button>
			<button class="btn btn-warning" data-ng-click="resetFormClientePresupuesto()">Cancelar</button>
		</div>
		
		<div class="container-fluid">
			<div data-ng-if="errorFormCliente">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormCliente()" aria-hidden="true">×</button>
					{{errorFormCliente}}
	        	</div>
	    	</div>
	    </div>
	</div>
</div>