<div class="ngdialog-message">	
	<h3 class="centrado">CONTACTOS GLOBALES</h3>
	<div class="form-group">
		<!----------------------------------- Formulario de contactos ----------------------------------->
		<div class="panel panel-default" data-ng-show="mostrarFormCon">
			<form role="form" name="formCon" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
			    
			    <h4>{{titulo}}</h4>
			    
		        <div class="form-group has-feedback">
		        	<label class="text-muted">Nombre</label>
					<input type="text" name="nombre" placeholder="Nombre del contacto" ng-model="contacto.nombre" class="form-control" required="" focus-on="mainFocus"/>
					<span ng-show="!formCon.nombre.$pristine && formCon.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
		        </div>
			        
		        <div class="form-group has-feedback">
			        <label class="text-muted">Apellidos</label>
			        <input type="text" name="apellidos" placeholder="Apellidos del contacto" ng-model="contacto.apellidos" class="form-control"/>
		        </div>
		        
		        <div class="form-group has-feedback">
			    	<label class="text-muted">Tipo: </label>
					<select name="select" ng-model="contacto.tipo">
				    	<option value data-ng-hide="!$pristine">Seleccione tipo de contacto</option>
				    	<option value="TECNICO">Técnico</option>
				    	<option value="ADMINISTRATIVO">Administrativo</option>
			    	</select>
		        </div>
		       
		        <div class="form-group has-feedback">
			        <label class="text-muted">Teléfono</label>
			        <input type="text" name="telefono" pattern="^[9|8]\d{8}$" placeholder="Teléfono del contacto" ng-model="contacto.telefono" class="form-control" required=""/>
					<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.required" class="text-danger">Campo obligatorio.</span>
					<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.pattern" class="text-danger">Inserte un número de teléfono fijo válido. Ej: 916553265.</span>
		        </div>
			        
		        <div class="form-group has-feedback">
			        <label class="text-muted">Móvil</label>
			        <input type="text" name="movil" pattern="^[7|6]\d{8}$" placeholder="Teléfono móvil del contacto" ng-model="contacto.movil" class="form-control"/>
			        <span ng-show="!formCon.movil.$pristine && formCon.movil.$error.pattern" class="text-danger">Inserte un número de teléfono móvil válido. Ej: 661359768.</span>
		        </div>
							        
		        <div class="form-group has-feedback">
			        <label class="text-muted">E-mail</label>
			        <input type="email" name="correo" placeholder="E-mail del contacto" ng-model="contacto.correo" class="form-control"/>
		        </div>
		        
		        <div class="form-group has-feedback">
			        <label class="text-muted">Notas</label>
					<input type="text" name="notas" placeholder="Notas referentes al contacto" ng-model="contacto.notas" class="form-control"/>
		        </div>
					        
		    </form>	
					    	
			<div class="alignLeft ml-lg mb-lg">
			    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="confirm(true)" data-ng-if="!contacto.id">{{botonForm}}</button>
			    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="editarContacto()" data-ng-if="contacto.id">{{botonForm}}</button>
				<button class="btn btn-warning mt-lg" data-ng-click="resetFormCon()">Cancelar</button>
			</div>
			
			<div class="container-fluid">
				<div data-ng-if="errorFormCon">
					<br><br>
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-ng-click="clearErrorformCon()" aria-hidden="true">×</button>
						{{errorFormCon}}
			    	</div>
				</div>
			</div>
					    
		</div>
						
		<!----------------------------------- Tabla de contactos totales ----------------------------------->
		<div data-ng-show="contactosTotales">
			<h4 class="clearfix" data-ng-if="progressValue2 != 0">
				<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer2">
					<p>Cargando datos:</p>
					<progressbar class="progress-striped active" animate="true" max="100" value="progressValue2" type="success">
						<i>{{progressValue2}} %</i>
					</progressbar>
				</div>
			</h4>
			
			<div data-ng-class="{'deshabilitar': buffer2}" class="alignRight mr-lg mb-lg">
				<h5 class="floatLeft ml-lg">Seleccione los contactos que quiera enlazar con el sistema</h5>
				<button type="button" class="btn btn-primary margenDerecho " data-ng-click="newContacto()">Nuevo</button>
			</div>
			<div data-ng-class="{'deshabilitar': buffer2}" ui-grid="gridConAcTotal" ui-grid-pagination="" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid mr-lg ml-lg" ng-style="{height: comprobarTamano2()+'px'}"></div>
						
			<div data-ng-class="{'deshabilitar': buffer2}" class="alignLeft ml-lg mb-lg mt-lg">
			    <button type="button" class="btn btn-primary margenDerecho " data-ng-click="confirm(false)">Enlazar</button>
			    <button type="button" class="btn btn-warning margenDerecho " data-ng-click="closeThisDialog()">Cerrar</button>
			</div>
		</div>
	</div>
</div>