<div class="ngdialog-message">
	<!--------------- Mapa de todos los elementos con campos diferentes --------------->
	<h4 class="centrado ml-lg mt-lg">Configuraciones de los elementos del sistema</h4>
						
	<div class="ml-lg mr-lg mb-lg">
		<table class="table table-striped table-bordered">
			<tr>
				<th class="centrado text-tituloTabla">Elemento</th>
				<th class="centrado text-tituloTabla" colspan="2">Configuraciones</th>
			</tr>
			<tr data-ng-repeat="elemento in elementosConfig">
				
				<td>{{elemento.nombre}}</td>
				
				<td class="p0">
					<table class="table m0 sinColor">
						<tr data-ng-repeat="configuracion in elemento.config">
							<td class="tituloCampoConfig tdDentroR" data-ng-class="{'tdDentroB': $index != elemento.config.length-1}">{{configuracion.key}}</td>
							<td data-ng-class="{'tdDentroB': $index != elemento.config.length-1}">{{configuracion.valor}}</td>
						</tr>
					</table>
				</td>
				
			</tr>
		</table>
		
		<button class="btn btn-success" data-ng-click="imprimirConfig()">Imprimir</button>
		<button class="btn btn-success" data-ng-click="emailConfig()">Email</a>
		
	</div>
</div>