<div class="ngdialog-message">	
	<h3>SELECCIONE EL PRESUPUESTO ASOCIADO</h3>
	<div class="form-group has-feedback">
		<scrollable height="350" width="auto" class="list-group">
			
			<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
				<p>Cargando datos:</p>
				<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
					<i>{{progressValue}} %</i>
				</progressbar>
			</div>
			
			<ul id="listaCompleta" data-ng-hide="buffer">
				<li>
					<div>
						<input type="text" name="filtro2" autocomplete="off" data-ng-model="filtro2" class="form-control" autofocus="">
						<i class="fa fa-search icono"></i>
					</div>
				</li>				
				<li data-ng-repeat="presupuesto in presupuestos | orderBy: '-fecha' | filter: filtro2" class="indentado"><a data-ng-click="confirm(presupuesto)" class="noLink">{{presupuesto.referencia}}</a></li>
			</ul>
		</scrollable>
	</div>
</div>