<div class="ngdialog-message">	
	<h3>COLUMNAS QUE FORMARÁN LA TABLA</h3>
	<div class="form-group has-feedback">
		<form role="form" name="formCol" novalidate="" class="form-validate mb-lg">
			<ul class="listaSin">
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[0]">&nbsp&nbspNombre.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[1]">&nbsp&nbspDescripción.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[2]">&nbsp&nbspSistema.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[3]">&nbsp&nbspInicio.</li>
				<li class="indentado"><input type="checkbox" data-ng-model="columnasSel[4]">&nbsp&nbspFin.</li>
			</ul>
			<button class="btn btn-primary mt-lg" data-ng-click="confirm(columnasSel)">Aceptar</button>
		</form>
	</div>
</div>