<div class="ngdialog-message">	
	<h3>LISTADO COMPLETO DE PRODUCTOS</h3>
	<div class="form-group has-feedback">
		<scrollable height="350" width="auto" class="list-group">
			<ul id="listaCompleta" class="blanco">
				<li>
					<div>
						<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" autofocus=""/>
						<i class="fa fa-search icono"></i>
					</div>
				</li>
				<li data-ng-repeat="producto in productos | orderBy: ['familia','nombre'] | filter: {activo:true} | filter: filtro" class="indentado">
					<a data-ng-click="confirm(producto)" class="noLink">{{producto.nombre}} - {{producto.descripcion}}</a>
				</li>
			</ul>
		</scrollable>
	</div>
</div>