<div class="ngdialog-message">	
	<h3>LISTADO COMPLETO DE POBLACIONS</h3>
	<div class="form-group has-feedback">
		<scrollable height="350" width="auto" class="list-group">
			<ul id="listaCompleta" data-ng-show="desplegarUl">
				<li>
					<div>
						<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" autofocus="" data-ng-change="quitarDirty()">
						<i class="fa fa-search icono"></i>
					</div>
				</li>
				<li data-ng-repeat="poblacion in poblaciones | orderBy: 'poblacionseo' | filter: {poblacion: filtro}" class="indentado"><a data-ng-click="confirm(poblacion)" class="noLink">{{poblacion.poblacion}}</a></li>
			</ul>
		</scrollable>
	</div>
</div>