<div class="ngdialog-message">	
	<h3 class="centrado">COLUMNAS QUE FORMARÁN LA TABLA</h3>
	<h5 class="centrado">**En caso de querer filtrar por negación, seleccionar el check Excluir**</h5>
	<br>
	<div class="form-group">
		<div>
			<form role="form" name="formFiltro" novalidate="" class="form-validate mb-lg">
				<div class="col-sm-12">
						<div class="form-group has-feedback">
							<label class="text-muted">Referencia:&nbsp&nbsp</label>
							<input type="checkbox" data-ng-model="filtros[0].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
							<input class="form-control" type="text" data-ng-model="filtros[0].valor" placeholder="Referencia de la Instalación" autofocus="">
						</div>
						
						<div class="form-group has-feedback">
							<label class="text-muted">Descripción:&nbsp&nbsp</label>
							<input type="checkbox" data-ng-model="filtros[1].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
							<input class="form-control" type="text" data-ng-model="filtros[1].valor" placeholder="Descripción corta">
						</div>
						
						<div class="form-group has-feedback">
						    <label class="text-muted">Sistema</label>
						    <input type="checkbox" data-ng-model="filtros[2].neg"><label class="text-muted blanco">&nbsp&nbspExcluir</label>
							<div class="form-group has-feedback" data-ng-class="{'deshabilitar': buffer2}">
								<input type="text" name="sistema" autocomplete="off" data-ng-model="sistemaSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl}" required=""/>
							    <span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>								
									<ul id="listaSelect" data-ng-show="desplegarUl" class="blanco">
										<li>
											<div>
												<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" focus-on="focusMe">
												<i class="fa fa-search icono"></i>
											</div>
										</li>
										<li data-ng-repeat="sistema in sistemas | orderBy: 'nombre' | filter: filtro | limitTo: 4" class="indentado "><a data-ng-click="cambiarSistema(sistema)" class="noLink">{{sistema.nombre}}</a></li>
										<li class="indentado"><a href data-ng-click="masSistemas()">Mas...</a></li>
									</ul>
							</div>
							<span ng-show="formInci.sistema.$dirty" class="text-danger">Campo obligatorio.</span>
						</div>
						
						<div class="form-group has-feedback">
					        <div class="cargaAnexa text-center" data-ng-show="buffer2">
								<label class="text-muted">Cargando Sistemas:</label>
								<progressbar class="progress-striped active floatRight barraCarga" animate="true" max="100" value="progressValue2" type="success">
									<i>{{progressValue2}} %</i>
								</progressbar>
							</div>
					    </div>
							
						<div class="form-group">
							<div>
								<label class="text-muted">Inicio:&nbsp&nbsp</label>
								<input type="checkbox" data-ng-model="filtros[3].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
							    <p class="input-group">
							    	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="filtros[3].valor" is-open="open.date1" ng-click="openCalendar($event, 'date1')" required=""/>
									<span class="input-group-btn">
							           	<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date1')"><i class="fa fa-calendar"></i></button>
									</span>
								</p>
							</div>
							<span ng-show="!formInciTask.fechaHora.$pristine && formInciTask.fechaHora.$error.required" class="text-danger">Campo obligatorio.</span>
						</div>
						
						
						<div class="form-group">
							<div>
								<label class="text-muted">Fin:&nbsp&nbsp</label>
								<input type="checkbox" data-ng-model="filtros[4].neg"><label class="text-muted">&nbsp&nbspExcluir</label>
								<p class="input-group">
							    	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="filtros[4].valor" is-open="open.date3" ng-click="openCalendar($event, 'date3')" required=""/>
									<span class="input-group-btn">
							        	<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date3')"><i class="fa fa-calendar"></i></button>
									</span>
								</p>
							</div>
							<span ng-show="!formInciTask.fechaHora.$pristine && formInciTask.fechaHora.$error.required" class="text-danger">Campo obligatorio.</span>
						</div>
					</div>
	
				<div class="buttons clear">
					<button class="btn btn-primary mt-lg" data-ng-click="confirm(filtros)">Aceptar</button>
					<button class="btn btn-primary mt-lg" data-ng-click="resetearFiltros()">Resetear</button>
					<button class="btn btn-warning mt-lg" data-ng-click="closeThisDialog()">Cancelar</button>
				</div>
			</form>
			<div class="container-fluid">
				<div>
					<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
						{{currentError}}
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>