<!-- START Sidebar (left)-->
<div class="aside-inner">
	<nav sidebar="" sidebar-anyclick-close="" class="sidebar">
    	<!-- START sidebar nav-->
		<ul class="nav">
        	<!-- START user info-->
			<li class="has-user-block">
            	<div collapse="userBlockVisible" ng-controller="UserBlockController">
					<div class="item user-block">
						<!-- User picture-->
						<div class="user-block-picture">
	                    	<div class="user-block-status">
	                        	<img ng-src="{{user.picture}}" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
								<div class="circle circle-success circle-lg"></div>
	                    	</div>
                		</div>
						<!-- Name and Job-->
						<div class="user-block-info">
	                    	<span class="user-block-name">{{ 'sidebar.WELCOME' | translate }} {{user.display_name}}</span>
							<span class="user-block-role">Admin: {{user.is_sys_admin}}</span>
							<a ui-sref="page.logout"><em class="icon-logout"></em></a>
	                	</div>
            		</div>
            	</div>
			</li>
			<!-- END user info-->
			
			<!-- Primera linea del menú -->
			<li ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-click="toggleCollapse(item.pIndex, true)">
				
				<span ng-if="item.heading">{{(item.translate | translate) || item.text}}</span>
								
				<a ng-if="!item.heading" ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}">
					<em class="{{item.icon}}"></em>
					<span>{{(item.translate | translate) || item.text}}</span>
				</a>   
				
				<!-- Segunda linea del menú -->				   
				<ul ng-if="item.submenu" collapse="isCollapse(item.pIndex)" class="nav sidebar-subnav ml-sm">
					
					<li ng-repeat="item in item.submenu" class="ml-sm" ng-class="getMenuItemPropClasses(item)" ng-click="toggleCollapse(item.pIndex)">
						
						<a href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}">
							<em class="{{item.icon}}"></em>
							<span>{{(item.translate | translate) || item.text}}</span>
						</a>   
				
						<!-- Tercera linea del menú -->							   
						<ul ng-if="item.submenu" collapse="isCollapse(item.pIndex)" class="nav sidebar-subnav ml-sm">
							
							<li ng-repeat="item in item.submenu" class="ml-sm" ng-class="getMenuItemPropClasses(item)" ng-click="toggleCollapse(item.pIndex)">
								
								<a ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}">
									<span>{{(item.translate | translate) || item.text}}</span>
								</a>		
							</li>
						</ul>													
					</li>
				</ul>				
			</li>			
    	</ul>
		<!-- END sidebar nav-->
	</nav>
</div>
<!-- END Sidebar (left)-->