<div data-ng-controller="LoginFormController" class="block-center mt-xl wd-xl">
   	<!-- START panel-->
   	<div class="panel panel-dark panel-flat">
      	<div class="panel-heading text-center">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
      	</div>
	  	<div class="panel-body">
        	<p class="text-center pv">INTRODUCE TUS DATOS</p>
			<dreamfactory-user-login options="{showTemplate: false}"></dreamfactory-user-login>
			<form role="form" ng-submit="login()" name="loginForm" novalidate="" class="form-validate mb-lg">
            	<div class="form-group has-feedback">
					<input id="exampleInputEmail1" type="email" name="account_email" placeholder="Introduce el email" autocomplete="off" ng-model="account.email" required="" class="form-control" />
					<span class="fa fa-envelope form-control-feedback text-muted"></span>
					<span ng-show="loginForm.account_email.$dirty &amp;&amp; loginForm.account_email.$error.required" class="text-danger">Este campo es obligatorio.</span>
					<span ng-show="loginForm.account_email.$dirty &amp;&amp; loginForm.account_email.$error.email" class="text-danger">Este campo tiene que ser un email válido.</span>
            	</div>
				<div class="form-group has-feedback">
					<input id="exampleInputPassword1" type="password" name="account_password" placeholder="Introduce la contraseña" ng-model="account.password" required="" class="form-control" />
					<span class="fa fa-lock form-control-feedback text-muted"></span>
					<span ng-show="loginForm.account_password.$dirty &amp;&amp; loginForm.account_password.$error.required" class="text-danger">Este campo es obligatorio.</span>
            	</div>
				<div class="clearfix">
					<div class="checkbox c-checkbox pull-left mt0">
						<label>
							<input type="checkbox" value="" name="account_remember" ng-model="account.remember" />
							<span class="fa fa-check"></span>Recordar</label>
               		</div>
			   		<div class="pull-right"><a ui-sref="page.recover" class="text-muted">Olvidaste la contraseña?</a>
               		</div>
            	</div>
				<button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
        	</form>
			<div class="container-fluid">
				<div data-ng-controller="ErrorCntrl">
					<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
						{{currentError}}
              		</div>
          		</div>
      		</div>
	  		<div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
	  		<div data-ng-hide="true">
		  		<p class="pt-lg text-center">¿Aún no te registraste?</p>
		  		<a ui-sref="page.register" class="btn btn-block btn-default">Registrate ya</a>
	  		</div>
    	</div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>