<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#/page/login">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body" data-ng-controller="resetPassController">
         <p class="text-center pv">PASSWORD RESET</p>
         <form role="form" name="recoverForm2" novalidate="" class="form-validate" ng-submit="resPass2()">
            <p class="text-center">Introducir el email, el código de verificación y la nueva contraseña.</p>
            <div class="form-group has-feedback">
               <label class="text-muted">Dirección de email</label>
               <input type="email" name="email" placeholder="Introduce el email" autocomplete="off" ng-model="reset.email" required="" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.required" class="text-danger">Este campo es obligatorio.</span>
               <span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.email" class="text-danger">Este campo debe ser un email correcto.</span>
            </div>
            <div class="form-group has-feedback">
				<input id="exampleInputPassword" type="password" name="account_password" placeholder="Introduce la contraseña" ng-model="reset.new_password" required="" class="form-control" />
				<span class="fa fa-lock form-control-feedback text-muted"></span>
				<span ng-show="loginForm.account_password.$dirty &amp;&amp; loginForm.account_password.$error.required" class="text-danger">This field is required</span>
            </div>
            
            <div class="form-group has-feedback">
				<input id="exampleInputCode" type="text" name="confirmaticon_code" placeholder="Introduce el código de verificación" ng-model="reset.code" required="" class="form-control" />
				<span class="fa fa-lock form-control-feedback text-muted"></span>
				<span ng-show="loginForm.confirmaticon_code.$dirty &amp;&amp; loginForm.confirmaticon_code.$error.required" class="text-danger">This field is required</span>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Reset</button>
         </form>
         <div class="container-fluid p0 mb0 mt-sm">
				<div data-ng-if="errorRecover2" class="alert alert-danger alert-dismissable mb0">
					<button type="button" class="close" data-ng-click="clearErrorRecover2()" aria-hidden="true">×</button>
					{{errorRecover2}}
				</div>
    		</div>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>