<div class="block-center mt-xl wd-xl">
	<!-- START panel-->
	<div class="panel panel-dark panel-flat">
    	<div class="panel-heading text-center">
        	<a href="#/page/login">
            	<img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
        	</a>
    	</div>
		<div class="panel-body" data-ng-controller="resetPassController">
        	<p class="text-center pv">RESETEO DE LA CONTRASEÑA</p>
			<form role="form" name="recoverForm" novalidate="" class="form-validate" ng-submit="resPass()">
            	<p class="text-center">Introduce el correo para enviarte el email de reseteo de la contraseña</p>
				<div class="form-group has-feedback">
					<label class="text-muted">Dirección de email</label>
					<input type="email" name="email" placeholder="Introduce el email" autocomplete="off" ng-model="recover.email" required="" class="form-control" />
					<span class="fa fa-envelope form-control-feedback text-muted"></span>
					<span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.required" class="text-danger">Este campo es obligatorio.</span>
					<span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.email" class="text-danger">Este campo debe ser un email válido.</span>
            	</div>
				<button type="submit" class="btn btn-danger btn-block">Resetear</button>
        	</form>
			<div class="container-fluid p0 mb0 mt-sm">
				<div data-ng-if="errorRecover" class="alert alert-danger alert-dismissable mb0">
					<button type="button" class="close" data-ng-click="clearErrorRecover()" aria-hidden="true">×</button>
					{{errorRecover}}
				</div>
    		</div>
    	</div>
	</div>
	<!-- END panel-->
	<div class="p-lg text-center">
    	<span>&copy;</span>
		<span ng-bind="app.year"></span>
		<span>-</span>
		<span ng-bind="app.name"></span>
		<br/>
		<span ng-bind="app.description"></span>
	</div>
</div>