<div ng-controller="LoginFormController" class="block-center mt-xl wd-xl">
   	<!-- START panel-->
   	<div class="panel panel-dark panel-flat">
      	<div class="panel-heading text-center">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
      	</div>
	  	<div class="panel-body">
        	<p class="text-center pv">PARECE QUE TU SESIÓN CADUCÓ</p>
			<dreamfactory-user-login options="{showTemplate: false}"></dreamfactory-user-login>
			<form role="form" ng-submit="login()" name="loginForm" novalidate="" class="form-validate mb-lg">
            	<div class="form-group has-feedback">
					<input id="exampleInputEmail1" type="email" name="account_email" placeholder="Introduce el email" autocomplete="off" ng-model="account.email" required="" class="form-control" />
					<span class="fa fa-envelope form-control-feedback text-muted"></span>
					<span ng-show="loginForm.account_email.$dirty &amp;&amp; loginForm.account_email.$error.required" class="text-danger">Este campo es obligatorio.</span>
					<span ng-show="loginForm.account_email.$dirty &amp;&amp; loginForm.account_email.$error.email" class="text-danger">Este campo tiene que ser un email válido.</span>
            	</div>
				<div class="form-group has-feedback">
					<input id="exampleInputPassword1" type="password" name="account_password" placeholder="Introduce la contraseña" ng-model="account.password" required="" class="form-control" />
					<span class="fa fa-lock form-control-feedback text-muted"></span>
					<span ng-show="loginForm.account_password.$dirty &amp;&amp; loginForm.account_password.$error.required" class="text-danger">Este campo es obligatorio.</span>
            	</div>
				<button type="submit" class="btn btn-block btn-primary mt-lg">Relogin</button>
        	</form>
			<div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
    	</div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>