<h3>LISTADO DE ACEPTACIONES</h3>
<div ng-controller="AceptacionesCntrl" class="container-fluid">
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
		<div class="fondoOscurecido porEncima" data-ng-show="uploading">
			<div class="centradoVertical">
				<h4 class="textoBlanco centrado bloque ml-lg mr-lg">Subiendo archivos:</h4>
				<progressbar class="progress-striped active mb0" animate="true" max="100" value="progressUpload" type="success">
					<i>{{progressUpload}} %</i>
				</progressbar>
			</div>
	    </div>
		
	    <div data-ng-class="{'deshabilitar': uploading}">
			<h4 class="centrado mb-lg">{{tituloAceptacion}}</h4>    
		    <tabset justified="true">
				<!----------------------------------- Pestaña del Formulario ----------------------------------->
				<tab active="mostrarFormAceptacion" data-ng-controller="AceptacionFormCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<form role="form" name="formAceptacion" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
						    
						    <div class="form-group has-feedback">
					        	<label class="text-muted">Precio Final</label>
								<input type="number" name="precioFinal" ng-model="aceptacion.precioFinal" class="form-control blanco" readonly=""/>
					        </div>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Descuento</label>
								<input type="number" name="precioDescuento" ng-model="aceptacion.precioDescuento" class="form-control blanco" readonly=""/>
					        </div>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Descripción de la instalación</label>
								<input type="text" name="descripcion" placeholder="Descripción de la instalación" ng-model="aceptacion.descripcion" class="form-control" required="" focus-on="mainFocus"/>
								<span ng-show="!formAceptacion.descripcion.$pristine && formAceptacion.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback">
						    	<label class="text-muted">Forma de pago: </label>
								<select name="select" ng-model="aceptacion.formaPagoInst" data-ng-disabled="true">
							    	<option value data-ng-hide="!$pristine">Seleccione forma de pago</option>
							    	<option value="RENTING">Renting</option>
							    	<option value="CONTADO">Al contado</option>
						    	</select>
					        </div>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Términos y condiciones</label>
								<input type="text" name="condiciones" placeholder="Términos y condiciones de la instalación" ng-model="aceptacion.condiciones" class="form-control" required=""/>
								<span ng-show="!formAceptacion.condiciones.$pristine && formAceptacion.condiciones.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback alignLeft">
							    <label class="text-muted">Observaciones</label>
								<textarea name="observaciones" placeholder="Observaciones de la aceptacion" data-ng-model="aceptacion.observaciones" class="form-control" cols="5"></textarea>
								<span ng-show="!formAceptacion.observaciones.$pristine && formAceptacion.observaciones.$error.required" class="text-danger">Campo obligatorio.</span>
							</div>								
					    </form>
						
						<div class="mr-lg ml-lg">
							<h4 class="bloque">Subir archivos</h4>
	
					        <!-- <button ngf-select="uploadFiles($files)" multiple accept="image/*">Select Files</button> -->
					        <button class="btn" ngf-select="uploadFiles($files)" multiple>Seleccionar Archivos</button>
					        <br>
					    	<h5 class="mt-sm" data-ng-if="files.length != 0">Archivos adjuntados al presupuesto:</h5>
					        <table class="table" data-ng-if="files.length != 0">
						        <tr>
							        <th>Archivo</th>
							        <th>Descripción</th>
							        <th></th>
						        </tr>
						        <tr data-ng-repeat="file in files">
							        <td>{{file.file.name}}</td>
							        <td><input type="text" name="descripcion" placeholder="Descripción corta del archivo" ng-model="file.descripcion"/></td>
							        <td class="celdaBoton">
								        <button data-ng-click="eliminarArchivo(file)" class="btn btn-sm btn-danger"><em class="fa fa-trash"></em></button>
								    </td>
						        </tr>
					        </table>
					        
					        
					        <span class="red" data-ng-if="errorMsg">{{errorMsg}}</span>
						</div>
						
						<div class="alignLeft mb-lg ml-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formAceptacion.$invalid" data-ng-click="editAceptacion()">Modificar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorFormAceptacion">
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorFormAceptacion()" aria-hidden="true">×</button>
									{{errorFormAceptacion}}
					        	</div>
					    	</div>
					    </div>
		    
					</div>
				</tab>
				
				<!----------------------------------- Pestaña del Renting ----------------------------------->
				<tab data-ng-controller="AceptacionRentingCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<form role="form" name="formAceptacionRenting" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
							
							<div class="form-group has-feedback">
								<label class="text-muted">Duración</label>
							    <input type="number" name="plazoRenting" ng-model="aceptacionRenting.plazoRenting" class="form-control blanco" readonly=""/>
						    </div>
						    
						    <div class="form-group has-feedback">
								<label class="text-muted">Importe (mensual)</label>
							    <input type="number" name="cuotaRenting" ng-model="aceptacionRenting.cuotaRenting" class="form-control blanco" readonly=""/>
						    </div>
						    
						    <div class="form-group has-feedback">
								<label class="text-muted">Observaciones</label>
							    <textarea name="observacionesRenting" placeholder="Observaciones del renting" data-ng-model="aceptacionRenting.observacionesRenting" class="form-control" cols="5" focus-on="mainFocus"></textarea>
							    <span ng-show="!formAceptacionRenting.observacionesRenting.$pristine && formAceptacionRenting.observacionesRenting.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						</form>
						
						<div class="alignLeft mb-lg ml-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formAceptacionRenting.$invalid" data-ng-click="aceptar()">Aceptar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="enviado">
								<div class="alert alert-success alert-dismissable">
									{{enviado}}
					           	</div>
					        </div>
					    </div>
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Servicios ----------------------------------->
				<tab data-ng-controller="AceptacionServiciosCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<form role="form" name="formAceptacionServicios" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
							
							<div class="form-group has-feedback">
							    <label class="text-muted">Servicios incluidos</label>
							    <textarea name="servicios" placeholder="Servicios del sistema" data-ng-model="aceptacionServicios.servicios" class="form-control" cols="5" required="" focus-on="mainFocus"></textarea>
							    <span ng-show="!formAceptacionServicios.servicios.$pristine && formAceptacionServicios.servicios.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
								<label class="text-muted">Coste</label>
							    <input type="number" min="0" name="costeServicio" placeholder="Coste del servicio contratado" ng-model="aceptacionServicios.costeServicio" class="form-control" required=""/>
							    <span ng-show="!formAceptacionServicios.costeServicio.$pristine && formAceptacionServicios.costeServicio.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
							    <label class="text-muted">Forma de pago</label>
							    <textarea name="formaPagoSer" placeholder="Forma de pago de los servicios" data-ng-model="aceptacionServicios.formaPagoSer" class="form-control" cols="5" required=""></textarea>
							    <span ng-show="!formAceptacionServicios.formaPagoSer.$pristine && formAceptacionServicios.formaPagoSer.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
							    <label class="text-muted">Tipo de pago</label>
							    <textarea name="tipoPagoSer" placeholder="Tipo de pago de los servicios" data-ng-model="aceptacionServicios.tipoPagoSer" class="form-control" cols="5" required=""></textarea>
							    <span ng-show="!formAceptacionServicios.tipoPagoSer.$pristine && formAceptacionServicios.tipoPagoSer.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
							    <label class="text-muted">Observaciones</label>
							    <textarea name="observacionesSer" placeholder="Observaciones de los servicios" data-ng-model="aceptacionServicios.observacionesSer" class="form-control" cols="5"></textarea>
							    <span ng-show="!formAceptacionServicios.observacionesSer.$pristine && formAceptacionServicios.observacionesSer.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						</form>
										        
						<div class="alignLeft mb-lg ml-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formAceptacionServicios.$invalid" data-ng-click="aceptar()">Aceptar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="enviado">
								
								<div class="alert alert-success alert-dismissable">
									{{enviado}}
					           	</div>
					        </div>
					    </div>
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Contactos ----------------------------------->
				<tab data-ng-controller="AceptacionContactosCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<!----------------------------------- Formulario de contactos ----------------------------------->
						<div class="panel panel-default" data-ng-show="mostrarFormCon">
							<form role="form" name="formCon" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
							    
							    <h4>{{titulo}}</h4>
							    
						        <div class="form-group has-feedback">
						        	<label class="text-muted">Nombre</label>
									<input type="text" name="nombre" placeholder="Nombre del contacto" ng-model="contacto.nombre" class="form-control" required="" focus-on="mainFocus"/>
									<span ng-show="!formCon.nombre.$pristine && formCon.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
						        </div>
							        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Apellidos</label>
							        <input type="text" name="apellidos" placeholder="Apellidos del contacto" ng-model="contacto.apellidos" class="form-control" required=""/>
							    	<span ng-show="!formCon.apellidos.$pristine && formCon.apellidos.$error.required" class="text-danger">Campo obligatorio.</span>
						        </div>
						        
						        <div class="form-group has-feedback">
							    	<label class="text-muted">Tipo: </label>
									<select name="select" ng-model="contacto.tipo">
								    	<option value data-ng-hide="!$pristine">Seleccione tipo de contacto</option>
								    	<option value="TECNICO">Técnico</option>
								    	<option value="ADMINISTRATIVO">Administrativo</option>
							    	</select>
						        </div>
						       
						        <div class="form-group has-feedback">
							        <label class="text-muted">Teléfono</label>
							        <input type="text" name="telefono" pattern="^[9|8]\d{8}$" placeholder="Teléfono del contacto" ng-model="contacto.telefono" class="form-control" required=""/>
									<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.required" class="text-danger">Campo obligatorio.</span>
									<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.pattern" class="text-danger">Inserte un número de teléfono fijo válido. Ej: 916553265.</span>
						        </div>
							        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Móvil</label>
							        <input type="text" name="movil" pattern="^[7|6]\d{8}$" placeholder="Teléfono móvil del contacto" ng-model="contacto.movil" class="form-control"/>
							        <span ng-show="!formCon.movil.$pristine && formCon.movil.$error.pattern" class="text-danger">Inserte un número de teléfono móvil válido. Ej: 661359768.</span>
						        </div>
											        
						        <div class="form-group has-feedback">
							        <label class="text-muted">E-mail</label>
							        <input type="email" name="correo" placeholder="E-mail del contacto" ng-model="contacto.correo" class="form-control"/>
						        </div>
						        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Notas</label>
									<input type="text" name="notas" placeholder="Notas referentes al contacto" ng-model="contacto.notas" class="form-control"/>
						        </div>
									        
						    </form>	
									    	
							<div class="alignLeft ml-lg mb-lg">
							    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="editarContacto()" data-ng-if="!contacto.id">{{botonForm}}</button>
							    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="editarContacto()" data-ng-if="contacto.id">{{botonForm}}</button>
								<button class="btn btn-warning mt-lg" data-ng-click="resetFormCon()">Cancelar</button>
							</div>
							
							<div class="container-fluid">
								<div data-ng-if="errorFormCon">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorformCon()" aria-hidden="true">×</button>
										{{errorFormCon}}
							    	</div>
								</div>
							</div>
									    
						</div>
						
						<!----------------------------------- Tabla de contactos de la Aceptación ----------------------------------->
						<div class="panel panel-dark panel-flat">
							<h4 class="clearfix">
								<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer4">
									<p>Cargando datos...</p>
								</div>
								<div data-ng-class="{'deshabilitar': buffer4}" class="alignRight centrado">
								    <button type="button" class="btn btn-primary margenDerecho floatRight" data-ng-click="abrirTabla()">Añadir contactos</button>						</div>
							</h4>
							<div data-ng-class="{'deshabilitar': buffer2}" ui-grid="gridConAc" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
						</div>
						<div class="alignLeft mb-lg ml-lg">
							<button class="btn btn-primary mt-lg" data-ng-click="aceptar()">Aceptar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						<div class="container-fluid">
							<div data-ng-if="enviado">
								
								<div class="alert alert-success alert-dismissable">
									{{enviado}}
					           	</div>
					        </div>
					    </div>
						<div class="container-fluid">
							<div data-ng-if="errorConAc">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorConAc()" aria-hidden="true">×</button>
									{{errorConAc}}
					           	</div>
					        </div>
					    </div>					    
					</div>
				</tab>
		    </tabset>
	    </div>
	</div>
	
	<!----------------------------------- Tabla de aceptaciones ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridAceptaciones" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="errorAceptaciones" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearErrorAceptaciones()" aria-hidden="true">×</button>
				{{errorAceptaciones}}
			</div>
		</div>
	</div>
	
</div>