<h3>CATÁLOGO</h3>
<div ng-controller="CatalogoCntrl" class="container-fluid">
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
		<form role="form" name="formCatalogo" novalidate="" class="form-validate mb-lg mr-lg ml-lg">	            
		        
	        <h4>{{titulo}}</h4>
	        
	        <div class="form-group has-feedback" data-ng-if="producto.referencia">
	        	<label class="text-muted">Referencia</label>
				<input type="text" name="nomnbre" ng-model="producto.referencia" class="form-control blanco" readonly=""/>
	        </div>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Nombre</label>
				<input type="text" name="nomnbre" placeholder="Nombre del Producto" ng-model="producto.nombre" class="form-control" required="" focus-on="mainFocus"/>
				<span ng-show="!formCatalogo.nomnbre.$pristine && formCatalogo.nomnbre.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Descripción</label>
		        <textarea name="descripcion" placeholder="Descripción corta" data-ng-model="producto.descripcion" class="form-control" cols="5"required=""></textarea>
		        <span ng-show="!formCatalogo.descripcion.$pristine && formCatalogo.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
		            
			<div class="form-group has-feedback">
		        <label class="text-muted">Coste €</label>
				<input type="number" min="0" step="0.01" name="coste" ng-model="producto.coste" class="form-control" placeholder="Coste del Producto" required="">
				<span ng-show="!formCatalogo.coste.$pristine && formCatalogo.coste.$error.required" class="text-danger">Campo obligatorio.</span>              
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Horas Hombre</label>
				<input type="number" min="0.25" step="0.25" name="horas_hombre" ng-model="producto.horas_hombre" class="form-control" placeholder="Horas de montaje por un técnico" required="">
				<span ng-show="!formCatalogo.horas_hombre.$pristine && formCatalogo.horas_hombre.$error.required" class="text-danger">Campo obligatorio.</span>              
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Margen %</label>
				<input type="number" min="0" step="1" name="margen" ng-model="producto.margen" class="form-control" placeholder="Margen del Producto" required="">
				<span ng-show="!formCatalogo.margen.$pristine && formCatalogo.margen.$error.required" class="text-danger">Campo obligatorio.</span>              
	        </div>
	        
	        <div class="form-group has-feedback" data-ng-if="producto.pvp">
		        <label class="text-muted">PVP</label>
				<input type="number" name="pvp" ng-model="producto.pvp" class="form-control" placeholder="PVP del Producto" required="">
				<span ng-show="!formCatalogo.pvp.$pristine && formCatalogo.pvp.$error.required" class="text-danger">Campo obligatorio.</span>              
	        </div>
	        
	        <div class="form-group has-feedback checkbox c-checkbox">             
				<label class="text-muted"><input type="checkbox" checked="" ng-model="producto.mostrar"><span class="fa fa-check"></span>¿Mostrar?</label>
	        </div>
	        
	    </form>
	    	
		<div class="alignLeft mb-lg ml-lg">
		    <button class="btn btn-primary" data-ng-disabled="formCatalogo.$invalid" data-ng-click="add()">{{boton}}</button>
			<button class="btn btn-danger" data-ng-click="delProducto(producto)" data-ng-if="producto.id">Eliminar</button>
			<button class="btn btn-warning" data-ng-click="resetformCatalogo()">Cancelar</button>
		</div>
		
		<div class="container-fluid">
			<div data-ng-if="errorFormCatalogo">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormCatalogo()" aria-hidden="true">×</button>
					{{errorFormCatalogo}}
	        	</div>
	    	</div>
	    </div>
	    
	</div>
	
	<!----------------------------------- Catálogo ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridCatalogo" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="errorCatalogo" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearErrorCatalogo()" aria-hidden="true">×</button>
				{{errorCatalogo}}
			</div>
		</div>
	</div>
	
</div>