<h3>CLIENTES</h3>
<div ng-controller="ClientesCntrl" class="container-fluid">
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
		<form role="form" name="formCliente" novalidate="" class="form-validate mb-lg mr-lg ml-lg">	            
		        
	        <h4>{{titulo}}</h4>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Nombre</label>
				<input type="text" name="nomnbre" placeholder="Nombre del Cliente" ng-model="cliente.nombre" class="form-control" required="" focus-on="mainFocus"/>
				<span ng-show="!formCliente.nomnbre.$pristine && formCliente.nomnbre.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Dirección</label>
		        <textarea name="direccion" placeholder="Dirección del Cliente" data-ng-model="cliente.direccion" class="form-control" cols="5"required=""></textarea>
		        <span ng-show="!formCliente.direccion.$pristine && formCliente.direccion.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
		    
	        <div class="form-group has-feedback">
		        <label class="text-muted">Teléfono</label>
				<input type="tel" name="telefono" ng-model="cliente.telefono" class="form-control" placeholder="Teléfono del Cliente" pattern="^[6,9][0-9]{8}" required="">
				<span ng-show="!formCliente.telefono.$pristine && formCliente.telefono.$error.required" class="text-danger">Campo obligatorio.</span>
				<span ng-show="!formCliente.telefono.$pristine && formCliente.telefono.$error.pattern" class="text-danger">Introduzca un número de teléfono correcto. Ej: 916852354/665248956.</span>              
	        </div>	 
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">e-mail</label>
				<input type="email" name="email" placeholder="E-mail del Cliente" ng-model="cliente.email" class="form-control" required=""/>
				<span ng-show="!formCliente.email.$pristine && formCliente.email.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	               
	    </form>
	    	
		<div class="alignLeft mb-lg ml-lg">
		    <button class="btn btn-primary" data-ng-disabled="formCliente.$invalid" data-ng-click="add()">{{boton}}</button>
			<button class="btn btn-danger" data-ng-click="delCliente(cliente)" data-ng-if="cliente.id">Eliminar</button>
			<button class="btn btn-warning" data-ng-click="resetFormCliente()">Cancelar</button>
		</div>
		
		<div class="container-fluid">
			<div data-ng-if="errorFormCliente">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormCliente()" aria-hidden="true">×</button>
					{{errorFormCliente}}
	        	</div>
	    	</div>
	    </div>
	    
	</div>
	
	<!----------------------------------- Listado de Clientes ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridCliente" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="errorCliente" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearErrorCliente()" aria-hidden="true">×</button>
				{{errorCliente}}
			</div>
		</div>
	</div>
	
</div>