<h3>LISTADO DE CONTRATOS</h3>
<div ng-controller="ContratosCntrl" class="container-fluid">	
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<h4 class="centrado" data-ng-show="mostrar">{{titulo}}</h4>
	<div class="panel panel-default noBorderTop" data-ng-show="mostrar">
		<tabset justified="true">
			<!----------------------------------- Pestaña del Formulario ----------------------------------->
			<tab active="mostrar" data-ng-controller="ContratosFormCntrl">
				<tab-heading>{{tituloForm}}</tab-heading>
				<div>
					<form role="form" name="formCon" novalidate="" class="form-validate mb-lg ml-lg mr-lg" unsaved-warning-form>
	            
						<div class="form-group has-feedback" data-ng-if="con.ref">
							<label class="text-muted">Referencia</label>
							<input type="text" name="referencia" ng-model="con.ref" required="" class="form-control blanco" data-ng-disabled="true"/>
	            		</div>
	            
				        <div class="form-group has-feedback clear">
				            <label class="text-muted">Descripción</label>
				            <input type="text" name="descripcion" placeholder="Descripción del contrato" autocomplete="off" ng-model="con.descripcion" required="" class="form-control" focus-on="mainFocusForm"/>
				            <span ng-show="!formCon.descripcion.$pristine && formCon.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
	            
				        <div class="form-group has-feedback">
						    <label class="text-muted">Sistema</label>
							<div class="form-group has-feedback" data-ng-class="{'deshabilitar': buffer2}">
								<input type="text" name="sistema" autocomplete="off" data-ng-model="sistemaSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl}">
							    <span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>
								<ul id="listaSelect" class="blanco" data-ng-show="desplegarUl">
									<li>
										<div>
											<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" focus-on="focusMe">
											<i class="fa fa-search icono"></i>
										</div>
									</li>
									<li data-ng-repeat="sistema in sistemas | orderBy: 'nombre' | filter: filtro | limitTo: 4" class="indentado"><a data-ng-click="cambiarSistema(sistema)" class="noLink">{{sistema.nombre}}</a></li>
									<li class="indentado"><a href data-ng-click="masSistemas()">Mas...</a></li>
								</ul>
							</div>
						</div>
			
						<div class="form-group has-feedback">
					        <div class="cargaAnexa text-center" data-ng-show="buffer2">
								<label class="text-muted">Cargando Sistemas:</label>
								<progressbar class="progress-striped active floatRight barraCarga" animate="true" max="100" value="progressValue" type="success">
									<i>{{progressValue}} %</i>
								</progressbar>
							</div>
			            </div>
				            
			            <div class="form-group has-feedback">
							<label class="text-muted">Presupuesto asociado</label><button data-ng-click="abrirPresupuestos()" class="btn btn-xs btn-info ml-sm"><em class="fa icon-list"></em></button>
							<input type="text" name="presupuesto" ng-model="con.presupuesto" required="" class="form-control" autocomplete="off" required=""/>
							<span ng-show="!formCon.presupuesto.$pristine && formCon.presupuesto.$error.required" class="text-danger">Campo obligatorio.</span>
	        			</div>
						
						<div class="form-group has-feedback clear">
				            <label class="text-muted">Inicio</label>
							<input type="date" name="inicio" placeholder="YYYY-MM-dd" autocomplete="off" ng-model="con.inicio" required="" class="form-control" step="1"/>
				            <span ng-show="!formCon.inicio.$pristine && formCon.inicio.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
				            
				        <div class="form-group has-feedback clear">
				            <label class="text-muted">Renovación (meses)</label>
				            <input type="number" name="renovacion" placeholder="Renovación automática del contrato" autocomplete="off" ng-model="con.renovacion" min="1" required="" class="form-control"/>
				            <span ng-show="!formCon.renovacion.$pristine && formCon.renovacion.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
				
						<div class="form-group has-feedback clear">
							<label class="text-muted">Caduca</label>
				            <input type="date" name="caduca" placeholder="YYYY-MM-dd" autocomplete="off" ng-model="con.caduca" required="" class="form-control" step="1" min="2015-01-01"/>
				            <span ng-show="!formCon.caduca.$pristine && formCon.caduca.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
				            
				        <div class="form-group has-feedback clear">
				            <span class="margenDerecho"><label class="text-muted">¿Bloqueado?</label></span>
				            <input type="checkbox" name="bloqueado" data-ng-model="con.bloqueado"/>
				        </div>
				            
				        <div class="form-group has-feedback clear">
				            <label class="text-muted">Mensaje</label>
				            <input type="text" name="mensaje" placeholder="Mensaje del contrato" autocomplete="off" ng-model="con.mensaje" class="form-control"/>
				        </div>
						
	        		</form>
					
					<div class="alignLeft mb-lg ml-lg">
			        	<button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid || !formCon.$dirty" data-ng-click="add()">{{boton}}</button>
			        	<button class="btn btn-danger mt-lg" data-ng-click="delContrato(con.id)" data-ng-if="con.id">Eliminar</button>
						<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cerrar</button>
			        </div>
			            
	    			<div class="container-fluid">
						<div data-ng-if="errorFormContrato">
							<br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorFormContrato()" aria-hidden="true">×</button>
								{{errorFormContrato}}
			            	</div>
			        	</div>
			    	</div>
			    	
				</div>
			</tab>
			<!----------------------------------- Pestaña del listado de Servicios ----------------------------------->
			<tab data-ng-controller="ContratosServiciosCntrl">
				<tab-heading>Servicios</tab-heading>
				<div>
					<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer3">
						<p>Cargando datos:</p>
						<progressbar class="progress-striped active" animate="true" max="100" value="progressValue2" type="success">
							<i>{{progressValue2}} %</i>
						</progressbar>
					</div>
					
					<div class="centrar" data-ng-class="{'deshabilitar': buffer3}">
						<ul>
					    	<li ng-repeat="servicio in servicios | orderBy: 'nombre'" class="listaSin">
					    		<input type="checkbox" data-ng-model="servicio.asignado" data-ng-change="cambiarServicios()"/>
					    		<span class="margenIzdo">{{servicio.nombre}}</span>
					    	</li>
						</ul>
					</div>
					
					<div class="container-fluid">
						<div data-ng-if="errorServiciosContrato">
							<br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorServiciosContrato()" aria-hidden="true">×</button>
								{{errorServiciosContrato}}
			            	</div>
			        	</div>
			    	</div>
			    	
				</div>
			</tab>
		</tabset>	   	
	</div>

	<!----------------------------------- Tabla de Contratos ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
		    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="remove()">Eliminar Seleccionados</button>
		</div>
	</h4>
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridOptionsComplex" ui-grid-pagination="" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	<div class="container-fluid">
		<div data-ng-if="currentError">
			<br><br>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
				{{currentError}}
           	</div>
       	</div>
    </div>
</div>