<h3>LISTADO DE CONTACTOS</h3>
<div ng-controller="ContactosCntrl" class="container-fluid">
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default noBorderTop" data-ng-show="mostrarFormContactos">
		<tabset justified="true">
			<!----------------------------------- Pestaña del Formulario ----------------------------------->
			<tab active="mostrarFormContactos" data-ng-controller="ContactosFormCntrl">
				<tab-heading>{{titulo}}</tab-heading>
				<!----------------------------------- Formulario ----------------------------------->
				<div>
					<form role="form" name="formCon" novalidate="" class="form-validate mb-lg ml-lg mr-lg mt-lg" unsaved-warning-form>	            
				        
				        <div class="form-group has-feedback">
				        	<label class="text-muted">Nombre</label>
							<input type="text" name="nombre" placeholder="Nombre del contacto" ng-model="con.nombre" class="form-control" required="" focus-on="mainFocus" data-ng-change="cambiarModificado()"/>
							<span ng-show="!formCon.nombre.$pristine && formCon.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
				        
				        <div class="form-group has-feedback">
					        <label class="text-muted">Apellidos</label>
					        <input type="text" name="apellidos" placeholder="Apellidos del contacto" ng-model="con.apellidos" class="form-control" data-ng-change="cambiarModificado()"/>
				        </div>
				        
				        <div class="form-group has-feedback">
					        <label class="text-muted">Teléfono</label>
					        <input type="text" name="telefono" pattern="^[9|8]\d{8}$" placeholder="Teléfono del contacto" ng-model="con.telefono" class="form-control" required="" data-ng-change="cambiarModificado()"/>
							<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.required" class="text-danger">Campo obligatorio.</span>
							<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.pattern" class="text-danger">Inserte un número de teléfono fijo válido. Ej: 916553265.</span>
				        </div>
				        
				        <div class="form-group has-feedback">
					        <label class="text-muted">Móvil</label>
					        <input type="text" name="movil" pattern="^[7|6]\d{8}$" placeholder="Teléfono móvil del contacto" ng-model="con.movil" class="form-control" data-ng-change="cambiarModificado()"/>
					        <span ng-show="!formCon.movil.$pristine && formCon.movil.$error.pattern" class="text-danger">Inserte un número de teléfono móvil válido. Ej: 661359768.</span>
				        </div>
				        
				        <div class="form-group has-feedback">
					        <label class="text-muted">E-mail</label>
					        <input type="email" name="correo" placeholder="E-mail del contacto" ng-model="con.correo" class="form-control" data-ng-change="cambiarModificado()"/>
				        </div>
				        
				        <div class="form-group has-feedback">
						    <label class="text-muted">Tipo: </label>
							<select name="select" ng-model="con.tipo" class="form-control" data-ng-change="cambiarModificado()" required="">
							    <option value data-ng-hide="!$pristine">Seleccione tipo de contacto</option>
							    <option value="TECNICO">Técnico</option>
								<option value="ADMINISTRATIVO">Administrativo</option>
							</select>
					    </div>
				        
				        <div class="form-group has-feedback">
					        <label class="text-muted">Notas</label>
					        <input type="text" name="notas" placeholder="Notas referentes al contacto" ng-model="con.notas" class="form-control" data-ng-change="cambiarModificado()"/>
				        </div>
					        
				    </form>		
					
					<div class="alignLeft ml-lg mb-lg">
					    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid || !formCon.$dirty" data-ng-click="add()">{{boton}}</button>
						<button class="btn btn-danger mt-lg" data-ng-click="delCon(con)" data-nf-if="con.id">Eliminar</button>
						<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cerrar</button>
					</div>
					
					<div class="container-fluid">
						<div data-ng-if="errorformCon">
							<br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorformCon()" aria-hidden="true">×</button>
								{{errorformCon}}
				        	</div>
				    	</div>
				    </div>
				</div>
			</tab>
			
			<tab data-ng-controller="ContactosSistemasCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
				<tab-heading>Sistemas </tab-heading>
				<!----------------------------------- Sistemas enlazados ----------------------------------->
				<div>	
					<div data-ng-show="mostrarFormContactos">	
						<div class="panel panel-default" data-ng-show="sistemasTotales">
							<h4 class="clearfix">
								<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer2">
									<p>Cargando datos:</p>
									<progressbar class="progress-striped active" animate="true" max="100" value="progressValue2" type="success">
										<i>{{progressValue2}} %</i>
									</progressbar>
								</div>
							</h4>
							
							<h5 class="alignLeft ml-lg">Seleccione los sistemas que quiera enlazar con el contacto</h5>
							
							<div data-ng-class="{'deshabilitar': buffer2}" ui-grid="gridSisConTotal" ui-grid-pagination="" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid ml-lg mr-lg" ng-style="{height: comprobarTamano()+'px'}"></div>
								
							<div data-ng-class="{'deshabilitar': buffer2}" class="alignLeft ml-lg mb-lg mt-lg">
							    <button type="button" class="btn btn-primary" data-ng-click="addSistemas()">Enlazar</button>
							    <button type="button" class="btn btn-warning" data-ng-click="sistemasTotales=false">Cerrar</button>
							</div>
						</div>
					</div>
					
					<div>
						<h4 class="clearfix">
							<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer4">
								<p>Cargando datos...</p>
							</div>
							<div data-ng-class="{'deshabilitar': buffer4}" class="alignRight centrado">
							    <button type="button" class="btn btn-primary margenDerecho floatRight" data-ng-click="sistemasTotales=true">Añadir sistemas</button>						</div>
						</h4>
							
						<div data-ng-class="{'deshabilitar': buffer2}" ui-grid="gridSisCon" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano2()+'px'}"></div>
					</div>
						
					<div class="container-fluid">
						<div data-ng-if="errorSistemasContactos">
							<br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorSistemasContactos()" aria-hidden="true">×</button>
								{{errorSistemasContactos}}
					    	</div>
					    </div>
					</div>
					
				</div>
			</tab>
		</tabset>
	</div>
	
	<!----------------------------------- Tabla de cons ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="formContactos()" data-ng-disabled="mostrarFormContactos">Añadir</button>
		</div>
	</h4>
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridContactos" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-move-columns="" ui-grid-auto-resize="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	<div class="container-fluid">
		<div>
			<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
				{{currentError}}
			</div>
		</div>
	</div>
</div>