<h3>
   <!-- START Language list-->
   <div class="pull-right">
      <div dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
   {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !
</h3>
<!-- <angular-weather city="Houston">HOLA</angular-weather> -->
<div class="row" data-ng-controller="DashboardCntrl">
	<!-- Fecha y Hora -->
	<div class="col-sm-12">
    	<div class="panel widget">
        	<div class="row row-table">
	            <div class="col-xs-4 text-center bg-green pv-lg">
	               <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
	               <now format="MMMM" class="text-sm"></now>
	               <br/>
	               <now format="d" class="h2 mt0"></now>
	            </div>
	            <div class="col-xs-8 pv-lg">
	               <now format="EEEE" class="text-uppercase"></now>
	               <br/>
	               <now format="h:mm" class="h2 mt0"></now>
	               <now format="a" class="text-muted text-sm"></now>
	            </div>
        	</div>
    	</div>
	</div>
	
	<!-- Tabla Incidencias -->
	<div class="mr-lg ml-lg">
    	<h4 class="clearfix" data-ng-show="buffer">
			<p>Cargando datos...</p>
    	</h4>
    	<h4>
			<a href="#/app/incidencias" class="link-unstyled">Incidencias pendientes</a>
    	</h4>
    	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridIncidencias" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
		<div class="leyenda">
			<P class="mb-sm mt-sm">&nbsp&nbsp&nbsp
				<i class="fa fa-wrench">&nbspTécnica.&nbsp</i>
				<i class="fa fa-eye">&nbspImágenes.&nbsp</i>
				<i class="icon-earphones-alt">&nbspSoporte remoto.&nbsp</i>
				<i class="fa fa-car">&nbspSoporte In-situ.&nbsp</i>
				<i class="fa fa-chain-broken">&nbspSin conexión.&nbsp</i>
				<i class="icon-docs">&nbspDocumentación.&nbsp</i>
			</P>
			<P class="m0">
				&nbsp&nbsp&nbsp<i class="fa fa-circle text-success">&nbspFinalizada.&nbsp&nbsp</i>
				&nbsp&nbsp&nbsp<i class="fa fa-circle text-warning">&nbspEn curso.&nbsp&nbsp</i>
				&nbsp&nbsp&nbsp<i class="fa fa-circle text-danger">&nbspFuera de tiempo.</i>
			</P>
		</div>
		<div class="container-fluid">
			<div>
				<div data-ng-if="errorInciDash" class="alert alert-danger alert-dismissable">
					{{errorInciDash}}
		    	</div>
			</div>
		</div>
	</div>
</div>