<h3>LISTADO DE FASES</h3>
<div ng-controller="FasesCntrl" class="container-fluid">
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
		<form role="form" name="formFase" novalidate="" class="form-validate mb-lg mr-lg ml-lg">	            
		        
	        <h4>{{titulo}}</h4>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Nombre</label>
				<input type="text" name="nomnbre" placeholder="Nombre de la fase" ng-model="fase.nombre" class="form-control" required="" focus-on="mainFocus"/>
				<span ng-show="!formFase.nomnbre.$pristine && formFase.nomnbre.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Descripción</label>
		        <textarea name="descripcion" placeholder="Descripción corta" data-ng-model="fase.descripcion" class="form-control" cols="5"required=""></textarea>
		        <span ng-show="!formFase.descripcion.$pristine && formFase.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
		            
			<div class="form-group has-feedback">
		        <label class="text-muted">Caducidad</label>
				<input type="number" name="caducidad" ng-model="fase.caducidad" class="form-control" placeholder="Duración de la fase" required="">
				<span ng-show="!formFase.caducidad.$pristine && formFase.caducidad.$error.required" class="text-danger">Campo obligatorio.</span>              
	        </div>
		        
	        <div class="form-group has-feedback">
		    	<label class="text-muted">Fase anterior: </label>
				<select name="select" data-ng-options="fase.id as fase.nombre for fase in fases" ng-model="faseOrder" data-ng-required="anterior" class="form-control">
			    	<option value data-ng-hide="!$pristine">Seleccione una Fase</option>
		    	</select>
	        </div>
	    </form>
	    	
		<div class="alignLeft mb-lg ml-lg">
		    <button class="btn btn-primary mt-lg" data-ng-disabled="formFase.$invalid" data-ng-click="add()">{{boton}}</button>
			<button class="btn btn-danger mt-lg" data-ng-click="delFase(fase)" data-ng-if="fase.id">Eliminar</button>
			<button class="btn btn-warning mt-lg" data-ng-click="resetformFase()">Cancelar</button>
		</div>
		
		<div class="container-fluid">
			<div data-ng-if="errorFormFase">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormFase()" aria-hidden="true">×</button>
					{{errorFormFase}}
	        	</div>
	    	</div>
	    </div>
	    
	</div>
	
	<!----------------------------------- Tabla de fases ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridFases" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
				{{currentError}}
			</div>
		</div>
	</div>
	
</div>