<h3>FINANCIACIÓN</h3>
<div ng-controller="FinanciacionCntrl" class="container-fluid">
	
	<div ui-grid="gridFinanciacion" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="errorFinanciacion" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearErrorFinanciacion()" aria-hidden="true">×</button>
				{{errorFinanciacion}}
			</div>
		</div>
	</div>
	
</div>