<div ng-controller="PoblacionesFormController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#/page/login">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">REGISTRA UNA NUEVA POBLACIÓN.</p>
         <form role="form" name="formPob" novalidate="" ng-submit="add()" class="form-validate mb-lg">
            <div class="form-group has-feedback">
               <label class="text-muted">Poblacion</label>
               <input type="text" name="poblacion" placeholder="Nombre población" autocomplete="off" ng-model="poblacion.poblacion" required="" class="form-control" />
               <span ng-show="!formPob.poblacion.$pristine && formPob.poblacion.$error.required" class="text-danger">Campo obligatorio.</span>
            </div>
            
            <div class="form-group has-feedback">
            	<label class="text-muted">Provincia</label>
            	<select name="select" data-ng-options="provincia.idprovincia as provincia.provincia for provincia in provincias" ng-model="select" required>
	            	<option value="" ng-hide="!$pristine">Nada Seleccionado</option>
	            </select>
            </div>
            
            
            <div class="form-group has-feedback">
               <label class="text-muted">C.P.</label>
               <input type="number" name="cp" placeholder="Código Postal" ng-model="poblacion.postal" ng-pattern="/^[0-9]{5}$/" required="" class="form-control" />
               <span ng-show="!formPob.cp.$pristine && formPob.cp.$error.required" class="text-danger">Campo obligatorio.</span>
               <span ng-show="!formPob.cp.$pristine && formPob.cp.$error.pattern" class="text-danger">El CP deben ser 5 dígitos.</span>
            </div>
            
            
            <div class="form-group has-feedback">
               <label class="text-muted">Latitud</label>
               <input type="number" name="latitud" placeholder="Latitud" ng-model="poblacion.latitud" class="form-control" required=""/>
               <span class="fa fa-globe form-control-feedback text-muted"></span>
               <span ng-show="!formPob.latitud.$pristine && formPob.latitud.$error.required" class="text-danger">Campo obligatorio.</span>
            </div>
           
           <div class="form-group has-feedback">
               <label class="text-muted">Longitud</label>
               <input type="number" name="longitud" placeholder="Longitud" ng-model="poblacion.longitud" class="form-control" required=""/>
               <span class="fa fa-globe form-control-feedback text-muted"></span>
               <span ng-show="!formPob.longitud.$pristine && formPob.longitud.$error.required" class="text-danger">Campo obligatorio.</span>
            </div>
           
            <button type="submit" class="btn btn-block btn-primary mt-lg" data-ng-disabled="formPob.$invalid">Añadir Población</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>