<h3>LISTADO DE INCIDENCIAS</h3>
<div ng-controller="IncidenciasCntrl" class="container-fluid">
		
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default noBorderTop" data-ng-show="mostrar">
		<tabset justified="true" data-ng-if="mostrar">
			<!----------------------------------- Pestaña del Formulario ----------------------------------->
			<tab active="mostrar" data-ng-controller="IncidenciasFormCntrl">
				<tab-heading>Formulario</tab-heading>
				<div data-ng-class="{'deshabilitar': informacion}">
					<div class="alignRight centrado">
						<button type="button" class="btn btn-green" data-ng-click="volver(sistemaRecall)" data-ng-if="recall"> <i class="fa fa-undo"> Volver</i></button>
					</div>
					
					<form role="form" name="formInci" novalidate="" class="form-validate mb-lg mr-lg ml-lg" unsaved-warning-form>
				        <h4 data-ng-if="inci.id" data-ng-show="!mostrarContrato">
							<div class="floatLeft">
								Cargando datos del contrato, espere.
							</div>
						    <div class="ball-pulse floatLeft">
						        <div></div>
						        <div></div>
						        <div></div>
						    </div>
						    <br><br>
						</h4>								
			            <div class="form-group has-feedback" data-ng-show="mostrarContrato">
				            
				            <div class="panel" data-ng-class="{'panel-success': !contrato.bloqueado && !contrato.caducado, 'panel-warning': contrato.caducado, 'panel-danger': contrato.bloqueado}" data-ng-if="contrato">
					        	<div class="panel-heading">Contrato <span data-ng-click="contratoCompleto(contrato.id)">{{contrato.ref}}</span><span data-ng-if="contrato.caducado"> --- CADUCADO</span><span data-ng-if="contrato.bloqueado"> --- BLOQUEADO</span></div>
								<div class="panel-body">
					            	<div>
						            	<p>Descripción: {{contrato.descripcion}}.</p>
										<p>Servicios: {{contrato.servicios}}.</p>
										<p class="red" data-ng-show="contrato.mensaje">**{{contrato.mensaje}}</p>
					            	</div>
					            	<br>
									<div class="row">		
							            <div class="col-sm-6 col-sm-12">	
							            	<div class="panel panel-interno" data-ng-if="llavesContrato">
												<div class="panel-heading"><i class="fa fa-key"></i> Llaves</div>
												<div class="panel-body" data-ng-repeat="llave in llavesContrato">
													<p>Referencia: {{llave.referencia}}</p>
													<p>Nombre: {{llave.nombre}}</p>
													<p>Ubicación: {{llave.ubicacion}}</p>
												</div>
											</div>
							            </div>
							            
										<div class="col-sm-6 col-sm-12">
							            	<div data-ng-if="contactos" class="panel panel-interno">
							            		<div class="panel-heading"><i class="fa fa-phone"></i> Contactos</div>
							            		<div class="panel-body" data-ng-repeat="contacto in contactos | orderBy: 'nombre'">
											    	{{contacto.cuerpo}}<br>
											    	Notas: {{contacto.notas}}
							            		</div>
							            	</div>
										</div>
						        	</div>
								</div>
					    	</div>
					    	
					    	<div class="panel panel-danger" data-ng-if="!contrato">
					        	<div class="panel-heading">No hay contrato asociado</div>
					    	</div>
			            </div>
			            
			            <div class="form-group has-feedback">
			            	<label class="text-muted">Tipo: </label>
							<label class="margenIzdo text-muted">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp¿Registro policial?&nbsp</label>
				            <input type="checkbox" data-ng-model="inci.registro_policia" data-ng-change="cambiarModificado()"/>
				            <select ng-model="inci.tipo" value="" required="" data-ng-options="tipo.id as tipo.nombre for tipo in tiposIncidencia" data-ng-change="registro(inci.tipo)" class="form-control">
								<option value="" data-ng-hide="!$pristine">Seleccione un Tipo</option>
							</select>
			            </div>
			            
			            <div class="form-group has-feedback">
				            <div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer2">
								<p>Cargando datos:</p>
								<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
									<i>{{progressValue}} %</i>
								</progressbar>
							</div>
					        <label class="text-muted">Sistema</label>
							<div class="form-group has-feedback" data-ng-disabled="buffer2">
								<input type="text" name="sistema" autocomplete="off" data-ng-model="sistemaSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl}" required=""/>
							    <span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>
								<ul id="listaSelect" class="blanco" data-ng-show="desplegarUl">
									<li>
										<div>
											<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" focus-on="focusMe">
											<i class="fa fa-search icono"></i>
										</div>
									</li>
									<li data-ng-repeat="sistema in sistemas | orderBy: 'nombre' | filter: filtro | limitTo: 4" class="indentado "><a data-ng-click="cambiarSistema(sistema)" class="noLink">{{sistema.nombre}}</a></li>
									<li class="indentado"><a href data-ng-click="masSistemas()">Mas...</a></li>
								</ul>
							</div>
							<span ng-show="formInci.sistema.$dirty" class="text-danger">Campo obligatorio.</span>
						</div>
			            
			            <div class="form-group has-feedback">
			            	<label class="text-muted">Status: </label>
							<select ng-model="status" value="1" required class="form-control" data-ng-change="cambiarModificado()">
								<option value="1">ABIERTA</option>
								<option value="2">PENDIENTE</option>
								<option value="3">CERRADA</option>
			            	</select>
			            </div>
			            
			            <div class="form-group has-feedback">
			            	<label class="text-muted">Avisa</label>
							<input type="text" name="avisa" placeholder="¿Quien avisó?" ng-model="inci.avisa" class="form-control" required="" focus-on="mainFocus" data-ng-change="cambiarModificado()"/>
							<span ng-show="!formInci.avisa.$pristine && formInci.avisa.$error.required" class="text-danger">Campo obligatorio.</span>
			            </div>
				            
			            <div class="form-group" data-ng-if="inci.inicio">
							<div>
								<label class="text-muted">Inicio: </label>
				            	<p class="input-group">
				                	<input type="text" name="inicio" class="form-control blanco" datetime-picker="dd/MM/yyyy HH:mm" ng-model="inci.inicio" is-open="open2" ng-click="openCalendar($event,2)" data-ng-required="inci.inicio" data-ng-disabled="!informacion" data-ng-change="cambiarModificado()"/>
									<span class="input-group-btn">
				                    	<button type="button" class="btn btn-default" ng-click="openCalendar($event,2)" data-ng-disabled="!informacion"><i class="fa fa-calendar"></i></button>
									</span>
								</p>
							</div>
							<span ng-show="!formInci.inicio.$pristine && formInci.inicio.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
			            
			            <div class="form-group" data-ng-show="inci.cad">
							<div>
								<label class="text-muted">Caducidad: </label>
				            	<p class="input-group">
				                	<input type="text" name="caducidad" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="inci.cad" is-open="open" ng-click="openCalendar($event,1)" data-ng-required="inci.cad" data-ng-disabled="inci.fin" data-ng-change="cambiarModificado()"/>
									<span class="input-group-btn">
				                    	<button type="button" class="btn btn-default" ng-click="openCalendar($event,1)" data-ng-disabled="inci.fin"><i class="fa fa-calendar"></i></button>
									</span>
								</p>
							</div>
							<span ng-show="!formInci.caducidad.$pristine && formInci.caducidad.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
			            
			            <div class="form-group" data-ng-if="inci.fin">
							<div>
								<label class="text-muted">Fin: </label>
				            	<p class="input-group">
				                	<input type="text" name="fin" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="inci.fin" is-open="open3" ng-click="openCalendar($event,3)" required="" data-ng-disabled="!informacion" data-ng-change="cambiarModificado()"/>
									<span class="input-group-btn">
				                    	<button type="button" class="btn btn-default" ng-click="openCalendar($event,3)" data-ng-disabled="!informacion"><i class="fa fa-calendar"></i></button>
									</span>
								</p>
							</div>
							<span ng-show="!formInci.fin.$pristine && formInci.fin.$error.required" class="text-danger">Campo obligatorio.</span>
				        </div>
		            
			            <div class="form-group has-feedback">
			            	<label class="text-muted">Concepto</label>
							<input type="text" name="concepto" placeholder="Concepto" ng-model="inci.concepto" class="form-control" required="" data-ng-change="cambiarModificado()"/>
							<span ng-show="!formInci.concepto.$pristine && formInci.concepto.$error.required" class="text-danger">Campo obligatorio.</span>
			            </div>
			            				            
			            <div class="form-group has-feedback">
			            	<label class="text-muted">Técnico</label>
							<input type="text" name="tecnico" placeholder="Técnico" ng-model="inci.tecnico" class="form-control" required="" data-ng-change="cambiarModificado()"/>
							<span ng-show="!formInci.tecnico.$pristine && formInci.tecnico.$error.required" class="text-danger">Campo obligatorio.</span>
			            </div>
			            
			            <div class="form-group has-feedback">
				            <label class="text-muted">Descripción</label>
				            <textarea name="descripcion" placeholder="Descripción corta" data-ng-model="descripcion" class="form-control" cols="5" required="" data-ng-show="!informacion" data-ng-change="cambiarModificado()"></textarea>
				            <p data-ng-show="informacion">{{descripcion}}</p>
				            <span ng-show="!formInci.descripcion.$pristine && formInci.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
			            </div>
			            
			            <div class="form-group has-feedback">
				        	<label class="margenIzdo text-muted">¿Facturar?</label>
				        	<input type="checkbox" data-ng-model="inci.facturar" data-ng-change="cambiarModificado()"/>	            
				            <div class="form-group has-feedback" data-ng-if="inci.facturar">
				            	<label class="text-muted">Concepto factura</label>
								<input type="text" name="factura" placeholder="Factura" ng-model="inci.factura" class="form-control" required="" data-ng-change="cambiarModificado()"/>
								<span ng-show="!formInci.factura.$pristine && formInci.factura.$error.required" class="text-danger">Campo obligatorio.</span>
				            </div>
						</div>
			            
        			</form>

					<div class="alignLeft mb-lg ml-lg">
					    <button class="btn btn-primary mt-lg" data-ng-disabled="formInci.$invalid || !formInci.$dirty" data-ng-click="add()">{{boton}}</button>
					    <button class="btn btn-danger mt-lg" data-ng-click="delInci(inci.id)" data-ng-if="inci.id">Eliminar</button>
						<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cerrar</button>
					</div>
					<div class="container-fluid">
						<div data-ng-if="errorFormInci">
							<br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorFormInci()" aria-hidden="true">×</button>
								{{errorFormInci}}
				        	</div>
				    	</div>
				    </div>					
				</div>
			</tab>
			<!----------------------------------- Pestaña de las Tareas ----------------------------------->
			<tab data-ng-controller="IncidenciasTreasCntrl" before-select="pararSiModificado($event)">
				<tab-heading>Tareas</tab-heading>
				<div>
					<div class="panel panel-default" data-ng-show="mostrarFormTareas">
						<form role="form" name="formInciTask" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
							
							<h4>{{titulo}}</h4>
							
				            <div class="form-group has-feedback">
				            	<label class="text-muted">Técnico: </label>
				            	<input type="text" name="tecnico" placeholder="Nombre del Técnico" class="form-control" required="" data-ng-model="task.tecnico"/>
				            	<span ng-show="!formInciTask.tecnico.$pristine && formInciTask.tecnico.$error.required" class="text-danger">Campo obligatorio.</span>
				            </div>
				            
				            <div class="form-group has-feedback">
				            	<label class="text-muted">Descripción: </label>
				            	<textarea name="descripcion" placeholder="Descripción corta" data-ng-model="task.descripcion" class="form-control" cols="5"required="" focus-on="mainFocus"/>
					            <span ng-show="!formInciTask.descripcion.$pristine && formInciTask.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
				            </div>
				            
				            <div class="form-group">
		                    	<label class="text-muted">Tiempo:</label>
		                        <div class="input-group">
		                        	<timepicker name="timepickr" required="" ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
		                        </div>
		                    </div>
		                    <br><br>
				                
				            <div class="form-group">
								<div>
									<label class="text-muted">Fecha y hora: (Realización Tarea)</label>
					            	<p class="input-group">
					                	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="fechaHora" is-open="open" ng-click="openCalendar($event)"/>
										<span class="input-group-btn">
					                    	<button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="fa fa-calendar"></i></button>
										</span>
									</p>
								</div>
								<span ng-show="!formInciTask.fechaHora.$pristine && formInciTask.fechaHora.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>

				            <div class="form-group has-feedback">
				            	<label class="margenIzdo text-muted">¿Intervención in situ?&nbsp&nbsp</label>
					        	<input type="checkbox" data-ng-model="task.inter_insitu"/>
				            </div>
				            
						</form>
						
						<div class="alignLeft ml-lg mb-lg">
					        <button class="btn btn-primary mt-lg" data-ng-disabled="formInciTask.$invalid" data-ng-click="add()">{{boton}}</button>
					        <button class="btn btn-danger mt-lg" data-ng-click="delTask(task.id)" data-ng-if="task.id">Eliminar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="resetFormInciTask()">Cancelar</button>
				        </div>
				        
				        <div data-ng-if="errorFormTareas">
					        <br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorFormTareas()" aria-hidden="true">×</button>
								{{errorFormTareas}}
				        	</div>
				        </div>
				        
					</div>
					<!----------------------------------- Tabla de las Tareas ----------------------------------->
					<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
						<p>Cargando datos:</p>
						<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
							<i>{{progressValue}} %</i>
						</progressbar>
					</div>
					
					<h4 class="clearfix">
						<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
							<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarFormTasks()" data-ng-disabled="mostrarFormTareas">Añadir</button>	
						</div>
					</h4>
						
					<div class="panel panel-default" data-ng-class="{'deshabilitar': buffer}">
						<table class="table table-striped table-bordered">
							<tr>
								<th>Técnico</th>
								<th>Descripción</th>
								<th class="hidden-xs">Tiempo</th>
								<th class="hidden-xs">Creación</th>
								<th class="hidden-xs">Realizada</th>
								<th>Editar</th>
							</tr>
							<tr data-ng-repeat="task in tasks | orderBy: '-timestamp'">
								<td>{{task.tecnico}}</td>
								<td>{{task.descripcion}}</td>
								<td class="centrado hidden-xs">{{task.tiempo}}</td>
								<td class="hidden-xs">{{task.timestamp}}</td>
								<td class="hidden-xs">{{task.fecha_hora}}</td>
								<td>
									<button data-ng-click="editarTarea(task)" class="btn btn-sm btn-info">
										<em class="fa fa-pencil"></em>
									</button>
								</td>
								<td data-ng-show="false">{{task.id}}</td>
								<td data-ng-show="false">{{task.id_incidencia}}</td>
							</tr>
						</table>
					</div>
					
					<div data-ng-if="errorTareas">
				        <br><br>
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-ng-click="clearErrorTareas()" aria-hidden="true">×</button>
							{{errorTareas}}
				        </div>
				    </div>
				
				</div>
			</tab>
		</tabset>
	</div>
	
	<!----------------------------------- Tabla de incidencias ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-green botonLeft" data-ng-click="togleFiltros()" data-ng-disabled="mostrar" data-ng-class="{'active': filtrado}"><i class="fa" data-ng-class="{'fa-toggle-on': filtrado, 'fa-toggle-off': !filtrado}"></i></button>
			<button type="button" class="btn btn-green margenDerecho botonRight" data-ng-click="filtroAvanzado()" data-ng-disabled="mostrar">Configurar Filtro</button>
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="cambiarTabla()" data-ng-disabled="mostrar">Columnas</button>
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		</div>
	</h4>
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridOptions" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid"  ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="leyenda">
		<P class="mb-sm mt-sm">&nbsp&nbsp&nbsp
			<i class="fa fa-wrench">&nbspTécnica.&nbsp</i>
			<i class="fa fa-eye">&nbspImágenes.&nbsp</i>
			<i class="icon-earphones-alt">&nbspSoporte remoto.&nbsp</i>
			<i class="fa fa-car">&nbspSoporte In-situ.&nbsp</i>
			<i class="fa fa-chain-broken">&nbspSin conexión.&nbsp</i>
			<i class="icon-docs">&nbspDocumentación.&nbsp</i>
		</P>
		<P class="m0">
			&nbsp&nbsp&nbsp<i class="fa fa-circle text-success">&nbspFinalizada.&nbsp&nbsp</i>
			&nbsp&nbsp&nbsp<i class="fa fa-circle text-warning">&nbspEn curso.&nbsp&nbsp</i>
			&nbsp&nbsp&nbsp<i class="fa fa-circle text-danger">&nbspFuera de tiempo.</i>
		</P>
	</div>
	<div class="container-fluid">
		<div>
			<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
				{{currentError}}
	    	</div>
		</div>
	</div>
</div>