<h3>LISTADO DE INSTALACIONES</h3>
<div ng-controller="InstalacionesCntrl" class="container-fluid">
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default noBorderTop" data-ng-show="mostrar">
		<tabset justified="true">
			<!----------------------------------- Pestaña del Formulario ----------------------------------->
			<tab active="mostrar" data-ng-controller="InstalacionesFormCntrl">
				<tab-heading>{{titulo}}</tab-heading>
				<div>
					<div class="alignRight centrado">
						<button type="button" class="btn btn-green" data-ng-click="volver(sistemaRecall)" data-ng-if="recall"> <i class="fa fa-undo"> Volver</i></button>
					</div>
					
					<div data-ng-if="contactos" class="panel panel-interno">
						<div class="panel-heading"><i class="fa fa-phone"></i> Contactos</div>
						<div class="panel-body" data-ng-repeat="contacto in contactos | orderBy: 'nombre'">
					    	{{contacto.cuerpo}}<br>
					    	Notas: {{contacto.notas}}
						</div>
					</div>
						
					<form role="form" name="formInst" novalidate="" class="form-validate mb-lg" unsaved-warning-form>
						<div class="form-group has-feedback">
							<label class="text-muted">Referencia:</label>
							<input name="referencia" class="form-control blanco" type="text" data-ng-model="inst.referencia" data-ng-disabled="true">
						</div>
						
						<div class="form-group has-feedback">
							<label class="text-muted">PVP:</label>
							<input name="pvp" type="number" min="0" value="0" class="form-control blanco" type="text" data-ng-model="inst.pvp" data-ng-change="cambiarModificado()">
						</div>
						
						<div class="form-group has-feedback">
							<label class="text-muted">Coste Hora Hombre:</label>
							<input name="costeHoraHombre" type="number" min="0" value="0" class="form-control blanco" type="text" data-ng-model="inst.costeHoraHombre" required="" data-ng-change="cambiarModificado()">
							<span ng-show="!formInst.costeHoraHombre.$pristine && formInst.costeHoraHombre.$error.required" class="text-danger">Campo obligatorio.</span>
						</div>
						
						<div class="form-group has-feedback">
							<label class="text-muted">Descripción:</label>
							<textarea name="descripcion" placeholder="Descripción corta" data-ng-model="inst.descripcion" class="form-control" rows="4" required="" focus-on="mainFocusForm" autofocus="" data-ng-change="cambiarModificado()"></textarea>
							<span ng-show="!formInst.descripcion.$pristine && formInst.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
						</div>
						
						<div class="form-group has-feedback">
							<label class="text-muted">Presupuesto asociado:</label><button data-ng-click="abrirPresupuestos()" class="btn btn-xs btn-info ml-sm"><em class="fa icon-list"></em></button>
							<input name="presupuesto" class="form-control" type="text" data-ng-model="inst.presupuesto" placeholder="Presupuesto asociado" required="" data-ng-change="cambiarModificado()">
							<span ng-show="!formInst.presupuesto.$pristine && formInst.presupuesto.$error.required" class="text-danger">Campo obligatorio.</span>
						</div>
							
						<div class="form-group has-feedback">
						    <label class="text-muted">Sistema</label>
							<div class="form-group has-feedback" data-ng-class="{'deshabilitar': buffer3}">
								<input type="text" name="sistema" autocomplete="off" data-ng-model="sistemaSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl}" required=""/>
							    <span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>								
								<ul id="listaSelect" data-ng-show="desplegarUl" class="blanco">
									<li>
										<div>
											<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" focus-on="focusMe">
											<i class="fa fa-search icono"></i>
										</div>
									</li>
									<li data-ng-repeat="sistema in sistemas | orderBy: 'nombre' | filter: filtro | limitTo: 4" class="indentado "><a data-ng-click="cambiarModificado();cambiarSistema(sistema)" class="noLink">{{sistema.nombre}}</a></li>
									<li class="indentado"><a href data-ng-click="masSistemas()">Mas...</a></li>
								</ul>
							</div>
							<span ng-show="formInst.sistema.$dirty" class="text-danger">Campo obligatorio.</span>
						</div>
						
						<div class="form-group has-feedback">
					        <div class="cargaAnexa text-center" data-ng-show="buffer3">
								<label class="text-muted">Cargando Sistemas:</label>
								<progressbar class="progress-striped active floatRight barraCarga" animate="true" max="100" value="progressValue3" type="success">
									<i>{{progressValue3}} %</i>
								</progressbar>
							</div>
					    </div>
								
						<div class="form-group has-feedback" data-ng-if="!nuevo">
							<div>
								<label class="text-muted">Inicio:</label>
							    <p class="input-group">
							    	<input type="text" class="form-control" ng-model="inst.inicio" data-ng-disabled="true"/>
									<span class="input-group-btn">
							        	<button type="button" class="btn btn-default" disabled="true"><i class="fa fa-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
										
						<div class="form-group" data-ng-if="inst.fin">
							<div>
								<label class="text-muted">Fin:</label>
								<p class="input-group">
							    	<input type="text" class="form-control" ng-model="inst.fin"data-ng-disabled="true"/>
									<span class="input-group-btn">
							        	<i class="fa fa-calendar"></i>
									</span>
								</p>
							</div>
						</div>
	        		</form>
				
					<div class="alignLeft">
					    <button class="btn btn-primary mt-lg" data-ng-disabled="formInst.$invalid || !formInst.$dirty" data-ng-click="add()">{{boton}}</button>
					    <button class="btn btn-danger mt-lg" data-ng-click="del(inst)" data-ng-if="inst.id">Eliminar</button>
						<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cerrar</button>
					</div>
					
					<div class="container-fluid">
						<div data-ng-if="errorFormIns">
							<br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorFormIns()" aria-hidden="true">×</button>
								{{errorFormIns}}
				        	</div>
				        </div>
				    </div>
				</div>
			</tab>
			
			<!----------------------------------- Pestaña de las Fases ----------------------------------->
			<tab data-ng-controller="InstalacionesFasesCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
				<tab-heading>Fases</tab-heading>
				<div>
					<!---------------------------------------- Formulario de fases de la instalación ---------------------------------------->
					<div class="panel panel-default" data-ng-show="mostrarForm">
						<form role="form" name="formFaseIns" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
					        
					        <h4>{{titulo}}</h4>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Nombre</label>
								<input type="text" name="nombre" placeholder="Nombre de la fase" ng-model="faseIns.nombre" class="form-control" required="" focus-on="mainFocus"/>
								<span ng-show="!formFaseIns.nombre.$pristine && formFaseIns.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Descripción</label>
						        <textarea name="descripcion" placeholder="Descripción corta" data-ng-model="faseIns.descripcion" class="form-control" cols="5"required=""></textarea>
						        <span ng-show="!formFaseIns.descripcion.$pristine && formFaseIns.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					            
							<div class="form-group has-feedback">
					            <label class="text-muted">Caducidad (En días)</label>
								<input type="number" min="0" name="caducidad" ng-model="faseIns.caducidad" class="form-control" placeholder="Duración de la fase en días" required="">
								<span ng-show="!formFaseIns.caducidad.$pristine && formFaseIns.caducidad.$error.required" class="text-danger">Campo obligatorio.</span>              
					        </div>
					        
					        <div class="form-group has-feedback">
						    	<label class="text-muted">Fase siguiente: </label>
								<select name="select" data-ng-options="fase.id as fase.nombre for fase in fasesIns" ng-model="faseSig" data-ng-required="siguiente" class="form-control">
							    	<option value data-ng-hide="!$pristine">Seleccione una Fase</option>
						    	</select>
						    </div>
						    
					    </form>
						
						<hr>
						
						<div class="pl-lg pr-lg">
							<label>Tareas de la fase
								<button data-ng-click="newTarea()" class="btn btn-xs btn-primary ml-sm">Añadir</button>
							</label>
							
							<div class="ml-lg mr-lg mb-sm" data-ng-show="mostrarTaskEdit">
								<label class="text-muted">Descripción de la Tarea</label>
																
								<button data-ng-click="addTarea(taskEdit)" class="btn btn-xs btn-success" data-ng-if="taskEdit">
									<em class="fa fa-check"></em>
								</button>
								<button data-ng-click="cancelTarea('')" class="btn btn-xs btn-warning" data-ng-if="taskEdit">
									<em class="fa fa-close"></em>
								</button>
								
								<input type="text" data-ng-model="taskEdit.descripcion" class="form-control">
							</div>
							
							<table class="table table-striped table-bordered" data-ng-show="tasks.length > 0">
								<tr>
									<th>Descripción</th>
									<th class="hidden-xs">Creación</th>
									<th>Editar</th>
								</tr>
								<tr data-ng-repeat="task in tasks | orderBy: '-timestamp'">
									<td class="p0">
										<input type="text" class="form-control" data-ng-model="task.descripcion" required="" data-ng-show="task.visible">
										<pre data-ng-hide="task.visible" class="sinColor ml-sm">{{task.descripcion}}</pre>
									</td>
									<td class="hidden-xs">{{task.timestamp}}</td>
									<td style="padding: 0px;">
										<button data-ng-click="editarTarea(task)" class="btn btn-sm btn-info" data-ng-if="!task.visible">
											<em class="fa fa-pencil"></em>
										</button>
										<button data-ng-click="eliminarTarea(task)" class="btn btn-sm btn-danger" data-ng-if="!task.visible">
											<em class="fa fa-trash"></em>
										</button>
										<button data-ng-click="addTarea(task)" class="btn btn-sm btn-success" data-ng-if="task.visible">
											<em class="fa fa-check"></em>
										</button>
										<button data-ng-click="cancelTarea(task)" class="btn btn-sm btn-warning" data-ng-if="task.visible">
											<em class="fa fa-close"></em>
										</button>
									</td>
								</tr>
							</table>
							
						</div>						
						
						<div class="alignLeft ml-lg mb-lg" data-ng-show="mostrarForm">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formFaseIns.$invalid" data-ng-click="addFaseInst()">{{boton}}</button>
						    <button class="btn btn-danger mt-lg" data-ng-click="delFaseIns(faseIns)" data-ng-if="faseIns.id">Eliminar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="resetFormFaseIns()" >Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorFormFaseIns">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearFormErrorFaseIns()" aria-hidden="true">×</button>
									{{errorFormFaseIns}}
						    	</div>
							</div>
						</div>
								    
					</div>
				    
				    <!---------------------------------------- Tabla de fases de la instalación ---------------------------------------->
					<h4 class="clearfix">
						<div data-ng-class="{'deshabilitar': buffer4}" class="floatRight centrado">
						    <button type="button" class="btn btn-success" data-ng-click="passFase()">Pasar Fase</button>
						    <button type="button" class="btn btn-warning" data-ng-click="backFase()">Retroceder Fase</button>
						    <button type="button" class="btn btn-primary" data-ng-click="newFase()" data-ng-disabled="mostrarForm">Nueva Fase</button>
						</div>
					</h4>
					
					<div data-ng-class="{'deshabilitar': buffer4}" ui-grid="gridFasesInstalacion" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
					
					<div class="container-fluid">
						<div data-ng-if="errorFasesIns">
							<br><br>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-ng-click="clearErrorFasesIns()" aria-hidden="true">×</button>
								{{errorFasesIns}}
				           	</div>
				       	</div>
				    </div>
				    
				</div>
			</tab>
			
			<!----------------------------------- Pestaña de las Pendientes ----------------------------------->
			<tab data-ng-controller="InstalacionesPendientesCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
				<tab-heading>Pendientes</tab-heading>
				<div>
					<!---------------------------------------- Formulario Pendientes ---------------------------------------->
					<div class="panel panel-default" data-ng-show="mostrarFormPenInst">
						<form role="form" name="formPenInst" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
					        
					        <h4>{{titulo}}</h4>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Referencia</label>
								<input type="text" name="referencia" ng-model="penInst.referencia" class="form-control"/>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Descripción</label>
						        <input type="text" name="descripcion" placeholder="Descripción del pendiente" ng-model="penInst.descripcion" class="form-control" required=""/>
								<span ng-show="!formPenInst.descripcion.$pristine && formPenInst.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback">
								<label class="text-muted">Tipo: </label>
								<select ng-model="penInst.tipo" value="" required="" data-ng-options="tipo.id as tipo.nombre for tipo in tiposPendiente" class="form-control">
									<option value="" data-ng-hide="!$pristine">Seleccione un Tipo</option>
								</select>
							</div>
					        
					        <div class="form-group has-feedback">
								<label class="text-muted">Estado: </label>
								<select ng-model="penInst.estado" value="" required="" class="form-control">
									<option value="ABIERTO">ABIERTO</option>
									<option value="CERRADO">CERRADO</option>
								</select>
							</div>
					        					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Instalación</label>
						        <input type="text" name="instalacion" ng-model="penInst.instalacion" class="form-control" readonly=""/>
					        </div>
					        
					        <div class="form-group has-feedback">
								<label class="text-muted">Notas</label>
								<input type="text" name="notas" placeholder="Notas sobre el pendiente" ng-model="penInst.notas" class="form-control"/>
							</div>
					        
					    </form>		
						
						<div class="alignLeft ml-lg mb-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formPenInst.$invalid" data-ng-click="add()" data-ng-show="!contacto.id">{{boton}}</button>
						    <button class="btn btn-danger mt-lg" data-ng-click="delPendiente()" data-ng-if="penInst.id">Eliminar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="resetFormPenInst()">Cancelar</button>
						</div>
						<div class="container-fluid">
							<div data-ng-if="errorFormPenInst">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorFormPenInst()" aria-hidden="true">×</button>
									{{errorFormPenInst}}
					        	</div>
					    	</div>
					    </div>
					</div>
					
					<!---------------------------------------- Tabla Pendientes ---------------------------------------->
					<div>
						<h4 class="clearfix">
							<div class="floatRight centrado">
								<button type="button" class="btn btn-primary margenDerecho" data-ng-click="newPenInst()" data-ng-disabled="mostrarFormPenInst">Añadir</button>
							</div>
						</h4>
						
						<div>
							<div data-ng-if="pendientesFinal" class="row">						
								<div ng-repeat="pendiente in pendientesFinal" class="col-sm-6 col-sm-12">
									<div class="panel" data-ng-class="{'panel-warning': pendiente.estado=='ABIERTO', 'panel-success': pendiente.estado=='CERRADO'}">
										<div class="panel-heading">Pendiente <span>{{pendiente.referencia}}</span><span class="buttonsCabecera"><button data-ng-click="editPendiente(pendiente)" title="Edit" class="btn btn-sm btn-info"><em class="fa fa-pencil"></em></button></span>
										</div>
										<div class="panel-body">
											<p>Referencia: {{pendiente.referencia}}.</p>
											<p>Descripción: {{pendiente.descripcion}}.</p>
											<p>Tipo: {{pendiente.tipo}}.</p>
											<p>Estado: {{pendiente.estado}}.</p>
											<p>Notas: {{pendiente.notas}}.</p>
										</div>	
									</div>									
								</div>
							</div>
							<div class="panel panel-danger" data-ng-if="!pendientesFinal">
								<div class="panel-heading">No hay Pendientes asociadas</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorPenInst">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorPenInst()" aria-hidden="true">×</button>
									{{errorPenInst}}
					        	</div>
					    	</div>
					    </div>
						
					</div>
					
				</div>
			</tab>
			
			<!----------------------------------- Pestaña de la Orden de Trabajo ----------------------------------->
			<tab data-ng-controller="InstalacionesOrdenTrabajoCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
				<tab-heading>Orden de Trabajo</tab-heading>
				<div>
					<!-- Formulario Materiales -->
					<div class="panel panel-default" data-ng-show="mostrarFormMaterialesInst">
						<form role="form" name="formMaterialInst" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
					        
					        <h4>{{tituloMateriales}}</h4>
					        
					        <div class="form-group has-feedback">
							    <label class="text-muted">Producto</label>
								<div class="form-group has-feedback">
									<input type="text" name="producto" autocomplete="off" data-ng-model="productoSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes': desplegarUl}" required=""/>
								    <span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>								
									<ul id="listaSelect" data-ng-show="desplegarUl" class="blanco">
										<li>
											<div>
												<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" focus-on="focusMe">
												<i class="fa fa-search icono"></i>
											</div>
										</li>
										<li data-ng-repeat="producto in productos | orderBy: ['familia','nombre'] | filter: {activo:true} | filter: filtrar | limitTo: 4" class="indentado">
											<a data-ng-click="cambiarProducto(producto)" class="noLink">{{producto.nombre}} - {{producto.descripcion}}</a>
										</li>
										<li class="indentado"><a href data-ng-click="masProductos()">Mas...</a></li>
									</ul>
								</div>
								<span ng-show="formMaterialInst.producto.$dirty" class="text-danger">Campo obligatorio.</span>
							</div>
							
							<div class="form-group has-feedback">
						        <label class="text-muted">Nombre</label>
						        <input type="text" min="1" name="nombre" placeholder="Coste del material" ng-model="material.nombre" class="form-control" required=""/>
						        <span ng-show="!formMaterialInst.nombre.$pristine && formMaterialInst.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Descripción</label>
						        <textarea name="descripcion" placeholder="Descripción corta" data-ng-model="material.descripcion" class="form-control" cols="5" required=""></textarea>
						        <span ng-show="!formMaterialInst.descripcion.$pristine && formMaterialInst.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Coste</label>
						        <input type="number" min="1" name="coste" placeholder="Coste del material" ng-model="material.coste" class="form-control" required=""/>
						        <span ng-show="!formMaterialInst.coste.$pristine && formMaterialInst.coste.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Horas</label>
						        <input type="number" min="0" name="horas" placeholder="Horas de instalación del material" ng-model="material.horas" class="form-control" required=""/>
						        <span ng-show="!formMaterialInst.horas.$pristine && formMaterialInst.horas.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback checkbox c-checkbox">             
								<label class="text-muted"><input type="checkbox" checked="" ng-model="material.configurar">
								<span class="fa fa-check"></span>¿Configurar?</label>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Configurando</label>
						        <input type="number" min="0" name="configurando" placeholder="Material en estado de configuración" ng-model="material.configurando" class="form-control" data-ng-readonly="!material.configurar"/>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Salidas</label>
						        <input type="number" min="0" name="salidas" placeholder="Material en bandeja de Salidas" ng-model="material.salidas" class="form-control"/>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Entregado</label>
						        <input type="number" min="0" name="entregado" placeholder="Material Entregado" ng-model="material.entregado" class="form-control"/>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Devuelto</label>
						        <input type="number" min="0" name="devuelto" placeholder="Material Devuelto" ng-model="material.devuelto" class="form-control"/>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Solicitado</label>
						        <input type="number" min="1" name="solicitado" placeholder="Material solicitado" ng-model="material.solicitado" class="form-control" focus-on="mainFocus"/>
					        </div>
					        
					        
						</form>
						
						<div class="alignLeft ml-lg mb-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formMaterialInst.$invalid" data-ng-click="addMaterial()" data-ng-show="!contacto.id">{{botonMateriales}}</button>
							<button class="btn btn-warning mt-lg" data-ng-click="resetFormMaterialesInst()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorFormMaterialesInst">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorFormMaterialesInst()" aria-hidden="true">×</button>
									{{errorFormMaterialesInst}}
					        	</div>
					    	</div>
					    </div>					    
					</div>
					
					<!-- Formulario Recursos -->
					<div class="panel panel-default" data-ng-show="mostrarFormRecursosInst">
						<form role="form" name="formRecursos" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
					        
					        <h4>{{tituloRecursos}}</h4>
					        
					        <div class="form-group has-feedback">
								<label class="text-muted">Nombre:</label>
								<input name="nombre" class="form-control" type="text" data-ng-model="recurso.nombre" placeholder="Nombre del Recurso" required="" focus-on="mainFocusRecursos" autofocus="">
								<span ng-show="!formRecursos.nombre.$pristine && formRecursos.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
							</div>
						
					        <div class="form-group has-feedback">
								<label class="text-muted">Descripción:</label>
								<input name="descripcion" class="form-control" type="text" data-ng-model="recurso.descripcion" placeholder="Descripción corta" required="">
								<span ng-show="!formRecursos.descripcion.$pristine && formRecursos.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
							</div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Coste</label>
						        <input type="number" min="1" name="coste" placeholder="Coste del Recurso" ng-model="recurso.coste" class="form-control" required=""/>
						        <span ng-show="!formRecursos.coste.$pristine && formRecursos.coste.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback">
						        <label class="text-muted">Unidades</label>
						        <input type="number" min="1" name="unidades" placeholder="Unidades del Recurso" ng-model="recurso.unidades" class="form-control" required=""/>
						        <span ng-show="!formRecursos.unidades.$pristine && formRecursos.unidades.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        
						</form>
						
						<div class="alignLeft ml-lg mb-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formRecursos.$invalid" data-ng-click="addRecurso()" data-ng-show="!contacto.id">{{botonRecursos}}</button>
						    <button class="btn btn-danger mt-lg" data-ng-click="delRecurso()" data-ng-if="recurso.id">Eliminar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="resetFormRecursosInst()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorFormRecursosInst">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorFormRecursosInst()" aria-hidden="true">×</button>
									{{errorFormRecursosInst}}
					        	</div>
					    	</div>
					    </div>					    
					</div>
					
					<!-- Tabla de Materiales -->
					<div class="panel panel-default">
						<h4 class="clearfix ml-lg mr-lg">
							Listado de Materiales
							<div class="col-sm-3 col-xs-6 text-center" data-ng-show="bufferMateriales">
								<p>Cargando datos:</p>
								<progressbar class="progress-striped active" animate="true" max="100" value="progressValueMateriales" type="success">
									<i>{{progressValueMateriales}} %</i>
								</progressbar>
							</div>
							<div data-ng-class="{'deshabilitar': bufferMateriales}" class="floatRight">
								<button type="button" class="btn btn-success" data-ng-click="crearPlantilla()">Guardar Plantilla</button>
								<button type="button" class="btn btn-primary" data-ng-click="mostrarFormMateriales()" data-ng-disabled="mostrarFormMaterialInst">Añadir</button>
							</div>
						</h4>
						
						<div class="form-group has-feedback pl-sm pr-sm">
							<button type="button" title="Recargar" class="btn btn-xs btn-success refreshPlantilla" data-ng-click="refreshPlantillas()"><em class="fa fa-refresh"></em></button>
							<button type="button" title="Borrar" class="btn btn-xs btn-danger eliminarPlantilla" data-ng-click="eliminarPlantilla(plantillaSel)" data-ng-disabled="plantillas.length == 0"><em class="fa fa-trash"></em></button>
							
							<select name="select" data-ng-options="plantilla.id as plantilla.nombre for plantilla in plantillas" ng-model="plantillaSel" class="form-control" data-ng-change="cambiarPlantilla(plantillaSel)" data-ng-disabled="plantillas.length == 0">
						    	<option value data-ng-hide="!$pristine">Seleccione una Plantilla</option>
							</select>
						</div>
						
						<div data-ng-class="{'deshabilitar': bufferMateriales}" ui-grid="gridMateriales" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-move-columns="" ui-grid-auto-resize="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamanoMateriales()+'px'}"></div>
						
						<span class="floatRight celda100 negrita">{{totalMateriales}} €</span><span class="floatRight mr-sm negrita">Total: </span><br>
						<span class="floatRight celda100 negrita">{{porcentajeMateriales}} %</span><span class="floatRight mr-sm negrita">% PVP: </span>
						
						<div class="leyenda">
							<P>
								&nbsp&nbsp&nbsp<i class="fa fa-circle text-success">&nbspCompleto.&nbsp&nbsp</i>
								&nbsp&nbsp&nbsp<i class="fa fa-circle text-warning">&nbspParcial.&nbsp&nbsp</i>
								&nbsp&nbsp&nbsp<i class="fa fa-circle text-danger">&nbspPendiente.</i><br>
								&nbsp&nbsp&nbsp<i class="fa fa-gears">&nbspConfigurando.</i>
								&nbsp&nbsp&nbsp<i class="fa fa-truck">&nbspSalidas.</i>
								&nbsp&nbsp&nbsp<i class="fa fa-home">&nbspEntregado.</i>
								&nbsp&nbsp&nbsp<i class="fa fa-close">&nbspDevuelto.</i>
								&nbsp&nbsp&nbsp<i class="fa fa-inbox">&nbspSolicitado.</i>
							</P>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorMaterialesInst">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorMaterialesInst()" aria-hidden="true">×</button>
									{{errorMaterialesInst}}
					        	</div>
					    	</div>
					    </div>
					</div>
					
					<!-- Tabla Recursos -->
					<div class="panel panel-default">
						<h4 class="clearfix ml-lg mr-lg">
							Listado de Recursos
							<div class="col-sm-3 col-xs-6 text-center" data-ng-show="bufferRecursos">
								<p>Cargando datos:</p>
								<progressbar class="progress-striped active" animate="true" max="100" value="progressValueRecursos" type="success">
									<i>{{progressValueRecursos}} %</i>
								</progressbar>
							</div>
							<div data-ng-class="{'deshabilitar': bufferRecursos}" class="floatRight">
								<button type="button" class="btn btn-primary" data-ng-click="mostrarFormRecursos()" data-ng-disabled="mostrarFormRecursosInst">Añadir</button>
							</div>
						</h4>
						<div data-ng-class="{'deshabilitar': bufferRecursos}" ui-grid="gridRecursos" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-move-columns="" ui-grid-auto-resize="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamanoRecursos()+'px'}"></div>
						
						<span class="floatRight celda100 negrita">{{totalRecursos}} €</span><span class="floatRight mr-sm negrita">Total: </span><br>
						<span class="floatRight celda100 negrita">{{porcentajeRecursos}} %</span><span class="floatRight mr-sm negrita">% PVP: </span>
						
						<div class="container-fluid">
							<div data-ng-if="errorRecursosInst">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorRecursosInst()" aria-hidden="true">×</button>
									{{errorRecursosInst}}
					        	</div>
					    	</div>
					    </div>
					
					</div>
					
				</div>
			</tab>
			
		</tabset>
	</div>
	
	<!----------------------------------- Tabla de Instalaciones ----------------------------------->
	
		<h4 class="clearfix">
			<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
				<p>Cargando datos:</p>
				<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
					<i>{{progressValue}} %</i>
				</progressbar>
			</div>
			<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
				<button type="button" class="btn btn-green botonLeft" data-ng-click="togleFiltros()" data-ng-disabled="mostrar" data-ng-class="{'active': filtrado}"><i class="fa" data-ng-class="{'fa-toggle-on': filtrado, 'fa-toggle-off': !filtrado}"></i></button>
				<button type="button" class="btn btn-green margenDerecho botonRight" data-ng-click="filtroAvanzado()" data-ng-disabled="mostrar">Configurar Filtro</button>
				<button type="button" class="btn btn-primary margenDerecho" data-ng-click="cambiarTabla()" data-ng-disabled="mostrar">Columnas</button>
				<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
			</div>
		</h4>
		
		<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridOptions" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-move-columns="" ui-grid-auto-resize="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
				
		<div class="leyenda">
			<P>
				&nbsp&nbsp&nbsp<i class="fa fa-circle text-success">&nbspFinalizada.&nbsp&nbsp</i>
				&nbsp&nbsp&nbsp<i class="fa fa-circle text-warning">&nbspEn curso.&nbsp&nbsp</i>
				&nbsp&nbsp&nbsp<i class="fa fa-circle text-danger">&nbspFase fuera de tiempo o con pendientes.</i>
			</P>
		</div>
	
		<div class="container-fluid">
			<div data-ng-if="currentError">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
					{{currentError}}
				</div>
			</div>
		</div>
	
</div>