<h3>LISTADO DE PENDIENTES</h3>
<div ng-controller="PendientesCntrl" class="container-fluid">
	<!----------------------------------- Panel del formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
		<form role="form" name="formPendientes" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">
			<h4>{{titulo}}</h4>
			
			<div class="form-group has-feedback" data-ng-if="pend.referencia">
				<label class="text-muted">Referencia</label>
				<input type="text" name="referencia" ng-model="pend.referencia" class="form-control blanco" readonly=""/>
			</div>
			
			<div class="form-group has-feedback">
				<label class="text-muted">Descripción</label>
				<input type="text" name="descripcion" placeholder="Descripción corta" ng-model="pend.descripcion" class="form-control" required="" focus-on="mainFocus"/>
				<span ng-show="!formPendientes.descripcion.$pristine && formPendientes.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
			</div>
			
			<div class="form-group has-feedback">
				<label class="text-muted">Tipo: </label>
				<select ng-model="pend.tipo" value="" required="" data-ng-options="tipo.id as tipo.nombre for tipo in tiposPendiente" class="form-control">
					<option value="" data-ng-hide="!$pristine">Seleccione un Tipo</option>
				</select>
			</div>
			
			<div class="form-group has-feedback">
				<label class="text-muted">Estado: </label>
				<select ng-model="pend.estado" value="" required class="form-control">
					<option value="ABIERTO">ABIERTO</option>
					<option value="CERRADO">CERRADO</option>
				</select>
			</div>
			
			<div class="form-group has-feedback">
				<label class="text-muted">Notas</label>
				<textarea name="notas" placeholder="Notas sobre el pendiente" ng-model="pend.notas" class="form-control"></textarea>
			</div>
			
			<div class="form-group has-feedback">
				<label class="text-muted">Instalación</label>
				<div class="form-group has-feedback" data-ng-class="{'deshabilitar': buffer2}">
					<input type="text" name="instalacion" autocomplete="off" data-ng-model="instalacionSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl}" required=""/>
					<span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>								
					<ul id="listaSelect" data-ng-show="desplegarUl" class="blanco">
						<li>
							<div>
								<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" focus-on="focusMe">
								<i class="fa fa-search icono"></i>
							</div>
						</li>
						<li data-ng-repeat="instalacion in instalacionesFinal | orderBy: 'descripcion' | filter: filtro | limitTo: 4" class="indentado "><a data-ng-click="cambiarInstalacion(instalacion)" class="noLink">{{instalacion.descripcion}}</a></li>
						<li class="indentado"><a href data-ng-click="masInstalaciones()">Mas...</a></li>
					</ul>
				</div>
				<span ng-show="formPendientes.instalacion.$dirty" class="text-danger">Campo obligatorio.</span>
			</div>
			
		</form>
		
		<div class="alignLeft ml-lg mb-lg">
		    <button class="btn btn-primary mt-lg" data-ng-disabled="formPendientes.$invalid" data-ng-click="add()">{{boton}}</button>
			<button class="btn btn-danger mt-lg" data-ng-click="delPend(pend)" data-ng-if="pend.id">Eliminar</button>
			<button class="btn btn-warning mt-lg" data-ng-click="resetformPend()">Cancelar</button>
		</div>
		
		<div class="container-fluid">
			<div data-ng-if="errorFormPend">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormPend()" aria-hidden="true">×</button>
					{{errorFormPend}}
		       	</div>
			</div>
		</div>
	</div>
	
	<!----------------------------------- Tabla de Pendientes ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="newPendiente()" data-ng-disabled="mostrar">Añadir</button>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridPendientes" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid"  ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="errorPendientes" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearErrorPendientes()" aria-hidden="true">×</button>
				{{errorPendientes}}
	    	</div>
		</div>
	</div>
</div>