<h3>LISTADO DE POBLACIONES</h3>
<div ng-controller="PoblacionesCntrl" class="container-fluid">
	<h4 data-ng-show="cargando">
		<div class="floatLeft">
			Cargando datos generales, espere.
		</div>
	    <div class="ball-pulse floatLeft">
	        <div></div>
	        <div></div>
	        <div></div>
	    </div>
	    <br><br>
	</h4>
	<div data-ng-hide="cargando">			
		<!----------------------------------- Panel del Formulario ----------------------------------->
		<div class="panel panel-default" data-ng-show="mostrar">
		    <form role="form" name="formPob" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
		    
		    	<h4>{{titulo}}</h4>
		    
		        <div class="form-group has-feedback">
		            <label class="text-muted">Poblacion</label>
		            <input type="text" name="poblacion" placeholder="Nombre población" autocomplete="off" ng-model="pobla.poblacion" required="" class="form-control" autofocus=""/>
		            <span ng-show="!formPob.poblacion.$pristine && formPob.poblacion.$error.required" class="text-danger">Campo obligatorio.</span>
		        </div>
		            
		        <div class="form-group has-feedback">
				    <label class="text-muted">Provincia</label>
					<div class="form-group has-feedback">
						<input type="text" name="provincia" autocomplete="off" data-ng-model="ciudadSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl}">
					    <span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>
						<ul id="listaSelect" data-ng-show="desplegarUl" class="blanco">
							<li>
								<div>
									<input type="text" name="filtro" autocomplete="off" data-ng-model="filtro" class="form-control" focus-on="focusMe">
									<i class="fa fa-search icono"></i>
								</div>
							</li>
							<li data-ng-repeat="provincia in provincias | orderBy: 'provinciaseo' | filter: filtro | limitTo: 4" class="indentado "><a data-ng-click="cambiarProvincia(provincia)" class="noLink">{{provincia.provincia}}</a></li>
							<li class="indentado"><a href data-ng-click="masProvincias()">Mas...</a></li>
						</ul>
					</div>
				</div>
		               
		        <div class="form-group has-feedback">
		            <label class="text-muted">C.P.</label>
		            <input type="number" name="cp" placeholder="Código Postal" ng-model="pobla.postal" ng-pattern="/^[0-9]{5}$/" required="" class="form-control" />
		            <span ng-show="!formPob.cp.$pristine && formPob.cp.$error.required" class="text-danger">Campo obligatorio.</span>
		            <span ng-show="!formPob.cp.$pristine && formPob.cp.$error.pattern" class="text-danger">El CP deben ser 5 dígitos.</span>
		        </div>
		            
		        <div class="form-group has-feedback">
					<label class="text-muted">Latitud</label>
		            <input type="number" name="latitud" placeholder="Latitud" ng-model="pobla.latitud" class="form-control" required=""/>
		            <span class="fa fa-globe form-control-feedback text-muted"></span>
		            <span ng-show="!formPob.latitud.$pristine && formPob.latitud.$error.required" class="text-danger">Campo obligatorio.</span>
		        </div>
		           
		        <div class="form-group has-feedback">
		            <label class="text-muted">Longitud</label>
		            <input type="number" name="longitud" placeholder="Longitud" ng-model="pobla.longitud" class="form-control" required=""/>
		            <span class="fa fa-globe form-control-feedback text-muted"></span>
		            <span ng-show="!formPob.longitud.$pristine && formPob.longitud.$error.required" class="text-danger">Campo obligatorio.</span>
		        </div>
		        
		    </form>
			
			<div class="floatLeft mb-lg ml-lg">
		    	<button class="btn btn-primary mt-lg" data-ng-disabled="formPob.$invalid" data-ng-click="add()">{{boton}}</button>
		    	<button class="btn btn-danger mt-lg" data-ng-click="delPob(pobla.idpoblacion)" data-ng-if="pobla.idpoblacion">Eliminar</button>
				<button class="btn btn-warning mt-lg" data-ng-click="resetFormPob()">Cancelar</button>
		    </div>
		        
			<div class="container-fluid">
				<div data-ng-if="errorFormPob">
					<br><br>
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-ng-click="clearErrorFormPob()" aria-hidden="true">×</button>
						{{errorFormPob}}
	            	</div>
	        	</div>
	    	</div>
	    		
		</div>
		
		<!----------------------------------- Tabla de sistemas ----------------------------------->
		<h4 class="clearfix">
			<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
				<p>Cargando datos...</p>
			</div>
			<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
			    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="remove()">Eliminar Seleccionados</button>
			</div>
		</h4>
		
		<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridOptionsComplex" ui-grid-pagination="" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
		
		<div class="container-fluid">			
			<div data-ng-if="currentError">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
					{{currentError}}
	        	</div>
	    	</div>
	    </div>
	
	</div>
</div>