<h3>PRESUPUESTOS</h3>
<div ng-controller="PresupuestosCntrl" class="container-fluid">
	<h4 data-ng-show="copiando">
		<div class="floatLeft">
			Copiando presupuesto, espere.
		</div>
	    <div class="ball-pulse floatLeft">
	        <div></div>
	        <div></div>
	        <div></div>
	    </div>
	    <br><br>
	</h4>
	
	<!----------------------------------- Panel del Formulario de aceptacion ----------------------------------->
	
	<div class="panel panel-default" data-ng-show="mostrarFormAceptacion">
	    <div class="fondoOscurecido porEncima" data-ng-show="uploading">
			<div class="centradoVertical">
				<h4 class="textoBlanco centrado bloque ml-lg mr-lg">Subiendo archivos:</h4>
				<progressbar class="progress-striped active mb0" animate="true" max="100" value="progressUpload" type="success">
					<i>{{progressUpload}} %</i>
				</progressbar>
			</div>
	    </div>
	    <div data-ng-class="{'deshabilitar': uploading}">
		    <h4 class="centrado mb-lg">{{tituloAceptacion}}</h4>
		    <tabset justified="true">
				<!----------------------------------- Pestaña del Formulario ----------------------------------->
				<tab active="mostrarFormAceptacion" data-ng-controller="PresupuestosAceptacionFormCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<form role="form" name="formAceptacion" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
						    
						    <div class="form-group has-feedback">
					        	<label class="text-muted">Precio Final</label>
								<input type="number" name="precioFinal" ng-model="aceptacion.precioFinal" class="form-control blanco" readonly=""/>
					        </div>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Descuento</label>
								<input type="number" name="precioDescuento" ng-model="aceptacion.precioDescuento" class="form-control blanco" readonly=""/>
					        </div>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Descripción de la instalación</label>
								<input type="text" name="descripcion" placeholder="Descripción de la instalación" ng-model="aceptacion.descripcion" class="form-control" required="" focus-on="mainFocus"/>
								<span ng-show="!formAceptacion.descripcion.$pristine && formAceptacion.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback">
						    	<label class="text-muted">Forma de pago: </label>
								<select name="select" ng-model="aceptacion.formaPagoInst" class="form-control">
							    	<option value data-ng-hide="!$pristine">Seleccione forma de pago</option>
							    	<option value="RENTING">Renting</option>
							    	<option value="CONTADO">Al contado</option>
						    	</select>
					        </div>
					        
					        <div class="form-group has-feedback">
					        	<label class="text-muted">Términos y condiciones</label>
								<input type="text" name="condiciones" placeholder="Términos y condiciones de la instalación" ng-model="aceptacion.condiciones" class="form-control" required=""/>
								<span ng-show="!formAceptacion.condiciones.$pristine && formAceptacion.condiciones.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
					        
					        <div class="form-group has-feedback alignLeft">
							    <label class="text-muted">Observaciones</label>
								<textarea name="observaciones" placeholder="Observaciones de la aceptacion" data-ng-model="aceptacion.observaciones" class="form-control" cols="5"></textarea>
								<span ng-show="!formAceptacion.observaciones.$pristine && formAceptacion.observaciones.$error.required" class="text-danger">Campo obligatorio.</span>
							</div>								
					    </form>
						
						<div class="mr-lg ml-lg">
							<h4 class="bloque">Subir archivos</h4>
	
					        <!-- <button ngf-select="uploadFiles($files)" multiple accept="image/*">Select Files</button> -->
					        <button class="btn" ngf-select="uploadFiles($files)" multiple>Seleccionar Archivos</button>
					        <br>
					        <h5 class="mt-sm" data-ng-if="files.length != 0">Archivos adjuntados al presupuesto:</h5>
					        <table class="table" data-ng-if="files.length != 0">
						        <tr>
							        <th>Archivo</th>
							        <th>Descripción</th>
							        <th></th>
						        </tr>
						        <tr data-ng-repeat="file in files">
							        <td>{{file.file.name}}</td>
							        <td><input type="text" name="descripcion" placeholder="Descripción corta del archivo" ng-model="file.descripcion"/></td>
							        <td class="celdaBoton">
								        <button data-ng-click="eliminarArchivo(file)" class="btn btn-sm btn-danger"><em class="fa fa-trash"></em></button>
								    </td>
						        </tr>
					        </table>
					        
					        
					        <span class="red" data-ng-if="errorMsg">{{errorMsg}}</span>
						</div>
						
						<div class="alignLeft mb-lg ml-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formAceptacion.$invalid" data-ng-click="aceptarPresupuesto()">Aceptar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorFormAceptacion">
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorFormAceptacion()" aria-hidden="true">×</button>
									{{errorFormAceptacion}}
					        	</div>
					    	</div>
					    </div>
		    
					</div>
				</tab>
				
				<!----------------------------------- Pestaña del Renting ----------------------------------->
				<tab data-ng-controller="PresupuestosAceptacionRentingCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<form role="form" name="formAceptacionRenting" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
							
							<div class="form-group has-feedback">
								<label class="text-muted">Duración</label>
							    <input type="number" name="plazoRenting" ng-model="aceptacionRenting.plazoRenting" class="form-control blanco" readonly=""/>
						    </div>
						    
						    <div class="form-group has-feedback">
								<label class="text-muted">Importe (mensual)</label>
							    <input type="number" name="cuotaRenting" ng-model="aceptacionRenting.cuotaRenting" class="form-control blanco" readonly=""/>
						    </div>
						    
						    <div class="form-group has-feedback">
								<label class="text-muted">Observaciones</label>
							    <textarea name="observacionesRenting" placeholder="Observaciones del renting" data-ng-model="aceptacionRenting.observacionesRenting" class="form-control" cols="5" focus-on="mainFocus"></textarea>
							    <span ng-show="!formAceptacionRenting.observacionesRenting.$pristine && formAceptacionRenting.observacionesRenting.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						</form>
						
						<div class="alignLeft mb-lg ml-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formAceptacionRenting.$invalid" data-ng-click="aceptar()">Aceptar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="enviado">
								<div class="alert alert-success alert-dismissable">
									{{enviado}}
					           	</div>
					        </div>
					    </div>
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Servicios ----------------------------------->
				<tab data-ng-controller="PresupuestosAceptacionServiciosCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<form role="form" name="formAceptacionServicios" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
							
							<div class="form-group has-feedback">
							    <label class="text-muted">Servicios incluidos</label>
							    <textarea name="servicios" placeholder="Servicios del sistema" data-ng-model="aceptacionServicios.servicios" class="form-control" cols="5" required="" focus-on="mainFocus"></textarea>
							    <span ng-show="!formAceptacionServicios.servicios.$pristine && formAceptacionServicios.servicios.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
								<label class="text-muted">Coste</label>
							    <input type="number" min="0" name="costeServicio" placeholder="Coste del servicio contratado" ng-model="aceptacionServicios.costeServicio" class="form-control" required=""/>
							    <span ng-show="!formAceptacionServicios.costeServicio.$pristine && formAceptacionServicios.costeServicio.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
							    <label class="text-muted">Forma de pago</label>
							    <textarea name="formaPagoSer" placeholder="Forma de pago de los servicios" data-ng-model="aceptacionServicios.formaPagoSer" class="form-control" cols="5" required=""></textarea>
							    <span ng-show="!formAceptacionServicios.formaPagoSer.$pristine && formAceptacionServicios.formaPagoSer.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
							    <label class="text-muted">Tipo de pago</label>
							    <textarea name="tipoPagoSer" placeholder="Tipo de pago de los servicios" data-ng-model="aceptacionServicios.tipoPagoSer" class="form-control" cols="5" required=""></textarea>
							    <span ng-show="!formAceptacionServicios.tipoPagoSer.$pristine && formAceptacionServicios.tipoPagoSer.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						    <div class="form-group has-feedback">
							    <label class="text-muted">Observaciones</label>
							    <textarea name="observacionesSer" placeholder="Observaciones de los servicios" data-ng-model="aceptacionServicios.observacionesSer" class="form-control" cols="5"></textarea>
							    <span ng-show="!formAceptacionServicios.observacionesSer.$pristine && formAceptacionServicios.observacionesSer.$error.required" class="text-danger">Campo obligatorio.</span>
						    </div>
						    
						</form>
										        
						<div class="alignLeft mb-lg ml-lg">
						    <button class="btn btn-primary mt-lg" data-ng-disabled="formAceptacionServicios.$invalid" data-ng-click="aceptar()">Aceptar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="enviado">
								
								<div class="alert alert-success alert-dismissable">
									{{enviado}}
					           	</div>
					        </div>
					    </div>
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Contactos ----------------------------------->
				<tab data-ng-controller="PresupuestosAceptacionContactosCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
						<!----------------------------------- Formulario de contactos ----------------------------------->
						<div class="panel panel-default" data-ng-show="mostrarFormCon">
							<form role="form" name="formCon" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
							    
							    <h4>{{titulo}}</h4>
							    
						        <div class="form-group has-feedback">
						        	<label class="text-muted">Nombre</label>
									<input type="text" name="nombre" placeholder="Nombre del contacto" ng-model="contacto.nombre" class="form-control" required="" focus-on="mainFocus"/>
									<span ng-show="!formCon.nombre.$pristine && formCon.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
						        </div>
							        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Apellidos</label>
							        <input type="text" name="apellidos" placeholder="Apellidos del contacto" ng-model="contacto.apellidos" class="form-control" required=""/>
							    	<span ng-show="!formCon.apellidos.$pristine && formCon.apellidos.$error.required" class="text-danger">Campo obligatorio.</span>
						        </div>
						        
						        <div class="form-group has-feedback">
							    	<label class="text-muted">Tipo: </label>
									<select name="select" ng-model="contacto.tipo">
								    	<option value data-ng-hide="!$pristine">Seleccione tipo de contacto</option>
								    	<option value="TECNICO">Técnico</option>
								    	<option value="ADMINISTRATIVO">Administrativo</option>
							    	</select>
						        </div>
						       
						        <div class="form-group has-feedback">
							        <label class="text-muted">Teléfono</label>
							        <input type="text" name="telefono" pattern="^[9|8]\d{8}$" placeholder="Teléfono del contacto" ng-model="contacto.telefono" class="form-control" required=""/>
									<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.required" class="text-danger">Campo obligatorio.</span>
									<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.pattern" class="text-danger">Inserte un número de teléfono fijo válido. Ej: 916553265.</span>
						        </div>
							        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Móvil</label>
							        <input type="text" name="movil" pattern="^[7|6]\d{8}$" placeholder="Teléfono móvil del contacto" ng-model="contacto.movil" class="form-control"/>
							        <span ng-show="!formCon.movil.$pristine && formCon.movil.$error.pattern" class="text-danger">Inserte un número de teléfono móvil válido. Ej: 661359768.</span>
						        </div>
											        
						        <div class="form-group has-feedback">
							        <label class="text-muted">E-mail</label>
							        <input type="email" name="correo" placeholder="E-mail del contacto" ng-model="contacto.correo" class="form-control"/>
						        </div>
						        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Notas</label>
									<input type="text" name="notas" placeholder="Notas referentes al contacto" ng-model="contacto.notas" class="form-control"/>
						        </div>
									        
						    </form>	
									    	
							<div class="alignLeft ml-lg mb-lg">
							    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="confirm(true)" data-ng-if="!contacto.id">{{botonForm}}</button>
							    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="editarContacto()" data-ng-if="contacto.id">{{botonForm}}</button>
								<button class="btn btn-warning mt-lg" data-ng-click="resetFormCon()">Cancelar</button>
							</div>
							
							<div class="container-fluid">
								<div data-ng-if="errorFormCon">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorformCon()" aria-hidden="true">×</button>
										{{errorFormCon}}
							    	</div>
								</div>
							</div>
									    
						</div>
						
						<!----------------------------------- Tabla de contactos de la Aceptación ----------------------------------->
						<div class="panel panel-dark panel-flat">
							<h4 class="clearfix">
								<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer4">
									<p>Cargando datos...</p>
								</div>
								<div data-ng-class="{'deshabilitar': buffer4}" class="alignRight centrado">
								    <button type="button" class="btn btn-primary margenDerecho floatRight" data-ng-click="abrirTabla()">Añadir contactos</button>						</div>
							</h4>
							<div data-ng-class="{'deshabilitar': buffer2}" ui-grid="gridConAc" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
						</div>
						<div class="alignLeft mb-lg ml-lg">
							<button class="btn btn-primary mt-lg" data-ng-click="aceptar()">Aceptar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cancelar</button>
						</div>
						<div class="container-fluid">
							<div data-ng-if="enviado">
								
								<div class="alert alert-success alert-dismissable">
									{{enviado}}
					           	</div>
					        </div>
					    </div>
						<div class="container-fluid">
							<div data-ng-if="errorConAc">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorConAc()" aria-hidden="true">×</button>
									{{errorConAc}}
					           	</div>
					        </div>
					    </div>
					    
					</div>
				</tab>
		    </tabset>	 
	    </div>   
	</div>
	
	<!----------------------------------- Panel del Formulario de presupuesto ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
		<div class="mb-lg mr-lg ml-lg">	            

		    <button class="alignLeft mt btn btn-success btn-lg" data-ng-click="confirmarPresupuesto()" data-ng-if="presupuesto.borrador">CONFIRMAR</button>
		    
		    <button class="alignLeft mt btn btn-success btn-lg" data-ng-click="abrirAceptarPresupuesto(presupuesto)" data-ng-if="!presupuesto.borrador" data-ng-show="!presupuesto.aceptado">ACEPTACIÓN</button>

	        <h4 class="bordesRedondos fondoOscuro centrado pb-sm">
		        {{titulo}}
		        		<span data-ng-if="presupuesto.borrador"> - BORRADOR</span>
		        		<span data-ng-if="!presupuesto.borrador && !presupuesto.aceptado"> - CONFIRMADO</span>
		        		<span data-ng-if="presupuesto.aceptado"> - ACEPTADO</span>
		    </h4>
	        
	        <div class="row m0">
		        <div class="col-sm-6 col-sm-12 m0 p0">
			        <div class="bordesRedondos mr-xs pl alto">
				        <h5 class="centrado">EMPRESA</h5>
				        <p class="mb-sm"><label>NOMBRE:</label>&nbspAltatec S.L</p>
				        <p class="mb-sm"><label>DIRECCIÓN:</label>&nbspAv. de la Vía Láctea, 2-4, 28830 San Fernando de Henares, Madrid</p>
				        <p class="mb-sm"><label>TELÉFONO:</label>&nbsp916 78 33 15</p>
				        <p class="mb-sm"><label>EMAIL:</label>&nbspinfo@altatec-seguridad.com</p>
			        </div>
		        </div>
		        
		        <div class="col-sm-6 col-sm-12 m0 p0">
			        <div class="bordesRedondos ml-xs pl alto">
				        <div class="mt-xl mr-lg" data-ng-hide="cliente">
					        
					        <input type="text" name="cliente" autocomplete="off" data-ng-model="clienteSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl, 'deshabilitar': buffer2}">
							<span class="fa form-control-feedback text-muted mt-xl mr-lg" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>
							<ul id="listaSelect" data-ng-show="desplegarUl" class="blanco">
								<li>
									<div>
										<input type="text" name="filtro" data-ng-model="filtro" class="form-control" focus-on="focusMe">
										<i class="fa fa-search icono"></i>
									</div>
								</li>
								<li data-ng-repeat="cliente in clientes | orderBy: 'id' | filter: filtro | limitTo: 4" class="indentado "><a data-ng-click="cambiarCliente(cliente)" class="noLink">{{cliente.nombre}}</a></li>
								<li class="indentado"><a href data-ng-click="masClientes()">Mas...</a></li>
							</ul>
							<br>
							<div data-ng-if="buffer2">
								<p>Cargando datos:</p>
								<progressbar class="progress-striped active" animate="true" max="100" value="progressValue2" type="success">
									<i>{{progressValue2}} %</i>
								</progressbar>
							</div>
						</div>
								
				        <div data-ng-show="cliente">
					        <button type="button" data-ng-click="quitarCliente()" title="Edit" class="btn btn-sm btn-info floatRight mr" data-ng-if="presupuesto.borrador"><em class="fa fa-pencil"></em></button>
					        <h5 class="centrado">CLIENTE</h5>
					        <p class="mb-sm">
						        <label>NOMBRE:</label>&nbsp{{cliente.nombre}}
					        </p>
					        <p class="mb-sm">
						        <label>DIRECCIÓN:</label>&nbsp{{cliente.direccion}}
					        </p>
					        <p class="mb-sm">
						        <label>TELÉFONO:</label>&nbsp{{cliente.telefono}}
					        </p>
					        <p class="mb-sm">
						        <label>EMAIL:</label>&nbsp{{cliente.email}}
					        </p>
				        </div>
			        </div>
		        </div>
	        </div>
	        
	        <div class="bordesRedondos pt-sm mt-sm" data-ng-if="presupuesto.referencia">
	        	<label class="ml-lg">Nº PRESUPUESTO: {{presupuesto.referencia}}.</label>
	        	<label class="mr-lg floatRight">FECHA: {{presupuesto.fecha}}.</label>
	        </div>
	        
	        <div class="bordesRedondos m0 mt-sm p-sm">
		        <button type="button" data-ng-click="addProducto()" title="Edit" class="btn btn-sm btn-info alignLeft mt0 mb-sm" data-ng-if="presupuesto.borrador">Añadir productos   <em class="fa fa-plus"></em></button>
		        
		        <div ui-grid="gridProductosPresupuesto" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano2()+'px'}"></div>
		        		            
				<div class="alignRight">
					<table class="bloque">
						<tr data-ng-if="presupuesto.descuento">
							<td class="textoTabla textoRight">SUB TOTAL:</td>
						    <td class="textoTabla textoRight pl">{{presupuesto.subTotal}} €</td>
						</tr>
						<tr data-ng-if="presupuesto.descuento">
							<td class="textoTabla textoRight">DESCUENTO:</td>
						    <td class="textoTabla textoRight pl">{{presupuesto.precioDescuento}} €</td>
						</tr>
						
						<tr>
							<td class="textoTabla textoRight">SUMA:</td>
						    <td class="textoTabla textoRight pl">{{presupuesto.base}} €</td>
						</tr>
						<tr>
						    <td class="textoTabla textoRight">{{impuesto}}% IVA</td>
						    <td class="textoTabla textoRight pl">{{iva}} €</td>
						</tr>
						<tr>
						    <td class="textoTabla textoRight">TOTAL PRESUPUESTO:</td>
						    <td class="textoTabla textoRight pl">{{presupuesto.total}} €</td>
						</tr>
						<tr data-ng-if="presupuesto.financiado">
						    <td class="textoTabla textoRight">CUOTA FINACIACIÓN MENSUAL:</td>
						    <td class="textoTabla textoRight pl">{{presupuesto.cuota}} €</td>
						</tr>
					</table>
				</div>
				<div class="form-group has-feedback alignLeft">
				    <label class="text-muted">Descripción de la Instalación</label>
					<textarea name="descripcion" placeholder="Descripción del Presupuesto" data-ng-model="presupuesto.descripcion" class="form-control blanco" cols="5" data-ng-disabled="!presupuesto.borrador"></textarea>              
				</div>
					
				<div class="form-group has-feedback alignLeft">
				    <label class="text-muted">Observaciones</label>
					<textarea name="observaciones" placeholder="Observaciones del presupuesto" data-ng-model="presupuesto.observaciones" class="form-control blanco" cols="5" data-ng-disabled="!presupuesto.borrador"></textarea>              
				</div>
					
				<div class="form-group has-feedback alignLeft">
				    <span class="mr-sm"><label class="text-muted">¿mostrar observaciones?</label></span>
					<input type="checkbox" name="mostrarObservaciones" data-ng-model="presupuesto.mostrarObservaciones"/>
				</div>
				
				<div class="form-group has-feedback alignLeft">
			        <span class="margenDerecho"><label class="text-muted">¿Financiado?</label></span>
					<input type="checkbox" name="financiado" data-ng-model="presupuesto.financiado" data-ng-click="valoresFinanciacion()" data-ng-disabled="!presupuesto.borrador"/>
					<div class="mt-sm" data-ng-if="presupuesto.financiado">
			        	<label class="text-muted ml-sm" data-ng-if="!errorFinanciero">Mensualidades: </label>
						<select name="select" data-ng-options="valor.nombre for valor in valoresFinancieros | orderBy: 'plazo'" data-ng-model="valores" data-ng-change="calcularFinanciacion(valores)" data-ng-if="!errorFinanciero">
					    	<option value data-ng-hide="!$pristine">Seleccione un plazo</option>
				    	</select>
						<span class="red negrita" data-ng-if="errorFinanciero">{{errorFinanciero}}</span>
					</div>
						
					<div class="form-group has-feedback" data-ng-if="presupuesto.financiado">
					    <label class="text-muted">Observaciones</label>
						<textarea name="observaciones" placeholder="Observaciones del Renting" data-ng-model="presupuesto.observacionesRenting" class="form-control" cols="5"></textarea>              
					</div>
						        
				</div>
									
				<div class="form-group has-feedback alignLeft">
				    <span class="margenDerecho"><label class="text-muted">¿Descuento?</label></span>
					<input type="checkbox" name="descuento" data-ng-model="presupuesto.descuento" data-ng-disabled="!presupuesto.borrador" data-ng-change="calcularTotal()"/>
					
					<div class="mt-sm" data-ng-if="presupuesto.descuento">
						<form role="form" name="formDescuento" novalidate="" class="form-validate mb-lg ml-lg">
							<div class="form-group has-feedback">
						        <label class="text-muted">Precio del descuento</label>
								<input type="number" name="precio" min="1" ng-model="presupuesto.precioDescuento" class="form-control" placeholder="Precio del descuento a aplicar al presupuesto" data-ng-change="calcularTotal()" required="">
								<span ng-show="!formDescuento.precio.$pristine && formDescuento.precio.$error.required" class="text-danger">Campo obligatorio.</span>             
					        </div>
							
							<span class="margenDerecho"><label class="text-muted">¿mostrar?</label></span>
							<input type="checkbox" name="mostrarDescuento" data-ng-model="presupuesto.mostrarDescuento"/>
							
						</form>
					</div>
				</div>
		        
		        <div class="orm-group has-feedback alignLeft mb0">
			        <label class="text-muted">Términos y Condiciones</label>
					<textarea name="condiciones" placeholder="Términos y Condiciones del Presupuesto" data-ng-model="presupuesto.condiciones" class="form-control" cols="5" required=""></textarea>
			        <span ng-show="!formPresupuestos.condiciones.$pristine && formPresupuestos.condiciones.$error.required" class="text-danger">Campo obligatorio.</span>              
		        </div>
	        </div>	        
	    </div>
	    	
		<div class="alignLeft mb-lg ml-lg">
		    <button class="btn btn-primary" data-ng-click="add()" data-ng-if="presupuesto.borrador">{{boton}}</button>
			<button class="btn btn-danger" data-ng-click="delPresupuesto(presupuesto)" data-ng-if="presupuesto.borrador">Eliminar</button>
			<button class="btn btn-success" data-ng-click="imprimir(presupuesto, impuesto, cliente, gridProductosPresupuesto, iva)" data-ng-if="presupuesto.id">Imprimir</button>
			<button class="btn btn-warning" data-ng-click="resetFormPresupuestos()">Cancelar</button>
		</div>
		
		<div class="container-fluid ml-lg mr-lg">
			<div data-ng-if="errorFormPresupuestos">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormPresupuestos()" aria-hidden="true">×</button>
					{{errorFormPresupuestos}}
	        	</div>
	    	</div>
	    </div>
	</div>
	
	<!----------------------------------- Tabla de presupuestos ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		</div>
	</h4>
	
	<div class="container-fluid">
		<div data-ng-if="aceptado">
			<div class="alert alert-success alert-dismissable">
				{{aceptado}}
	    	</div>
	    </div>
	</div>
				    
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridPresupuestos" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="errorPresupuestos" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearErrorPresupuestos()" aria-hidden="true">×</button>
				{{errorPresupuestos}}
			</div>
		</div>
	</div>
</div>