<h3>PRODUCTOS</h3>
<div ng-controller="ProductosCntrl" class="container-fluid">
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
		<form role="form" name="formProd" novalidate="" class="form-validate mb-lg mr-lg ml-lg">	            
		        
	        <h4>{{titulo}}</h4>
	        
	        <div class="form-group has-feedback" data-ng-if="producto.referencia">
	        	<label class="text-muted">Referencia</label>
				<input type="text" name="nomnbre" ng-model="producto.referencia" class="form-control blanco" readonly=""/>
	        </div>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Nombre</label>
				<input type="text" name="nomnbre" placeholder="Nombre del Producto" ng-model="producto.nombre" class="form-control" required="" focus-on="mainFocus"/>
				<span ng-show="!formProd.nomnbre.$pristine && formProd.nomnbre.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Descripción</label>
		        <textarea name="descripcion" placeholder="Descripción corta" data-ng-model="producto.descripcion" class="form-control" cols="5"></textarea>
	        </div>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Fabricante</label>
				<input type="text" name="fabricante" placeholder="Fabricante del Producto" ng-model="producto.fabricante" class="form-control"/>
	        </div>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Proveedor</label>
				<input type="text" name="proveedor" placeholder="Proveedor del Producto" ng-model="producto.proveedor" class="form-control"/>
	        </div>
	        
			<div class="form-group has-feedback">
		        <label class="text-muted">Coste €</label>
				<input type="number" min="0.000" step="0.001" name="coste" ng-model="producto.coste" class="form-control" placeholder="Coste del Producto" required="">
				<span ng-show="!formProd.coste.$pristine && formProd.coste.$error.required" class="text-danger">Campo obligatorio.</span>              
	        </div>
	        
	        <div class="form-group has-feedback">
		        <label class="text-muted">Horas</label>
				<input type="number" min="0.000" step="0.25" name="horas" ng-model="producto.horas" class="form-control" placeholder="Horas de montaje por un técnico" required="">
				<span ng-show="!formProd.horas.$pristine && formProd.horas.$error.required" class="text-danger">Campo obligatorio.</span>              
	        </div>
	        
	        <div class="form-group has-feedback checkbox c-checkbox">             
				<label class="text-muted"><input type="checkbox" checked="" ng-model="producto.configurar">
				<span class="fa fa-check"></span>¿Configurar?</label>
	        </div>
	        
	        <div class="form-group has-feedback checkbox c-checkbox">             
				<label class="text-muted"><input type="checkbox" checked="" ng-model="producto.activo">
				<span class="fa fa-check"></span>¿Activo?</label>
			</div>
	        
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Familia</label>
				<select ng-model="producto.familia" value="" required="" data-ng-options="fam.id as fam.nombre2 for fam in familias" class="form-control">
					<option value="" data-ng-hide="!$pristine">Seleccione una Familia</option>
				</select>
	        </div>
	        
	    </form>
	    	
		<div class="alignLeft mb-lg ml-lg">
		    <button class="btn btn-primary" data-ng-disabled="formProd.$invalid" data-ng-click="add()">{{boton}}</button>
			<button class="btn btn-danger" data-ng-click="delProducto(producto)" data-ng-if="producto.id">Eliminar</button>
			<button class="btn btn-warning" data-ng-click="resetFormProd()">Cancelar</button>
		</div>
		
		<div class="container-fluid">
			<div data-ng-if="errorFormProd">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormProd()" aria-hidden="true">×</button>
					{{errorFormProd}}
	        	</div>
	    	</div>
	    </div>
	    
	</div>
	
	<!----------------------------------- Productos ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
			<button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridProductos" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="errorProd" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearErrorProd()" aria-hidden="true">×</button>
				{{errorProd}}
			</div>
		</div>
	</div>
	
</div>