<h3>LISTADO DE PROVINCIAS</h3>
<div ng-controller="ProvinciasCntrl" class="container-fluid">	
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
        <form role="form" name="formProv" novalidate="" class="form-validate mb-lg ml-lg mr-lg">
		         
		    <h4>{{titulo}}</h4>
		         
	        <div class="form-group has-feedback">
	            <label class="text-muted">Provincia</label>
	            <input type="text" name="provincia" placeholder="Nombre población" autocomplete="off" ng-model="prov.provincia" required="" class="form-control" autofocus=""/>
	            <span ng-show="!formProv.provincia.$pristine && formProv.provincia.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	            
	        <div class="form-group has-feedback">
	        	<label class="text-muted">Siglas provinciales</label>
	        	<input type="text" name="siglas" placeholder="Siglas de la provincia" autocomplete="off" ng-model="prov.provincia3" ng-pattern="/^[A-Z]{3}$/" required="" class="form-control" />
	        	<span ng-show="!formProv.siglas.$pristine && formProv.siglas.$error.required" class="text-danger">Campo obligatorio.</span>
	        	<span ng-show="!formProv.siglas.$pristine && formProv.siglas.$error.pattern" class="text-danger">Las siglas son 3 Mayúsculas.</span>
	        </div>
	        
	    </form>
	
		<div class="floatLeft mb-lg ml-lg">
	    	<button class="btn btn-primary mt-lg" data-ng-disabled="formProv.$invalid" data-ng-click="add()">{{boton}}</button>
	    	<button class="btn btn-danger mt-lg" data-ng-click="delProv(prov.idprovincia)" data-ng-if="prov.idprovincia">Eliminar</button>
			<button class="btn btn-warning mt-lg" data-ng-click="resetFormProv()">Cancelar</button>
	    </div>		
		
		<div class="container-fluid">
			<div>
				<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
					{{currentError}}
            	</div>
        	</div>
    	</div>	
	
	</div>
	
	<!----------------------------------- Tabla de sistemas ----------------------------------->
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" class="alignRight mb-lg">
	    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
	    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="remove()">Eliminar Seleccionados</button>
	</div>
		
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridOptionsComplex" ui-grid-pagination="" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div>
			<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
				{{currentError}}
           	</div>
       	</div>
    </div>
    
</div>