<h3>LISTADO DE SERVICIOS</h3>
<div ng-controller="ServiciosCntrl" class="container-fluid">	
	<!----------------------------------- Panel del Formulario ----------------------------------->
	<div class="panel panel-default" data-ng-show="mostrar">
	    <form role="form" name="formSer" novalidate="" class="form-validate mb-lg mr-lg ml-lg">
	            
			<h4>{{titulo}}</h4>
	            
	        <div class="form-group has-feedback">
	            <label class="text-muted">Nombre</label>
	            <input type="text" name="nombre" placeholder="Nombre del servicio" autocomplete="off" ng-model="ser.nombre" required="" class="form-control" />
	            <span ng-show="!formSer.nombre.$pristine && formSer.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	            
	        <div class="form-group has-feedback clear">
	            <label class="text-muted">Descripción</label>
	            <input type="text" name="descripcion" placeholder="Descripción del servicio" autocomplete="off" ng-model="ser.descripcion" required="" class="form-control" />
	            <span ng-show="!formSer.descripcion.$pristine && formSer.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
	        </div>
	            
	    </form>
	    
	    <div class="alignLeft ml-lg mb-lg">
	    	<button class="btn btn-primary mt-lg" data-ng-disabled="formSer.$invalid" data-ng-click="add()">{{boton}}</button>
	    	<button class="btn btn-danger mt-lg" data-ng-click="delSer(ser.id)" data-ng-if="ser.id">Eliminar</button>
			<button class="btn btn-warning mt-lg" data-ng-click="resetFormSer()">Cancelar</button>
	    </div>
	        
		<div class="container-fluid">
			<div data-ng-if="errorFormSer">
				<br><br>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearErrorFormSer()" aria-hidden="true">×</button>
					{{errorFormSer}}
            	</div>
        	</div>
    	</div>
    		
	</div>
	
	<!----------------------------------- Tabla de Servicios ----------------------------------->
	
	<h4 class="clearfix">
		<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
			<p>Cargando datos:</p>
			<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
				<i>{{progressValue}} %</i>
			</progressbar>
		</div>
		<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
		    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
		    <button type="button" class="btn btn-primary margenDerecho" data-ng-click="remove()">Eliminar Seleccionados</button>
		</div>
	</h4>
	
	<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridOptionsComplex" ui-grid-pagination="" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
	
	<div class="container-fluid">
		<div data-ng-if="currentError">
			<br><br>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
				{{currentError}}
           	</div>
       	</div>
    </div>
    
</div>