<h3>LISTADO DE SISTEMAS</h3>
<div ng-controller="SistemasCntrl" class="container-fluid">
	<h4 data-ng-show="cargando">
		<div class="floatLeft">
			Cargando datos generales, espere.
		</div>
	    <div class="ball-pulse floatLeft">
	        <div></div>
	        <div></div>
	        <div></div>
	    </div>
	    <br><br>
	</h4>
	<div data-ng-hide="cargando">	
		<div class="panel panel-default noBorderTop" data-ng-show="mostrar">
			<tabset justified="true">
				<!----------------------------------- Pestaña del Formulario ----------------------------------->
				<tab active="mostrar" data-ng-controller="SistemasFormCntrl">
					<tab-heading>{{titulo}}</tab-heading>
					<div>
			        	<form role="form" name="formSis" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg" unsaved-warning-form>
				            
				            <div class="form-group has-feedback" data-ng-show="sis.referencia">
				               <label class="text-muted">Referencia </label>
				               <input type="text" ng-model="sis.referencia" class="form-control blanco" data-ng-disabled="true" data-ng-change="cambiarModificado()"/>
				            </div>
					            
				            <div class="form-group has-feedback">
					        	<label class="text-muted">Tipo cliente: </label>
								<select ng-model="sis.tipoCliente" value="" required="" data-ng-options="tipo.id as tipo.nombre for tipo in tiposCliente" class="form-control" data-ng-change="cambiarModificado()">
						        	<option value="" data-ng-hide="!$pristine">Seleccione un Tipo</option>
					        	</select>
					        	<span ng-show="!formSis.tipoCliente.$pristine && formSis.tipoCliente.$error.required" class="text-danger">Campo obligatorio.</span>
					        </div>
						            
				            <div class="form-group has-feedback">
				               <label class="text-muted">Nombre</label>
				               <input type="text" name="nombre" placeholder="Nombre del sistema" autocomplete="off" ng-model="sis.nombre" required="" class="form-control" autofocus="" data-ng-change="cambiarModificado()"/>
				               <span ng-show="!formSis.nombre.$pristine && formSis.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
				            </div>
				            <div class="form-group has-feedback">
				               <label class="text-muted">Dirección</label>
				               <input type="text" name="direccion" placeholder="Dirección del sistema" autocomplete="off" ng-model="sis.direccion" required="" class="form-control" data-ng-change="cambiarModificado()"/>
				               <span ng-show="!formSis.sistema.$pristine && formSis.sistema.$error.required" class="text-danger">Campo obligatorio.</span>
				            </div>
					            
				            <div class="form-group has-feedback">
				            	<label class="text-muted">CP</label>
				            	<input type="text" name="cp" placeholder="Código postal del sistema" autocomplete="off" ng-model="sis.cp" ng-pattern="/^[0-9]{4,5}$/" required="" class="form-control" data-ng-change="cambiarModificado()"/>
				            	<span ng-show="!formSis.cp.$pristine && formSis.cp.$error.required" class="text-danger">Campo obligatorio.</span>
				            	<span ng-show="!formSis.cp.$pristine && formSis.cp.$error.pattern" class="text-danger">El CP son 4 ó 5 dígitos.</span>
				            </div>
						            
							<div class="form-group has-feedback">
						        <label class="text-muted">Población</label>
				
								<div class="form-group has-feedback">
									<input type="text" name="poblacion" autocomplete="off" data-ng-model="ciudadSel" class="form-control blanco" readonly="" data-ng-click="desplegar()" data-ng-class="{'sinBordes':desplegarUl}">
								    <span class="fa form-control-feedback text-muted" data-ng-class="{'fa-caret-square-o-down': !desplegarUl, 'fa-caret-square-o-up': desplegarUl}"></span>
									<ul id="listaSelect" data-ng-show="desplegarUl" class="blanco">
										<li>
											<div>
												<input type="text" name="filtro" data-ng-model="filtro" class="form-control" focus-on="focusMe" data-ng-change="quitarDirty()">
												<i class="fa fa-search icono"></i>
											</div>
										</li>
										<li data-ng-repeat="poblacion in poblaciones | orderBy: 'poblacionseo' | filter: {poblacion: filtro} | limitTo: 4" class="indentado "><a data-ng-click="cambiarPoblacion(poblacion)" class="noLink">{{poblacion.poblacion}}</a></li>
										<li class="indentado"><a href data-ng-click="masPoblaciones()">Mas...</a></li>
									</ul>
								</div>
							</div>
						            
				            <div class="form-group has-feedback clear">
				               <label class="text-muted">Anotaciones</label>
				               <input type="text" name="anotaciones" placeholder="Anotaciones del sistema" autocomplete="off" ng-model="sis.anotaciones" class="form-control" data-ng-change="cambiarModificado()"/>
				               <span ng-show="!formSis.anotaciones.$pristine && formSis.anotaciones.$error.required" class="text-danger">Campo obligatorio.</span>
				            </div>
					            
				            <div class="form-group has-feedback clear">
								<span class="ml-sm"><label class="text-muted">¿Activo?</label></span>
								<input type="checkbox" name="activo" data-ng-model="sis.activo" data-ng-change="cambiarModificado()"/>
			            	</div>
			        	</form>
			        	
			        	<div class="alignLeft ml-lg mb-lg">
				           	<button class="btn btn-primary mt-lg" data-ng-disabled="formSis.$invalid || !formSis.$dirty" data-ng-click="add()">{{boton}}</button>
				           	<button class="btn btn-danger mt-lg" data-ng-if="sis.id" data-ng-click="delSis(sis.id)">Eliminar</button>
							<button class="btn btn-warning mt-lg" data-ng-click="cerrar()">Cerrar</button>
				        </div>

						<div class="container-fluid">
							<div data-ng-if="errorFormSistemas">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorFormSistemas()" aria-hidden="true">×</button>
									{{errorFormSistemas}}
					        	</div>
					    	</div>
					    </div>
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Contactos ----------------------------------->
				<tab data-ng-controller="SistemasConCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
					<tab-heading>Contactos</tab-heading>
					<div>
						<!----------------------------------- Formulario de contactos ----------------------------------->
						<div class="panel panel-default" data-ng-show="mostrarFormConPropio">
							<form role="form" name="formCon" novalidate="" class="form-validate mb-lg mt-lg mr-lg ml-lg">	            
							    
							    <h4>{{titulo}}</h4>
							    
						        <div class="form-group has-feedback">
						        	<label class="text-muted">Nombre</label>
									<input type="text" name="nombre" placeholder="Nombre del contacto" ng-model="contacto.nombre" class="form-control" required="" focus-on="mainFocus"/>
									<span ng-show="!formCon.nombre.$pristine && formCon.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
						        </div>
							        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Apellidos</label>
							        <input type="text" name="apellidos" placeholder="Apellidos del contacto" ng-model="contacto.apellidos" class="form-control"/>
						        </div>
						        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Teléfono</label>
							        <input type="text" name="telefono" pattern="^[9|8]\d{8}$" placeholder="Teléfono del contacto" ng-model="contacto.telefono" class="form-control" required=""/>
									<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.required" class="text-danger">Campo obligatorio.</span>
									<span ng-show="!formCon.telefono.$pristine && formCon.telefono.$error.pattern" class="text-danger">Inserte un número de teléfono fijo válido. Ej: 916553265.</span>
						        </div>
							        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Móvil</label>
							        <input type="text" name="movil" pattern="^[7|6]\d{8}$" placeholder="Teléfono móvil del contacto" ng-model="contacto.movil" class="form-control"/>
							        <span ng-show="!formCon.movil.$pristine && formCon.movil.$error.pattern" class="text-danger">Inserte un número de teléfono móvil válido. Ej: 661359768.</span>
						        </div>
							        
						        <div class="form-group has-feedback">
							        <label class="text-muted">E-mail</label>
							        <input type="email" name="correo" placeholder="E-mail del contacto" ng-model="contacto.correo" class="form-control"/>
						        </div>
						        
						        <div class="form-group has-feedback">
							        <label class="text-muted">Notas</label>
							        <input type="text" name="notas" placeholder="Notas referentes al contacto" ng-model="contacto.notas" class="form-control"/>
						        </div>
						        
						    </form>	
						    	
							<div class="alignLeft ml-lg mb-lg">				
								<button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="editarContacto()" data-ng-show="contacto.id">Modificar</button>
							    <button class="btn btn-primary mt-lg" data-ng-disabled="formCon.$invalid" data-ng-click="addCon()" data-ng-show="!contacto.id">Añadir</button>
								<button class="btn btn-warning mt-lg" data-ng-click="resetFormConPropio()">Cancelar</button>
							</div>
							
							<div class="container-fluid">
								<div data-ng-if="errorFormCon">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorformCon()" aria-hidden="true">×</button>
										{{errorFormCon}}
						        	</div>
						    	</div>
						    </div>
						    
						</div>
												
						<!----------------------------------- Tabla de contactos del Sistema ----------------------------------->
						<div class="panel panel-dark panel-flat">
							<h4 class="clearfix">
								<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer4">
									<p>Cargando datos...</p>
								</div>
								<div data-ng-class="{'deshabilitar': buffer4}" class="alignRight centrado">
								    <button type="button" class="btn btn-primary ml-sm floatRight" data-ng-click="abrirTabla()">Añadir contactos</button>
								</div>
							</h4>
							<div data-ng-if="mostrar">
								<div data-ng-class="{'deshabilitar': buffer2}" ui-grid="gridConSis" ui-grid-pagination="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-move-columns="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
							</div>
						</div>
						<div class="container-fluid">
							<div data-ng-if="errorConSis">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorConSis()" aria-hidden="true">×</button>
									{{errorConSis}}
					           	</div>
					        </div>
					    </div>
					    
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Elementos ----------------------------------->
				
				<tab data-ng-controller="SistemasElemCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
					<tab-heading>Configuración</tab-heading>
					<div>
						<div class="row ml-sm mr-sm">
							<!--------------- Árbol de elementos --------------->
							<div>
								<h5 class="clearfix">
									<div data-ng-show="buffer3">
										<div class="floatLeft">Cargando datos </div>
										<div class="ball-pulse floatLeft">
									        <div></div>
									        <div></div>
									        <div></div>
									    </div>
									</div>
									<div class="alignLeft centrado" data-ng-show="!buffer3">
										<button class="btn btn-warning" data-ng-click="guardarCambios()" data-ng-if="cambios>0 && elementos[0].nodes.length > 0">Guardar Cambios</button>
									</div>
								</h5>
								
								<!-- Árbol de elementos -->
								<script type="text/ng-template" id="nodes_renderer.html">
									<div ui-tree-handle class="tree-node tree-node-content arbolMin">
										<a class="blue" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
											<span class="fa" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
										</a>
										
										{{node.title}}<span data-ng-if="node.id == 0 && node.nodes.length == 0">&nbsp&nbsp-&nbsp&nbspNo hay elementos añadidos al sistema</span>
										
										<a title="Eliminar" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="eliminarElem(this)" data-ng-if="node.id != 0">
											<span class="fa fa-trash"></span>
										</a>
										
										<a title="Añadir" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="abrirForm(this)" data-ng-class="{'mr-sm':node.id != 0}">
											<span class="fa fa-plus"></span>
										</a>
										
										<a title="Info" class="pull-right btn btn-success btn-xs mr-sm" data-nodrag ng-click="informacion(this)" data-ng-if="node.id != 0">
											<span class="fa fa-info-circle"></span>
										</a>
										
										<a title="Copiar" class="pull-right btn btn-success btn-xs mr-sm" data-nodrag ng-click="duplicar(this)" data-ng-if="node.id != 0">
											<span class="fa fa-copy"></span>
										</a>
										
										<a title="Configuración" class="pull-right btn btn-success btn-xs mr-sm" data-nodrag ng-click="abrirConf(this)" data-ng-if="!(node.id == 0 && node.nodes.length == 0)">
											<span class="fa fa-sitemap"></span>
										</a>
									</div>
									<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
										<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
									</ol>
								</script>
								
								<div ui-tree class="mb-lg"  data-ng-show="!buffer3">
									<ol ui-tree-nodes="" ng-model="elementos" id="tree-root">
								    	<li ng-repeat="node in elementos" ui-tree-node ng-include="'nodes_renderer.html'"></li>
									</ol>
								</div>
							
							</div>
							    
							<div class="container-fluid clear">
								<div data-ng-if="errorElemSis">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorElemSis()" aria-hidden="true">×</button>
										{{errorElemSis}}
							    	</div>
							    </div>
							</div>
							
						</div>
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Contratos ----------------------------------->
				
				<tab data-ng-controller="SistemasContratoCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
					<tab-heading>Contratos</tab-heading>
					<div>
						<div class="panel panel-default mr ml mt-lg" data-ng-show="editando">
							<div class="row ml-sm">
								<h4 class="ml-lg">{{titulo}}</h4>
								<div class="panel-body col-sm-6 col-sm-12">
									<form role="form" name="formConSis" novalidate="" class="form-validate mb-lg">
										
										<div class="form-group has-feedback">
											<label class="text-muted">Referencia</label>
											<input type="text" name="referencia" ng-model="contratoSistema.ref" required="" class="form-control" readonly=""/>
					        			</div>
					           
							            <div class="form-group has-feedback clear">
							               <label class="text-muted">Descripción</label>
							               <input type="text" name="descripcion" placeholder="Descripción del contrato" autocomplete="off" ng-model="contratoSistema.descripcion" required="" class="form-control" focus-on="mainFocusForm"/>
							               <span ng-show="!formConSis.descripcion.$pristine && formConSis.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
							            </div>
					            
								        <div class="form-group has-feedback">
									        <label class="text-muted">Sistema</label>
											<input type="text" name="sistema" data-ng-model="sistemaSel" class="form-control" readonly="">
										</div>
																	            
								        <div class="form-group has-feedback">
											<label class="text-muted">Presupuesto asociado</label><button data-ng-click="abrirPresupuestos()" class="btn btn-xs btn-info ml-sm"><em class="fa icon-list"></em></button>
											<input type="text" name="presupuesto" ng-model="contratoSistema.presupuesto" required="" class="form-control" autocomplete="off" required=""/>
											<span ng-show="!formConSis.presupuesto.$pristine && formConSis.presupuesto.$error.required" class="text-danger">Campo obligatorio.</span>
						    			</div>
										
										<div class="form-group has-feedback clear">
							               <label class="text-muted">Inicio</label>
							               <input type="date" name="inicio" placeholder="YYYY-MM-dd" autocomplete="off" ng-model="contratoSistema.inicio" required="" class="form-control" step="1"/>
							               <span ng-show="!formConSis.inicio.$pristine && formConSis.inicio.$error.required" class="text-danger">Campo obligatorio.</span>
							            </div>
								            
							            <div class="form-group has-feedback clear">
								        	<label class="text-muted">Renovación (meses)</label>
								            <input type="number" name="renovacion" placeholder="Renovación automática del contrato" autocomplete="off" ng-model="contratoSistema.renovacion" min="1" required="" class="form-control" />
								            <span ng-show="!formConSis.renovacion.$pristine && formConSis.renovacion.$error.required" class="text-danger">Campo obligatorio.</span>
								        </div>
								
										<div class="form-group has-feedback clear">
								            <label class="text-muted">Caduca</label>
								            <input type="date" name="caduca" placeholder="YYYY-MM-dd" autocomplete="off" ng-model="contratoSistema.caduca" required="" class="form-control" step="1" min="2015-01-01"/>
								            <span ng-show="!formConSis.caduca.$pristine && formConSis.caduca.$error.required" class="text-danger">Campo obligatorio.</span>
								        </div>
								            
								        <div class="form-group has-feedback clear">
								            <span class="ml-sm"><label class="text-muted">¿Bloqueado?</label></span>
								            <input type="checkbox" name="bloqueado" data-ng-model="contratoSistema.bloqueado"/>
								        </div>
								            
								        <div class="form-group has-feedback clear">
								            <label class="text-muted">Mensaje</label>
								            <input type="text" name="mensaje" placeholder="Mensaje del contrato" autocomplete="off" ng-model="contratoSistema.mensaje" class="form-control" />
								        </div>
								        
					        		</form>
								</div>
					    		<div class="panel-body col-sm-6 col-sm-12">
						    		<label class="text-muted">Servicios</label>
							    	<ul>
								    	<li ng-repeat="servicio in serviciosTotal | orderBy: 'nombre'" class="listaSin">
								    		<input type="checkbox" data-ng-model="servicio.asignado"/><span class="margenIzdo">{{servicio.nombre}}</span>
								    	</li>
									</ul>
					    		</div>
					    	</div>		
					    	
					    	<div class="alignLeft celar ml-lg mb-lg">
								<button class="btn btn-primary mt-lg" data-ng-disabled="formConSis.$invalid" data-ng-click="add()">{{boton}}</button>
								<button class="btn btn-danger mt-lg" data-ng-click="delContratoSistema(contratoSistema.id)">Eliminar</button>
								<button class="btn btn-warning mt-lg" data-ng-click="resetformConSis()">Cancelar</button>
							</div>
							        
					    	<div class="container-fluid clear">
								<div data-ng-if="errorformConSis">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorFormConSis()" aria-hidden="true">×</button>
										{{errorformConSis}}
									</div>
								</div>
							</div>
						</div>
				    	
						<h4 class="clearfix">
							<div class="floatRight centrado">
								<button type="button" class="btn btn-primary ml-sm" data-ng-click="newConSis()" data-ng-disabled="editando">Añadir</button>
							</div>
						</h4>
						
						<div>
							<div data-ng-if="contratosFinal">
								<div ng-repeat="contrato in contratosFinal" class="panel" data-ng-class="{'panel-success': !contrato.bloqueado && !contrato.caducado, 'panel-warning': contrato.caducado, 'panel-danger': contrato.bloqueado}">
									<div class="panel-heading">Contrato <span>{{contrato.ref}}</span><span data-ng-if="contrato.caducado"> --- CADUCADO</span><span data-ng-if="contrato.bloqueado"> --- BLOQUEADO</span><span class="buttonsCabecera"><button data-ng-click="editarContSis(contrato)" title="Edit" class="btn btn-sm btn-info"><em class="fa fa-pencil" data-ng-disabled="editando"></em></button></span></div>
											
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-6 col-sm-12">
												<p>Referencia: {{contrato.ref}}.</p>
												<p>Descripción: {{contrato.descripcion}}.</p>
												<p>Inicio: {{contrato.inicio}}.</p>
												<p>Renovación: {{contrato.renovacion}}.</p>
												<p>Caduca: {{contrato.caduca}}.</p>
												<p>Presupuesto: {{contrato.presupuesto}}.</p>
												<p class="red" data-ng-show="contrato.mensaje">**{{contrato.mensaje}}</p>
											</div>
											<div class="col-sm-6 col-sm-12">
												<label>Servicios</label>
												<ul>
													<li ng-repeat="servicio in serviciosContratos | filter: {id_contrato: contrato.id}" class="listaSin">
														{{servicio.nombre}}
													</li>
												</ul>
											</div>
										</div>
									</div>										
								</div>
							</div>
							<div class="panel panel-danger" data-ng-if="!contratosFinal">
								<div class="panel-heading">No hay contrato asociado</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorFormSistemas">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorFormSistemas()" aria-hidden="true">×</button>
									{{errorContratoSistemas}}
					        	</div>
					    	</div>
					    </div>

					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Instalaciones ----------------------------------->
				
				<tab active="recall" data-ng-controller="SistemasInstCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
					<tab-heading>Instalaciones</tab-heading>
					<div>
						<div class="panel panel-default" data-ng-show="nuevaInst">
							<form role="form" name="formInstSis" novalidate="" class="form-validate mb-lg mr-lg ml-lg mt-lg">
				            	
				            	<h4>{{titulo}}</h4>
				            	
				            	<div class="form-group has-feedback">
									<label class="text-muted">Referencia</label>
									<input type="text" name="referencia" ng-model="instSis.referencia" required="" class="form-control" readonly=""/>
				            	</div>
				            
				                <div class="form-group has-feedback clear">
							        <label class="text-muted">Descripción</label>
							        <input type="text" name="descripcion" placeholder="Descripción de la Instalación" autocomplete="off" ng-model="instSis.descripcion" required="" class="form-control" focus-on="mainFocusForm"/>
							        <span ng-show="!formInstSis.descripcion.$pristine && formInstSis.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
							    </div>
				            
							    <div class="form-group has-feedback">
							        <label class="text-muted">Sistema</label>
									<input type="text" name="sistema" data-ng-model="instSis.sistema" class="form-control" readonly="">
								</div>
								  
							    <div class="form-group has-feedback">
									<label class="text-muted">Presupuesto asociado</label><button data-ng-click="abrirPresupuestos()" class="btn btn-xs btn-info ml-sm"><em class="fa icon-list"></em></button>
									<input type="text" name="presupuesto" ng-model="instSis.presupuesto" class="form-control" autocomplete="off" required=""/>
									<span ng-show="!formInstSis.presupuesto.$pristine && formInstSis.formInstSis.$error.required" class="text-danger">Campo obligatorio.</span>
				            	</div>
							    
				        	</form>
				    		
				    		<div class="alignLeft ml-lg mb-lg">
								<button class="btn btn-primary mt-lg" data-ng-disabled="formInstSis.$invalid" data-ng-click="add()">Añadir</button>
								<button class="btn btn-warning mt-lg" data-ng-click="resetFormInstSis()">Cancelar</button>
							</div>
							    
				    		<div class="container-fluid clear">
								<div data-ng-if="errorFormInstSis">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorFormInstSis()" aria-hidden="true">×</button>
										{{errorFormInstSis}}
						           	</div>
						       	</div>
						    </div>
				    	</div>
				    	
						<h4 class="clearfix">
							<div class="floatRight centrado">
								<button type="button" class="btn btn-primary ml-sm" data-ng-click="newInstSis()" data-ng-disabled="nuevaInst">Añadir</button>
							</div>
						</h4>
						
						<div>
							<div data-ng-if="instalacionesFinal">						
								<div ng-repeat="instalacion in instalacionesFinal" class="col-sm-6 col-sm-12">
									<div class="panel p0" data-ng-class="{'panel-warning': comprobarInstSis(instalacion)==0, 'panel-danger': comprobarInstSis(instalacion)==1, 'panel-success': comprobarInstSis(instalacion)==2}">
										<div class="panel-heading"><span>Instalación: {{instalacion.referencia}}</span><span class="buttonsCabecera"><button data-ng-click="irInst(instalacion)" title="Edit" class="btn btn-sm btn-info"><em class="fa fa-pencil"></em></button></span>
										</div>
										<div class="panel-body" style="height: auto;">
											<p><label class="negrita">Referencia:&nbsp&nbsp</label>{{instalacion.referencia}}.</p>
											<p><label class="negrita">Descripción:&nbsp&nbsp</label>{{instalacion.descripcion}}.</p>
											<p><label class="negrita">Sistema:&nbsp&nbsp</label>{{instalacion.sistema}}.</p>
											<p><label class="negrita">Inicio:&nbsp&nbsp</label>{{instalacion.inicio}}.</p>
											<p><label class="negrita">Presupuesto:&nbsp&nbsp</label>{{instalacion.presupuesto}}.</p>
											<p><label class="negrita">Fase actual:&nbsp&nbsp</label>{{instalacion.faseActual}}.</p>
											<div data-ng-if="instalacion.tareas.length > 0">
												<label class="negrita">Tareas Fase actual:</label>
												<p data-ng-repeat="tarea in instalacion.tareas">&nbsp&nbsp&nbsp-&nbsp{{tarea.descripcion}}.</p>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="panel panel-danger" data-ng-if="!instalacionesFinal">
								<div class="panel-heading">No hay Instalaciones asociadas</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorInstSis">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorInstSis()" aria-hidden="true">×</button>
									{{errorInstSis}}
					        	</div>
					    	</div>
					    </div>
						
					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Incidencias ----------------------------------->
				
				<tab active="recall" data-ng-controller="SistemasInciCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
					<tab-heading>Incidencias</tab-heading>
					<div>
						<div class="panel panel-default" data-ng-show="nuevaInci">
							<form role="form" name="formInciSis" novalidate="" class="form-validate mb-lg mr-lg ml-lg mt-lg">
								
								<h4>{{titulo}}</h4>
								
								<h4 data-ng-if="inci.id" data-ng-show="!mostrarContrato">
									<div class="floatLeft">
										Cargando datos del contrato, espere.
									</div>
								    <div class="ball-pulse floatLeft">
								        <div></div>
								        <div></div>
								        <div></div>
								    </div>
								    <br><br>
								</h4>
																
					            <div class="form-group has-feedback" data-ng-show="mostrarContrato">
						            
						            <div class="panel" data-ng-class="{'panel-success': !contrato.bloqueado && !contrato.caducado, 'panel-warning': contrato.caducado, 'panel-danger': contrato.bloqueado}" data-ng-if="contrato">
							            
							        	<div class="panel-heading">Contrato <span data-ng-click="contratoCompleto(contrato.id)">{{contrato.ref}}</span><span data-ng-if="contrato.caducado"> --- CADUCADO</span><span data-ng-if="contrato.bloqueado"> --- BLOQUEADO</span></div>
							        	
										<div class="panel-body">
							            	<div>
								            	<p>Descripción: {{contrato.descripcion}}.</p>
												<p>Servicios: {{contrato.servicios}}.</p>
												<p class="red" data-ng-show="contrato.mensaje">**{{contrato.mensaje}}</p>
							            	</div>
							            	<br>
											<div class="row">		
									            <div class="col-sm-6 col-sm-12">	
									            	<div class="panel panel-info" data-ng-if="llavesContrato">
														<div class="panel-heading"><i class="fa fa-key"></i> Llaves</div>
														<div class="panel-body" data-ng-repeat="llave in llavesContrato">
															<p>Referencia: {{llave.referencia}}</p>
															<p>Nombre: {{llave.nombre}}</p>
															<p>Ubicación: {{llave.ubicacion}}</p>
														</div>
													</div>
									            </div>
									            
												<div class="col-sm-6 col-sm-12">
									            	<div data-ng-if="contactos" class="panel panel-warning">
									            		<div class="panel-heading"><i class="fa fa-phone"></i> Contactos</div>
									            		<div class="panel-body" data-ng-repeat="contacto in contactos | orderBy: 'nombre'">
													    	{{contacto.cuerpo}}<br>
													    	Notas: {{contacto.notas}}
									            		</div>
									            	</div>
												</div>
								        	</div>
										</div>
							    	</div>
							    	
							    	<div class="panel panel-danger" data-ng-if="!contrato">
							        	<div class="panel-heading">No hay contrato asociado</div>
							    	</div>
					            </div>
			            
								<div class="form-group has-feedback">
					            	<label class="text-muted">Tipo: </label>
									<select ng-model="inciSis.tipo" value="" required="" data-ng-options="tipo.id as tipo.nombre for tipo in tiposIncidencia" data-ng-change="registro(inciSis.tipo)">
										<option value="" data-ng-hide="!$pristine">Seleccione un Tipo</option>
									</select>
					            	<label class="margenIzdo text-muted">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp¿Registro policial?&nbsp</label>
						            <input type="checkbox" data-ng-model="inciSis.registro_policia"/>
					            </div>
				            	
								<div class="form-group has-feedback">
							        <label class="text-muted">Sistema</label>
									<input type="text" name="sistema" data-ng-model="inciSis.sistema" class="form-control" readonly="">
								</div>
							    
							    <div class="form-group has-feedback">
					            	<label class="text-muted">Status: </label>
									<select ng-model="status" value="" required data-ng-disabled="status==3">
						            	<option value="" data-ng-hide="!$pristine">Seleccione un Status</option>
										<option value="1">ABIERTA</option>
										<option value="2">PENDIENTE</option>
										<option value="3">CERRADA</option>
					            	</select>
					            </div>
				            	
				            	<div class="form-group has-feedback">
									<label class="text-muted">Avisa</label>
									<input type="text" name="avisa" ng-model="inciSis.avisa" class="form-control" autocomplete="off" required=""/>
									<span ng-show="!formIncitSis.avisa.$pristine && formIncitSis.avisa.$error.required" class="text-danger">Campo obligatorio.</span>
				            	</div>
				            	
								<div class="form-group has-feedback">
					            	<label class="text-muted">Concepto</label>
									<input type="text" name="concepto" placeholder="Concepto" ng-model="inciSis.concepto" class="form-control" required=""/>
									<span ng-show="!formInci.concepto.$pristine && formInci.concepto.$error.required" class="text-danger">Campo obligatorio.</span>
					            </div>
					            				            
					            <div class="form-group has-feedback">
					            	<label class="text-muted">Técnico</label>
									<input type="text" name="tecnico" placeholder="Técnico" ng-model="inciSis.tecnico" class="form-control" required=""/>
									<span ng-show="!formIncitSis.tecnico.$pristine && formIncitSis.tecnico.$error.required" class="text-danger">Campo obligatorio.</span>
					            </div>
					            
					            <div class="form-group has-feedback">
						            <label class="text-muted">Descripción</label>
						            <textarea name="descripcion" placeholder="Descripción corta" data-ng-model="inciSis.descripcion" class="form-control" cols="5" required=""></textarea>
						            <span ng-show="!formIncitSis.descripcion.$pristine && formIncitSis.descripcion.$error.required" class="text-danger">Campo obligatorio.</span>
					            </div>
					            
					            <div class="form-group has-feedback">
						        	<label class="margenIzdo text-muted">¿Facturar?</label>
						        	<input type="checkbox" data-ng-model="inciSis.facturar"/>	            
						            <div class="form-group has-feedback" data-ng-if="inciSis.facturar">
						            	<label class="text-muted">Concepto factura</label>
										<input type="text" name="factura" placeholder="Factura" ng-model="inciSis.factura" class="form-control" required=""/>
										<span ng-show="!formIncitSis.factura.$pristine && formIncitSis.factura.$error.required" class="text-danger">Campo obligatorio.</span>
						            </div>
								</div>
								
				        	</form>
				    		
				    		<div class="alignLeft ml-lg mb-lg">
								<button class="btn btn-primary mt-lg" data-ng-disabled="formInciSis.$invalid" data-ng-click="add()">Añadir</button>
								<button class="btn btn-warning mt-lg" data-ng-click="resetFormInciSis()">Cancelar</button>
							</div>
							    
				    		<div class="container-fluid clear">
								<div data-ng-if="errorFormInciSis">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorFormInciSis()" aria-hidden="true">×</button>
										{{errorFormInciSis}}
						           	</div>
						       	</div>
						    </div>
						    
				    	</div>
				    	
						<h4 class="clearfix">
							<div class="floatRight centrado">
								<button type="button" class="btn btn-primary ml-sm" data-ng-click="newInciSis()" data-ng-disabled="nuevaInci">Añadir</button>
							</div>
						</h4>
						
						         
						<div data-ng-if="incidenciasFinal">
							<div ng-repeat="incidencia in incidenciasFinal" class="panel mb" data-ng-init="incidencia.colapsar = true" data-ng-class="{'panel-warning': comprobarInciSis(incidencia)==0, 'panel-danger': comprobarInciSis(incidencia)==1, 'panel-success': comprobarInciSis(incidencia)==2}" data-ng-click="incidencia.colapsar = !incidencia.colapsar">
					            
					        	<div data-ng-class="{'panel-heading-collapsed': incidencia.colapsar}" class="panel-heading">
						        	<span>Incidencia: {{incidencia.referencia}} - {{incidencia.cad}} - {{incidencia.tipo}} - {{incidencia.status}}</span>
						    		<span class="buttonsCabecera"><button data-ng-click="irInci(incidencia)" title="Edit" class="btn btn-sm btn-info"><em class="fa fa-pencil"></em></button></span>
								</div>
					            
						        <div collapse="incidencia.colapsar" class="panel-wrapper collapse">
						            <div class="row mt-lg ml-lg mb-lg mr-lg">
										<div class="col-sm-6 col-sm-12">
											<p>Referencia: {{incidencia.referencia}}.</p>
											<p>Tipo: {{incidencia.tipo}}</p>
											<p>¿Registro policial?: {{incidencia.registro_policial}}</p>
											<p>Sistema: {{incidencia.sistema}}</p>
											<p>Status: {{incidencia.status}}</p>
											<p>Avisa: {{incidencia.avisa}}</p>
											<p>Inicio: {{incidencia.inicio}}</p>
											<p>Caducidad: {{incidencia.cad}}</p>
											<p>Fin: {{incidencia.fin}}</p>
											<p>Concepto: {{incidencia.concepto}}</p>
											<p>Técnico: {{incidencia.tecnico}}</p>
											<p>Descripción: {{incidencia.descripcion}}</p>
											<p>¿Facturar?: {{incidencia.facturar}}</p>
											<p data-ng-show="incidencia.facturar">Factura: {{incidencia.factura}}</p>
										</div>
										<div class="col-sm-6 col-sm-12">
											<label>Tareas</label>
											<ul>
												<li ng-repeat="tarea in incidencia.tareas">
													{{tarea.timestamp}} - {{tarea.descripcion}}
												</li>
											</ul>
										</div>
									</div>
						        </div>
							</div>
						</div>
						
						<div class="panel panel-danger" data-ng-if="!incidenciasFinal">
							<div class="panel-heading">No hay Instalaciones asociadas</div>
						</div>
						
						
						<div class="container-fluid">
							<div data-ng-if="errorInciSis">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorInciSis()" aria-hidden="true">×</button>
									{{errorInciSis}}
					        	</div>
					    	</div>
					    </div>

					</div>
				</tab>
				
				<!----------------------------------- Pestaña de Llaves ----------------------------------->
				
				<tab active="recall" data-ng-controller="SistemasLlavesCntrl" data-ng-hide="nuevo" before-select="pararSiModificado($event)">
					<tab-heading>Llaves</tab-heading>	
					<div>
						<div class="panel panel-default" data-ng-show="nuevaLlave">
							<form role="form" name="formLlaveSis" novalidate="" class="form-validate mb-lg mt-lg ml-lg mr-lg">
								
								<h4>{{titulo}}</h4>
								
								<div class="form-group has-feedback">
									<label class="text-muted">Referencia</label>
									<input type="text" name="referencia" ng-model="llaveSis.referencia" class="form-control blanco" readonly=""/>
				            	</div>
				            	
								<div class="form-group has-feedback">
									<label class="text-muted">Nombre</label>
									<input type="text" name="nombre" ng-model="llaveSis.nombre" class="form-control" autocomplete="off" required=""/>
									<span ng-show="!formLlaveSis.nombre.$pristine && formLlaveSis.nombre.$error.required" class="text-danger">Campo obligatorio.</span>
				            	</div>
				            	
				            	<div class="form-group has-feedback">
									<label class="text-muted">Ubicación</label>
									<input type="text" name="ubicacion" ng-model="llaveSis.ubicacion" class="form-control" autocomplete="off" required=""/>
									<span ng-show="!formLlaveSis.ubicacion.$pristine && formLlaveSis.ubicacion.$error.required" class="text-danger">Campo obligatorio.</span>
				            	</div>
				            								    
							</form>
							
							<div class="alignLeft ml-lg mb-lg">
								<button class="btn btn-primary mt-lg" data-ng-disabled="formLlaveSis.$invalid" data-ng-click="add()">{{boton}}</button>
								<button class="btn btn-danger mt-lg" data-ng-click="delLlave()" data-ng-if="llaveSis.id">Eliminar</button>
								<button class="btn btn-warning mt-lg" data-ng-click="resetFormLlaveSis()">Cancelar</button>
							</div>
							    
							<div class="container-fluid">
								<div data-ng-if="errorFormLlaveSis">
									<br><br>
									<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-ng-click="clearErrorFormLlaveSis()" aria-hidden="true">×</button>
										{{errorFormLlaveSis}}
						        	</div>
						    	</div>
						    </div>
						</div>
						
						<h4 class="clearfix">
							<div class="floatRight centrado">
								<button type="button" class="btn btn-primary ml-sm" data-ng-click="newLlaveSis()" data-ng-disabled="nuevaInci">Añadir</button>
							</div>
						</h4>
						
						<div>
							<div data-ng-if="llavesFinal">						
								<div ng-repeat="llave in llavesFinal" class="col-sm-6 col-sm-12">
									<div class="panel panel-success">
										<div class="panel-heading">Llave <span>{{llave.referencia}}</span><span class="buttonsCabecera"><button data-ng-click="editLlave(llave)" title="Edit" class="btn btn-sm btn-info"><em class="fa fa-pencil"></em></button></span>
										</div>
										<div class="panel-body">
											<p>Referencia: {{llave.referencia}}.</p>
											<p>Nombre: {{llave.nombre}}</p>
											<p>Sistema: {{sis.nombre}}</p>
											<p>Ubicación: {{llave.ubicacion}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-danger" data-ng-if="!llavesFinal">
								<div class="panel-heading">No hay Llaves asociadas</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div data-ng-if="errorLlaveSis">
								<br><br>
								<div class="alert alert-danger alert-dismissable">
									<button type="button" class="close" data-ng-click="clearErrorLlaveSis()" aria-hidden="true">×</button>
									{{errorLlaveSis}}
					        	</div>
					    	</div>
					    </div>
						
					</div>
				</tab>
				
			</tabset>
		</div>
	
		<!----------------------------------- Tabla de sistemas ----------------------------------->
		
		<h4 class="clearfix">
			<div class="col-sm-3 col-xs-6 text-center" data-ng-show="buffer">
				<p>Cargando datos:</p>
				<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
					<i>{{progressValue}} %</i>
				</progressbar>
			</div>
			
			<div data-ng-class="{'deshabilitar': buffer}" class="floatRight centrado">
				<button type="button" class="btn btn-green ml-sm" data-ng-click="togleRevisados()" data-ng-disabled="mostrar" data-ng-class="{'active': filtrado}"><i class="fa" data-ng-class="{'fa-toggle-on': filtrado, 'fa-toggle-off': !filtrado}"></i>   Mostrar no revisados</button>
			    <button type="button" class="btn btn-primary ml-sm" data-ng-click="mostrarForm()" data-ng-disabled="mostrar">Añadir</button>
			    <button type="button" class="btn btn-primary ml-sm" data-ng-click="remove()">Eliminar Seleccionados</button>
			</div>
		</h4>
		<div data-ng-class="{'deshabilitar': buffer}" ui-grid="gridOptionsComplex" ui-grid-pagination="" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-move-columns="" ui-grid-auto-resize="" ui-grid-pinning="" class="table-uigrid" ng-style="{height: comprobarTamano()+'px'}"></div>
		
		<div class="container-fluid">
			<div>
				<div data-ng-if="currentError" class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-ng-click="clearError()" aria-hidden="true">×</button>
					{{currentError}}
	           	</div>
	        </div>
	    </div>
	</div>
</div>